openapi: 3.0.0
info:
  title: BO4E API
  version: '1.0'
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.bo4e.de
    description: Production Environment
tags:
  - name: Transaktionsdaten
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Transaktionsdaten"
      showReadOnly={true} showWriteOnly={true} />
  - name: Stammdaten
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Stammdaten"
      showReadOnly={true} showWriteOnly={true} />
  - name: AdHocSteuerkanal
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/AdHocSteuerkanal"
      showReadOnly={true} showWriteOnly={true} />
  - name: Anfrage
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Anfrage"
      showReadOnly={true} showWriteOnly={true} />
  - name: Angebot
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Angebot"
      showReadOnly={true} showWriteOnly={true} />
  - name: Ansprechpartner
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Ansprechpartner"
      showReadOnly={true} showWriteOnly={true} />
  - name: Auftrag
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Auftrag"
      showReadOnly={true} showWriteOnly={true} />
  - name: Avis
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Avis"
      showReadOnly={true} showWriteOnly={true} />
  - name: Berechnungsformel
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Berechnungsformel"
      showReadOnly={true} showWriteOnly={true} />
  - name: Bilanzierung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Bilanzierung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Bilanzkreis
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Bilanzkreis"
      showReadOnly={true} showWriteOnly={true} />
  - name: Energiemenge
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Energiemenge"
      showReadOnly={true} showWriteOnly={true} />
  - name: Geschaeftspartner
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Geschaeftspartner"
      showReadOnly={true} showWriteOnly={true} />
  - name: Handelsunstimmigkeit
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Handelsunstimmigkeit"
      showReadOnly={true} showWriteOnly={true} />
  - name: Kommunikationsdaten
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Kommunikationsdaten"
      showReadOnly={true} showWriteOnly={true} />
  - name: Leistungskurvendefinition
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/Leistungskurvendefinition"
      showReadOnly={true} showWriteOnly={true} />
  - name: Lokationsbuendel
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Lokationsbuendel"
      showReadOnly={true} showWriteOnly={true} />
  - name: Marktlokation
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Marktlokation"
      showReadOnly={true} showWriteOnly={true} />
  - name: Marktteilnehmer
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Marktteilnehmer"
      showReadOnly={true} showWriteOnly={true} />
  - name: Messlokation
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Messlokation"
      showReadOnly={true} showWriteOnly={true} />
  - name: Netzlokation
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Netzlokation"
      showReadOnly={true} showWriteOnly={true} />
  - name: Preisblatt
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Preisblatt"
      showReadOnly={true} showWriteOnly={true} />
  - name: Rechnung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Rechnung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Reklamation
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Reklamation"
      showReadOnly={true} showWriteOnly={true} />
  - name: Schaltzeitdefinition
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Schaltzeitdefinition"
      showReadOnly={true} showWriteOnly={true} />
  - name: Sperrauftrag
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Sperrauftrag"
      showReadOnly={true} showWriteOnly={true} />
  - name: Statusbericht
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Statusbericht"
      showReadOnly={true} showWriteOnly={true} />
  - name: Statusmitteilung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Statusmitteilung"
      showReadOnly={true} showWriteOnly={true} />
  - name: SteuerbareRessource
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/SteuerbareRessource"
      showReadOnly={true} showWriteOnly={true} />
  - name: Tarifinfo
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Tarifinfo"
      showReadOnly={true} showWriteOnly={true} />
  - name: TechnischeRessource
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/TechnischeRessource"
      showReadOnly={true} showWriteOnly={true} />
  - name: Tranche
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Tranche"
      showReadOnly={true} showWriteOnly={true} />
  - name: Vertrag
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Vertrag"
      showReadOnly={true} showWriteOnly={true} />
  - name: Verwendungszeitraum
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Verwendungszeitraum"
      showReadOnly={true} showWriteOnly={true} />
  - name: WerteNachTyp2
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/WerteNachTyp2"
      showReadOnly={true} showWriteOnly={true} />
  - name: Zaehler
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Zaehler"
      showReadOnly={true} showWriteOnly={true} />
  - name: Zaehlzeitdefinition
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Zaehlzeitdefinition"
      showReadOnly={true} showWriteOnly={true} />
  - name: Abschlag
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Abschlag"
      showReadOnly={true} showWriteOnly={true} />
  - name: Abtretungserklaerung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Abtretungserklaerung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Abweichung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Abweichung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Abweichungsposition
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Abweichungsposition"
      showReadOnly={true} showWriteOnly={true} />
  - name: Adresse
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Adresse"
      showReadOnly={true} showWriteOnly={true} />
  - name: AdresszusatzInformation
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/AdresszusatzInformation"
      showReadOnly={true} showWriteOnly={true} />
  - name: AllgemeineInformationen
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/AllgemeineInformationen"
      showReadOnly={true} showWriteOnly={true} />
  - name: Angebotsposition
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Angebotsposition"
      showReadOnly={true} showWriteOnly={true} />
  - name: Angebotsteil
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Angebotsteil"
      showReadOnly={true} showWriteOnly={true} />
  - name: Angebotsvariante
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Angebotsvariante"
      showReadOnly={true} showWriteOnly={true} />
  - name: AntwortStatusZeitraum
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/AntwortStatusZeitraum"
      showReadOnly={true} showWriteOnly={true} />
  - name: AuftragPosition
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/AuftragPosition"
      showReadOnly={true} showWriteOnly={true} />
  - name: Aussteller
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Aussteller"
      showReadOnly={true} showWriteOnly={true} />
  - name: Avisposition
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Avisposition"
      showReadOnly={true} showWriteOnly={true} />
  - name: Bankverbindung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Bankverbindung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Begruendung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Begruendung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Beschreibung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Beschreibung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Betrag
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Betrag"
      showReadOnly={true} showWriteOnly={true} />
  - name: Dienstleistung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Dienstleistung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Energieherkunft
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Energieherkunft"
      showReadOnly={true} showWriteOnly={true} />
  - name: Energiemix
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Energiemix"
      showReadOnly={true} showWriteOnly={true} />
  - name: EnFG
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/EnFG"
      showReadOnly={true} showWriteOnly={true} />
  - name: Erreichbarkeit
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Erreichbarkeit"
      showReadOnly={true} showWriteOnly={true} />
  - name: ExterneReferenz
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/ExterneReferenz"
      showReadOnly={true} showWriteOnly={true} />
  - name: Fehler
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Fehler"
      showReadOnly={true} showWriteOnly={true} />
  - name: Fehlerbeschreibung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Fehlerbeschreibung"
      showReadOnly={true} showWriteOnly={true} />
  - name: FehlerDetail
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/FehlerDetail"
      showReadOnly={true} showWriteOnly={true} />
  - name: FehlerUrsache
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/FehlerUrsache"
      showReadOnly={true} showWriteOnly={true} />
  - name: Freitext
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Freitext"
      showReadOnly={true} showWriteOnly={true} />
  - name: Gemeinderabatt
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Gemeinderabatt"
      showReadOnly={true} showWriteOnly={true} />
  - name: Geokoordinaten
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Geokoordinaten"
      showReadOnly={true} showWriteOnly={true} />
  - name: Geraet
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Geraet"
      showReadOnly={true} showWriteOnly={true} />
  - name: Geraeteeigenschaften
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Geraeteeigenschaften"
      showReadOnly={true} showWriteOnly={true} />
  - name: Gruppe
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Gruppe"
      showReadOnly={true} showWriteOnly={true} />
  - name: Handelsunstimmigkeitsbegruendung
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/Handelsunstimmigkeitsbegruendung"
      showReadOnly={true} showWriteOnly={true} />
  - name: InfoAbweichung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/InfoAbweichung"
      showReadOnly={true} showWriteOnly={true} />
  - name: IPAdresseCLSDevice
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/IPAdresseCLSDevice"
      showReadOnly={true} showWriteOnly={true} />
  - name: IpRange
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/IpRange"
      showReadOnly={true} showWriteOnly={true} />
  - name: Katalogverweis
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Katalogverweis"
      showReadOnly={true} showWriteOnly={true} />
  - name: Katasteradresse
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Katasteradresse"
      showReadOnly={true} showWriteOnly={true} />
  - name: Kommunikationsparameter
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Kommunikationsparameter"
      showReadOnly={true} showWriteOnly={true} />
  - name: Konzessionsabgabe
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Konzessionsabgabe"
      showReadOnly={true} showWriteOnly={true} />
  - name: Lastprofil
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Lastprofil"
      showReadOnly={true} showWriteOnly={true} />
  - name: Leistungskurve
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Leistungskurve"
      showReadOnly={true} showWriteOnly={true} />
  - name: MarktlokationsTypisierung
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/MarktlokationsTypisierung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Menge
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Menge"
      showReadOnly={true} showWriteOnly={true} />
  - name: Messlokationszuordnung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Messlokationszuordnung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Messstellenbetriebsabrechnungsdaten
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/Messstellenbetriebsabrechnungsdaten"
      showReadOnly={true} showWriteOnly={true} />
  - name: Nennleistung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Nennleistung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Netznutzungsabrechnungsdaten
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/Netznutzungsabrechnungsdaten"
      showReadOnly={true} showWriteOnly={true} />
  - name: Objectcode
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Objectcode"
      showReadOnly={true} showWriteOnly={true} />
  - name: PositionsAufAbschlag
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/PositionsAufAbschlag"
      showReadOnly={true} showWriteOnly={true} />
  - name: Preis
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Preis"
      showReadOnly={true} showWriteOnly={true} />
  - name: Preisposition
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Preisposition"
      showReadOnly={true} showWriteOnly={true} />
  - name: Preisstaffel
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Preisstaffel"
      showReadOnly={true} showWriteOnly={true} />
  - name: Produkt
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Produkt"
      showReadOnly={true} showWriteOnly={true} />
  - name: Produktpaket
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Produktpaket"
      showReadOnly={true} showWriteOnly={true} />
  - name: Rechenschritt
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Rechenschritt"
      showReadOnly={true} showWriteOnly={true} />
  - name: Rechnungsposition
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Rechnungsposition"
      showReadOnly={true} showWriteOnly={true} />
  - name: ReklamationsgrundBemerkung
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/ReklamationsgrundBemerkung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Rueckmeldungsposition
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Rueckmeldungsposition"
      showReadOnly={true} showWriteOnly={true} />
  - name: Rufnummer
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Rufnummer"
      showReadOnly={true} showWriteOnly={true} />
  - name: Schaltzeit
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Schaltzeit"
      showReadOnly={true} showWriteOnly={true} />
  - name: Schwellwert
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Schwellwert"
      showReadOnly={true} showWriteOnly={true} />
  - name: Sigmoidparameter
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Sigmoidparameter"
      showReadOnly={true} showWriteOnly={true} />
  - name: StatusmitteilungPosition
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/StatusmitteilungPosition"
      showReadOnly={true} showWriteOnly={true} />
  - name: StatusZusatzInformation
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/StatusZusatzInformation"
      showReadOnly={true} showWriteOnly={true} />
  - name: Steuerbetrag
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Steuerbetrag"
      showReadOnly={true} showWriteOnly={true} />
  - name: Tagesparameter
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Tagesparameter"
      showReadOnly={true} showWriteOnly={true} />
  - name: Verbrauch
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Verbrauch"
      showReadOnly={true} showWriteOnly={true} />
  - name: Vertragskonditionen
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Vertragskonditionen"
      showReadOnly={true} showWriteOnly={true} />
  - name: Verwendungszweck
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Verwendungszweck"
      showReadOnly={true} showWriteOnly={true} />
  - name: Zaehlwerk
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Zaehlwerk"
      showReadOnly={true} showWriteOnly={true} />
  - name: Zaehlzeit
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Zaehlzeit"
      showReadOnly={true} showWriteOnly={true} />
  - name: Zaehlzeitregister
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Zaehlzeitregister"
      showReadOnly={true} showWriteOnly={true} />
  - name: Zeitraum
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Zeitraum"
      showReadOnly={true} showWriteOnly={true} />
  - name: ZertifikatsAussteller
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/ZertifikatsAussteller"
      showReadOnly={true} showWriteOnly={true} />
  - name: ZertifikatsNutzer
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/ZertifikatsNutzer"
      showReadOnly={true} showWriteOnly={true} />
  - name: Zieladresse
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Zieladresse"
      showReadOnly={true} showWriteOnly={true} />
  - name: ZugeordneteDefinition
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/ZugeordneteDefinition"
      showReadOnly={true} showWriteOnly={true} />
  - name: ZuordnungObjectcode
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/ZuordnungObjectcode"
      showReadOnly={true} showWriteOnly={true} />
  - name: Zuschlag
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Zuschlag"
      showReadOnly={true} showWriteOnly={true} />
  - name: AbgabeArt
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/AbgabeArt"
      showReadOnly={true} showWriteOnly={true} />
  - name: Abonnement
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Abonnement"
      showReadOnly={true} showWriteOnly={true} />
  - name: AbschlagTyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/AbschlagTyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Abweichungsgrund
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Abweichungsgrund"
      showReadOnly={true} showWriteOnly={true} />
  - name: Abwicklungsmodell
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Abwicklungsmodell"
      showReadOnly={true} showWriteOnly={true} />
  - name: AenderungsmoeglichkeitKonfiguration
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/AenderungsmoeglichkeitKonfiguration"
      showReadOnly={true} showWriteOnly={true} />
  - name: Aggregationsverantwortung
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/Aggregationsverantwortung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Anfragegrund
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Anfragegrund"
      showReadOnly={true} showWriteOnly={true} />
  - name: Anfragekategorie
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Anfragekategorie"
      showReadOnly={true} showWriteOnly={true} />
  - name: Anfragetyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Anfragetyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Angebotsstatus
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Angebotsstatus"
      showReadOnly={true} showWriteOnly={true} />
  - name: ArithmetischeOperation
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/ArithmetischeOperation"
      showReadOnly={true} showWriteOnly={true} />
  - name: ArtEmobilitaet
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/ArtEmobilitaet"
      showReadOnly={true} showWriteOnly={true} />
  - name: ArtikelIdTyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/ArtikelIdTyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: AufAbschlagstyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/AufAbschlagstyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Auftragsstatus
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Auftragsstatus"
      showReadOnly={true} showWriteOnly={true} />
  - name: AvisTyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/AvisTyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: BankverbindungVerwendungszweck
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/BankverbindungVerwendungszweck"
      showReadOnly={true} showWriteOnly={true} />
  - name: BDEWArtikelnummer
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/BDEWArtikelnummer"
      showReadOnly={true} showWriteOnly={true} />
  - name: BeauftragungMsb
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/BeauftragungMsb"
      showReadOnly={true} showWriteOnly={true} />
  - name: Befestigungsart
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Befestigungsart"
      showReadOnly={true} showWriteOnly={true} />
  - name: Bemessungsgroesse
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Bemessungsgroesse"
      showReadOnly={true} showWriteOnly={true} />
  - name: BerechnungsformelNotwendigkeit
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/BerechnungsformelNotwendigkeit"
      showReadOnly={true} showWriteOnly={true} />
  - name: BerichtStatus
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/BerichtStatus"
      showReadOnly={true} showWriteOnly={true} />
  - name: Betriebszustand
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Betriebszustand"
      showReadOnly={true} showWriteOnly={true} />
  - name: Bilanzierungsmethode
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Bilanzierungsmethode"
      showReadOnly={true} showWriteOnly={true} />
  - name: Bilanzkreiszuordnung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Bilanzkreiszuordnung"
      showReadOnly={true} showWriteOnly={true} />
  - name: BildungTranchengroesse
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/BildungTranchengroesse"
      showReadOnly={true} showWriteOnly={true} />
  - name: BOTyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/BOTyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Datenqualitaet
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Datenqualitaet"
      showReadOnly={true} showWriteOnly={true} />
  - name: DefinitionenNotwendigkeit
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/DefinitionenNotwendigkeit"
      showReadOnly={true} showWriteOnly={true} />
  - name: DefinitionsTyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/DefinitionsTyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Dienstleistungstyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Dienstleistungstyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Energieerfassung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Energieerfassung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Energierichtung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Energierichtung"
      showReadOnly={true} showWriteOnly={true} />
  - name: ErmittlungLeistungsmaximum
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/ErmittlungLeistungsmaximum"
      showReadOnly={true} showWriteOnly={true} />
  - name: Erzeugungsart
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Erzeugungsart"
      showReadOnly={true} showWriteOnly={true} />
  - name: Fallgruppenzuordnung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Fallgruppenzuordnung"
      showReadOnly={true} showWriteOnly={true} />
  - name: FehlerCode
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/FehlerCode"
      showReadOnly={true} showWriteOnly={true} />
  - name: FehlerTyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/FehlerTyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Fernschaltung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Fernschaltung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Fernsteuerbarkeit
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Fernsteuerbarkeit"
      showReadOnly={true} showWriteOnly={true} />
  - name: Gasqualitaet
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Gasqualitaet"
      showReadOnly={true} showWriteOnly={true} />
  - name: Gebiettyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Gebiettyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Geraetemerkmal
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Geraetemerkmal"
      showReadOnly={true} showWriteOnly={true} />
  - name: Geraetetyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Geraetetyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Geschaeftspartnerrolle
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Geschaeftspartnerrolle"
      showReadOnly={true} showWriteOnly={true} />
  - name: GrundlageVerringerungUmlagen
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/GrundlageVerringerungUmlagen"
      showReadOnly={true} showWriteOnly={true} />
  - name: GrundlageVerringerungUmlagenGrund
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/GrundlageVerringerungUmlagenGrund"
      showReadOnly={true} showWriteOnly={true} />
  - name: HaeufigkeitLeistungskurve
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/HaeufigkeitLeistungskurve"
      showReadOnly={true} showWriteOnly={true} />
  - name: HaeufigkeitSchaltzeit
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/HaeufigkeitSchaltzeit"
      showReadOnly={true} showWriteOnly={true} />
  - name: HaeufigkeitZaehlzeit
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/HaeufigkeitZaehlzeit"
      showReadOnly={true} showWriteOnly={true} />
  - name: Handelsunstimmigkeitsgrund
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/Handelsunstimmigkeitsgrund"
      showReadOnly={true} showWriteOnly={true} />
  - name: Handelsunstimmigkeitsrichtigkeit
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/Handelsunstimmigkeitsrichtigkeit"
      showReadOnly={true} showWriteOnly={true} />
  - name: Handelsunstimmigkeitstyp
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/Handelsunstimmigkeitstyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Herausgeber
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Herausgeber"
      showReadOnly={true} showWriteOnly={true} />
  - name: Inbetriebsetzung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Inbetriebsetzung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Kalkulationsmethode
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Kalkulationsmethode"
      showReadOnly={true} showWriteOnly={true} />
  - name: Kommunikationsrolle
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Kommunikationsrolle"
      showReadOnly={true} showWriteOnly={true} />
  - name: Kontaktart
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Kontaktart"
      showReadOnly={true} showWriteOnly={true} />
  - name: Kundentyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Kundentyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Landescode
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Landescode"
      showReadOnly={true} showWriteOnly={true} />
  - name: Leistungsbezeichnung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Leistungsbezeichnung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Leistungstyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Leistungstyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Lokationstyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Lokationstyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Lokationszuordnung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Lokationszuordnung"
      showReadOnly={true} showWriteOnly={true} />
  - name: MarktlokationsTyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/MarktlokationsTyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Marktrolle
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Marktrolle"
      showReadOnly={true} showWriteOnly={true} />
  - name: Mengeneinheit
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Mengeneinheit"
      showReadOnly={true} showWriteOnly={true} />
  - name: Mengenumwertertyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Mengenumwertertyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: MesstechnischeEinordnung
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/MesstechnischeEinordnung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Messwerterfassung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Messwerterfassung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Messwertstatus
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Messwertstatus"
      showReadOnly={true} showWriteOnly={true} />
  - name: ModulNetzentgelte
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/ModulNetzentgelte"
      showReadOnly={true} showWriteOnly={true} />
  - name: MSBEigenschaft
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/MSBEigenschaft"
      showReadOnly={true} showWriteOnly={true} />
  - name: Netzebene
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Netzebene"
      showReadOnly={true} showWriteOnly={true} />
  - name: Netznutzungsabrechnungsgrundlage
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/Netznutzungsabrechnungsgrundlage"
      showReadOnly={true} showWriteOnly={true} />
  - name: Netznutzungsabrechnungsvariante
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/Netznutzungsabrechnungsvariante"
      showReadOnly={true} showWriteOnly={true} />
  - name: Netznutzungsvertrag
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Netznutzungsvertrag"
      showReadOnly={true} showWriteOnly={true} />
  - name: Netznutzungszahler
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Netznutzungszahler"
      showReadOnly={true} showWriteOnly={true} />
  - name: NotwendigkeitZweiteMessung
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/NotwendigkeitZweiteMessung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Oekolabel
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Oekolabel"
      showReadOnly={true} showWriteOnly={true} />
  - name: Oekozertifikat
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Oekozertifikat"
      showReadOnly={true} showWriteOnly={true} />
  - name: Preisstatus
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Preisstatus"
      showReadOnly={true} showWriteOnly={true} />
  - name: Priorisierung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Priorisierung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Profilart
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Profilart"
      showReadOnly={true} showWriteOnly={true} />
  - name: Profiltyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Profiltyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Profilverfahren
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Profilverfahren"
      showReadOnly={true} showWriteOnly={true} />
  - name: Prognosegrundlage
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Prognosegrundlage"
      showReadOnly={true} showWriteOnly={true} />
  - name: Rechnungsstatus
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Rechnungsstatus"
      showReadOnly={true} showWriteOnly={true} />
  - name: Rechnungstyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Rechnungstyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Registeranzahl
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Registeranzahl"
      showReadOnly={true} showWriteOnly={true} />
  - name: Reklamationsgrund
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Reklamationsgrund"
      showReadOnly={true} showWriteOnly={true} />
  - name: RessourceWechselmoeglichkeit
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/RessourceWechselmoeglichkeit"
      showReadOnly={true} showWriteOnly={true} />
  - name: Rollencodetyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Rollencodetyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Rufnummernart
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Rufnummernart"
      showReadOnly={true} showWriteOnly={true} />
  - name: Schalthandlung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Schalthandlung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Schwachlastfaehig
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Schwachlastfaehig"
      showReadOnly={true} showWriteOnly={true} />
  - name: SonderrechnungsArt
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/SonderrechnungsArt"
      showReadOnly={true} showWriteOnly={true} />
  - name: Sparte
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Sparte"
      showReadOnly={true} showWriteOnly={true} />
  - name: Speicherart
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Speicherart"
      showReadOnly={true} showWriteOnly={true} />
  - name: Sperrauftragsablehngrund
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/Sperrauftragsablehngrund"
      showReadOnly={true} showWriteOnly={true} />
  - name: Sperrauftragsart
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Sperrauftragsart"
      showReadOnly={true} showWriteOnly={true} />
  - name: Sperrauftragsverhinderungsgrund
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/Sperrauftragsverhinderungsgrund"
      showReadOnly={true} showWriteOnly={true} />
  - name: Sperrstatus
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Sperrstatus"
      showReadOnly={true} showWriteOnly={true} />
  - name: Status
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Status"
      showReadOnly={true} showWriteOnly={true} />
  - name: Statusanlass
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Statusanlass"
      showReadOnly={true} showWriteOnly={true} />
  - name: StatusArt
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/StatusArt"
      showReadOnly={true} showWriteOnly={true} />
  - name: StatusErzeugendeMarktlokation
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/StatusErzeugendeMarktlokation"
      showReadOnly={true} showWriteOnly={true} />
  - name: Statusobjekt
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Statusobjekt"
      showReadOnly={true} showWriteOnly={true} />
  - name: Steuerkanal
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Steuerkanal"
      showReadOnly={true} showWriteOnly={true} />
  - name: Steuerkennzeichen
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Steuerkennzeichen"
      showReadOnly={true} showWriteOnly={true} />
  - name: Tarifart
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Tarifart"
      showReadOnly={true} showWriteOnly={true} />
  - name: Tarifmerkmal
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Tarifmerkmal"
      showReadOnly={true} showWriteOnly={true} />
  - name: Tarifstufe
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Tarifstufe"
      showReadOnly={true} showWriteOnly={true} />
  - name: Tariftyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Tariftyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Tarifzeit
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Tarifzeit"
      showReadOnly={true} showWriteOnly={true} />
  - name: TechnischeRessourceArt
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/TechnischeRessourceArt"
      showReadOnly={true} showWriteOnly={true} />
  - name: UebermittelbarkeitLeistungskurve
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/UebermittelbarkeitLeistungskurve"
      showReadOnly={true} showWriteOnly={true} />
  - name: UebermittelbarkeitSchaltzeit
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/UebermittelbarkeitSchaltzeit"
      showReadOnly={true} showWriteOnly={true} />
  - name: UebermittelbarkeitZaehlzeit
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/UebermittelbarkeitZaehlzeit"
      showReadOnly={true} showWriteOnly={true} />
  - name: Umsetzungsgradvorgabe
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Umsetzungsgradvorgabe"
      showReadOnly={true} showWriteOnly={true} />
  - name: Unterbrechbarkeit
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Unterbrechbarkeit"
      showReadOnly={true} showWriteOnly={true} />
  - name: Verbrauchsart
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Verbrauchsart"
      showReadOnly={true} showWriteOnly={true} />
  - name: Verbrauchsmengetyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Verbrauchsmengetyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Verfuegbarkeit
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Verfuegbarkeit"
      showReadOnly={true} showWriteOnly={true} />
  - name: VerguetungEmpfaenger
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/VerguetungEmpfaenger"
      showReadOnly={true} showWriteOnly={true} />
  - name: Versorgungsart
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Versorgungsart"
      showReadOnly={true} showWriteOnly={true} />
  - name: Vertragsart
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Vertragsart"
      showReadOnly={true} showWriteOnly={true} />
  - name: Vertragstatus
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Vertragstatus"
      showReadOnly={true} showWriteOnly={true} />
  - name: Verwendungsumfang
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Verwendungsumfang"
      showReadOnly={true} showWriteOnly={true} />
  - name: Verwendungszeitraumqualitaet
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/Verwendungszeitraumqualitaet"
      showReadOnly={true} showWriteOnly={true} />
  - name: VerwendungszweckBilanzkreis
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/VerwendungszweckBilanzkreis"
      showReadOnly={true} showWriteOnly={true} />
  - name: VerwendungszweckValue
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/VerwendungszweckValue"
      showReadOnly={true} showWriteOnly={true} />
  - name: Volumenerfassung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Volumenerfassung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Waehrungseinheit
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Waehrungseinheit"
      showReadOnly={true} showWriteOnly={true} />
  - name: Waermenutzung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Waermenutzung"
      showReadOnly={true} showWriteOnly={true} />
  - name: WahlrechtPrognosegrundlage
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/WahlrechtPrognosegrundlage"
      showReadOnly={true} showWriteOnly={true} />
  - name: Wertegranularitaet
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Wertegranularitaet"
      showReadOnly={true} showWriteOnly={true} />
  - name: Wertermittlungsverfahren
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/Wertermittlungsverfahren"
      showReadOnly={true} showWriteOnly={true} />
  - name: WerteuebermittlungVerwendungszweck
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/WerteuebermittlungVerwendungszweck"
      showReadOnly={true} showWriteOnly={true} />
  - name: Zaehlerauspraegung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Zaehlerauspraegung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Zaehlertyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Zaehlertyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: ZaehlertypSpezifikation
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/ZaehlertypSpezifikation"
      showReadOnly={true} showWriteOnly={true} />
  - name: ZaehlzeitdefinitionTyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/ZaehlzeitdefinitionTyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: ZahlerBlindarbeit
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/ZahlerBlindarbeit"
      showReadOnly={true} showWriteOnly={true} />
  - name: Zeiteinheit
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Zeiteinheit"
      showReadOnly={true} showWriteOnly={true} />
  - name: Zeitreihentyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Zeitreihentyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Zone
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Zone"
      showReadOnly={true} showWriteOnly={true} />
  - name: ZuschlagTyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/ZuschlagTyp"
      showReadOnly={true} showWriteOnly={true} />
x-tagGroups:
  - name: CDOC Elemente
    tags:
      - Transaktionsdaten
      - Stammdaten
  - name: BO
    tags:
      - AdHocSteuerkanal
      - Anfrage
      - Angebot
      - Ansprechpartner
      - Auftrag
      - Avis
      - Berechnungsformel
      - Bilanzierung
      - Bilanzkreis
      - Energiemenge
      - Geschaeftspartner
      - Handelsunstimmigkeit
      - Kommunikationsdaten
      - Leistungskurvendefinition
      - Lokationsbuendel
      - Marktlokation
      - Marktteilnehmer
      - Messlokation
      - Netzlokation
      - Preisblatt
      - Rechnung
      - Reklamation
      - Schaltzeitdefinition
      - Sperrauftrag
      - Statusbericht
      - Statusmitteilung
      - SteuerbareRessource
      - Tarifinfo
      - TechnischeRessource
      - Tranche
      - Vertrag
      - Verwendungszeitraum
      - WerteNachTyp2
      - Zaehler
      - Zaehlzeitdefinition
  - name: COM
    tags:
      - Abschlag
      - Abtretungserklaerung
      - Abweichung
      - Abweichungsposition
      - Adresse
      - AdresszusatzInformation
      - AllgemeineInformationen
      - Angebotsposition
      - Angebotsteil
      - Angebotsvariante
      - AntwortStatusZeitraum
      - AuftragPosition
      - Aussteller
      - Avisposition
      - Bankverbindung
      - Begruendung
      - Beschreibung
      - Betrag
      - Dienstleistung
      - Energieherkunft
      - Energiemix
      - EnFG
      - Erreichbarkeit
      - ExterneReferenz
      - Fehler
      - Fehlerbeschreibung
      - FehlerDetail
      - FehlerUrsache
      - Freitext
      - Gemeinderabatt
      - Geokoordinaten
      - Geraet
      - Geraeteeigenschaften
      - Gruppe
      - Handelsunstimmigkeitsbegruendung
      - InfoAbweichung
      - IPAdresseCLSDevice
      - IpRange
      - Katalogverweis
      - Katasteradresse
      - Kommunikationsparameter
      - Konzessionsabgabe
      - Lastprofil
      - Leistungskurve
      - MarktlokationsTypisierung
      - Menge
      - Messlokationszuordnung
      - Messstellenbetriebsabrechnungsdaten
      - Nennleistung
      - Netznutzungsabrechnungsdaten
      - Objectcode
      - PositionsAufAbschlag
      - Preis
      - Preisposition
      - Preisstaffel
      - Produkt
      - Produktpaket
      - Rechenschritt
      - Rechnungsposition
      - ReklamationsgrundBemerkung
      - Rueckmeldungsposition
      - Rufnummer
      - Schaltzeit
      - Schwellwert
      - Sigmoidparameter
      - StatusmitteilungPosition
      - StatusZusatzInformation
      - Steuerbetrag
      - Tagesparameter
      - Verbrauch
      - Vertragskonditionen
      - Verwendungszweck
      - Zaehlwerk
      - Zaehlzeit
      - Zaehlzeitregister
      - Zeitraum
      - ZertifikatsAussteller
      - ZertifikatsNutzer
      - Zieladresse
      - ZugeordneteDefinition
      - ZuordnungObjectcode
      - Zuschlag
  - name: ENUM
    tags:
      - AbgabeArt
      - Abonnement
      - AbschlagTyp
      - Abweichungsgrund
      - Abwicklungsmodell
      - AenderungsmoeglichkeitKonfiguration
      - Aggregationsverantwortung
      - Anfragegrund
      - Anfragekategorie
      - Anfragetyp
      - Angebotsstatus
      - ArithmetischeOperation
      - ArtEmobilitaet
      - ArtikelIdTyp
      - AufAbschlagstyp
      - Auftragsstatus
      - AvisTyp
      - BankverbindungVerwendungszweck
      - BDEWArtikelnummer
      - BeauftragungMsb
      - Befestigungsart
      - Bemessungsgroesse
      - BerechnungsformelNotwendigkeit
      - BerichtStatus
      - Betriebszustand
      - Bilanzierungsmethode
      - Bilanzkreiszuordnung
      - BildungTranchengroesse
      - BOTyp
      - Datenqualitaet
      - DefinitionenNotwendigkeit
      - DefinitionsTyp
      - Dienstleistungstyp
      - Energieerfassung
      - Energierichtung
      - ErmittlungLeistungsmaximum
      - Erzeugungsart
      - Fallgruppenzuordnung
      - FehlerCode
      - FehlerTyp
      - Fernschaltung
      - Fernsteuerbarkeit
      - Gasqualitaet
      - Gebiettyp
      - Geraetemerkmal
      - Geraetetyp
      - Geschaeftspartnerrolle
      - GrundlageVerringerungUmlagen
      - GrundlageVerringerungUmlagenGrund
      - HaeufigkeitLeistungskurve
      - HaeufigkeitSchaltzeit
      - HaeufigkeitZaehlzeit
      - Handelsunstimmigkeitsgrund
      - Handelsunstimmigkeitsrichtigkeit
      - Handelsunstimmigkeitstyp
      - Herausgeber
      - Inbetriebsetzung
      - Kalkulationsmethode
      - Kommunikationsrolle
      - Kontaktart
      - Kundentyp
      - Landescode
      - Leistungsbezeichnung
      - Leistungstyp
      - Lokationstyp
      - Lokationszuordnung
      - MarktlokationsTyp
      - Marktrolle
      - Mengeneinheit
      - Mengenumwertertyp
      - MesstechnischeEinordnung
      - Messwerterfassung
      - Messwertstatus
      - ModulNetzentgelte
      - MSBEigenschaft
      - Netzebene
      - Netznutzungsabrechnungsgrundlage
      - Netznutzungsabrechnungsvariante
      - Netznutzungsvertrag
      - Netznutzungszahler
      - NotwendigkeitZweiteMessung
      - Oekolabel
      - Oekozertifikat
      - Preisstatus
      - Priorisierung
      - Profilart
      - Profiltyp
      - Profilverfahren
      - Prognosegrundlage
      - Rechnungsstatus
      - Rechnungstyp
      - Registeranzahl
      - Reklamationsgrund
      - RessourceWechselmoeglichkeit
      - Rollencodetyp
      - Rufnummernart
      - Schalthandlung
      - Schwachlastfaehig
      - SonderrechnungsArt
      - Sparte
      - Speicherart
      - Sperrauftragsablehngrund
      - Sperrauftragsart
      - Sperrauftragsverhinderungsgrund
      - Sperrstatus
      - Status
      - Statusanlass
      - StatusArt
      - StatusErzeugendeMarktlokation
      - Statusobjekt
      - Steuerkanal
      - Steuerkennzeichen
      - Tarifart
      - Tarifmerkmal
      - Tarifstufe
      - Tariftyp
      - Tarifzeit
      - TechnischeRessourceArt
      - UebermittelbarkeitLeistungskurve
      - UebermittelbarkeitSchaltzeit
      - UebermittelbarkeitZaehlzeit
      - Umsetzungsgradvorgabe
      - Unterbrechbarkeit
      - Verbrauchsart
      - Verbrauchsmengetyp
      - Verfuegbarkeit
      - VerguetungEmpfaenger
      - Versorgungsart
      - Vertragsart
      - Vertragstatus
      - Verwendungsumfang
      - Verwendungszeitraumqualitaet
      - VerwendungszweckBilanzkreis
      - VerwendungszweckValue
      - Volumenerfassung
      - Waehrungseinheit
      - Waermenutzung
      - WahlrechtPrognosegrundlage
      - Wertegranularitaet
      - Wertermittlungsverfahren
      - WerteuebermittlungVerwendungszweck
      - Zaehlerauspraegung
      - Zaehlertyp
      - ZaehlertypSpezifikation
      - ZaehlzeitdefinitionTyp
      - ZahlerBlindarbeit
      - Zeiteinheit
      - Zeitreihentyp
      - Zone
      - ZuschlagTyp
paths: {}
components:
  schemas:
    Transaktionsdaten:
      type: object
      properties:
        datenaustauschreferenz:
          description: >-
            Enthält die eindeutige Datenaustauschreferenz der Nachricht, die in
            der EDIFact Kommunikation verwendet wird
          type: string
        sparte:
          description: Enthält Informationen über die Sparte
          $ref: '#/components/schemas/Sparte'
        transaktionsgrund:
          description: >-
            Der Transaktionsgrund beschreibt den Geschäftsvorfall zur Kategorie
            genauer / UTILMD STS+7++###+ZW4+E03
          type: string
        transaktionsgrundergaenzung:
          description: Ergänzung zum Transaktionsgrund / UTILMD STS+7++E01+###+E03
          type: string
        transaktionsgrundergaenzungBefristeteAnmeldung:
          description: >-
            Ergänzung zum Transaktionsgrund bei befristeten An-/Abmeldungen /
            UTILMD STS+7++E01+ZW4+###
          type: string
        lieferrichtung:
          description: >-
            Gibt an, ob es Erzeugung oder Verbrauch ist / UTILMD CCI+Z30 /
            ORDERS IMD++Z14
          type: string
        prozessdatum:
          description: Wird intern erzeugt - OBSOLET
          type: string
          format: date-time
        vorgangsnummer:
          description: Nummer des Vorgangs / UTILMD UTILTS IDE+24 / INSRPT INVOIC DOC
          type: string
        idempodenzschluessel:
          description: Imempodenzschlüssel des Requests
          type: string
        pruefidentifikator:
          description: >-
            Enthält den Prüfidentifikator aus der EDIFact Kommunikation /
            RFF+Z13
          type: string
        absender:
          description: Marktteilnehmer, der die Nachricht verschickt hat / NAD+MS
          $ref: '#/components/schemas/Marktteilnehmer'
        empfaenger:
          description: Marktteilnehmer, der die Nachricht empfangen hat / NAD+MR
          $ref: '#/components/schemas/Marktteilnehmer'
        dokumentennummer:
          description: EDIFact Referenz aus dem BGM Segment / BGM
          type: string
        dokumentenname:
          description: Alter FW - OBSOLET
          type: string
        kategorie:
          description: Qualifier aus dem Beginn der EDIFact Nachricht / BGM
          type: string
        nachrichtenfunktion:
          description: Nachrichtenfunktionskennzeichen / BGM
          type: string
        nachrichtendatum:
          description: Erstellungdatum der EDIFact / DTM+137
          type: string
          format: date-time
        nachrichtenreferenznummer:
          description: EDIFact Referenz aus dem UNT Segment / UTILMD UNT+21
          type: string
        anfragereferenznummer:
          description: >-
            Referenz Vorgangsnummer 'aus Anfragenachricht' / ORDERS RFF+TN /
            IFTSTA RFF+AAV / INSRPT RFF+TN RFF+AAV
          type: string
        vorgangsreferenznummer:
          description: >-
            Referenznummer des Vorgangs der Anmeldung nach WiM / ORDERS RFF+Z41
            / IFTSTA RFF+ACW
          type: string
        sendungsposition:
          description: Sendungsposition / GID
          type: string
        positionsnummer:
          description: Positionsnummer / LIN
          type: integer
        mitteilungsnummer:
          description: Referenz Vorgangsnummer / RFF+ADY
          type: string
        netznutzungsabrechnungsintervall:
          description: Alter FW - OBSOLET
          type: string
        typ:
          description: Alter FW - OBSOLET
          type: string
        anfrageReferenz:
          description: Beantragungsnummer / RFF+AGI
          type: string
        auftragsReferenz:
          description: Auftragsnummer 'Einkauf' / RFF+ON
          type: string
        vertragsbeginn:
          description: Datum Vertragsbeginn / DTM+92
          type: string
          format: date-time
        vertragsende:
          description: Datum Vertragsende / DTM+93
          type: string
          format: date-time
        ausfuehrungsdatum:
          description: Ausführungsdatum/-zeit / DTM+203 DTM+469
          type: string
          format: date-time
        lieferdatum:
          description: Lieferdatum DTM+76
          type: string
          format: date-time
        meldepunkt:
          description: Alter FW - OBSOLET
          type: string
        startdatum:
          description: Startdatum oder -zeitpunkt, frühestes/r / DTM+469
          type: string
          format: date-time
        enddatum:
          description: Endedatum oder -zeitpunkt, spätestes/r / DTM+472
          type: string
          format: date-time
        verwendungAb:
          description: Verarbeitung, Beginndatum/-zeit / DTM+163
          type: string
          format: date-time
        verwendungBis:
          description: Verarbeitung, Endedatum/-zeit / DTM+164
          type: string
          format: date-time
        leistungsperiode:
          description: Leistungsperiode / DTM+306
          type: string
        abonnement:
          description: Alter FW - OBSOLET
          type: string
        produktbeschreibung:
          description: Alter FW - OBSOLET
          type: string
        bestellungzaehlzeiten:
          description: Alter FW - OBSOLET
          type: string
        angebotsnummer:
          description: Angebotsnummer / RFF+AAG
          type: string
        angebotsreferenz:
          description: Referenznummer einer vorangegangenen Nachricht / ORDERS RFF+ACW
          type: string
        naechsteNetznutzungsabrechnung:
          description: Alter FW - OBSOLET
          type: string
        naechsteTurnusAblesungStrom:
          description: Alter FW - OBSOLET
          type: string
        naechsteTurnusAblesungGas:
          description: Alter FW - OBSOLET
          type: string
        identifikationslogik:
          description: Alter FW - OBSOLET
          type: string
        datumsformat:
          description: Alter FW - OBSOLET
          type: string
        antwortstatus:
          description: Antwortstatus / STS+E01
          type: string
        antwortstatusCodeliste:
          description: Antwortstatus Codeliste / STS+E01
          type: string
        antwortstatusdritter:
          description: Antwortstatus / STS+Z35
          type: string
        antwortstatusdritterBetroffeneLokation:
          description: Antwortstatus Lokation / STS+Z35
          type: string
        antwortstatusdritterCodeliste:
          description: Antwortstatus Codeliste / STS+Z35
          type: string
        antwortstatusdritterReferenz:
          description: Antwortstatus Referenz / STS+Z35
          type: string
        beteiligterMarktpartner:
          description: >-
            MP-ID des beteiligten Marktteilnehmers / ORDERS NAD+VY NAD+DDM /
            APERAK RFF+Z08
          $ref: '#/components/schemas/Marktteilnehmer'
        beteiligterMarktpartnerReferenz:
          description: Alter FW - OBSOLET
          type: string
        beteiligterMarktpartnerReferenzcode:
          description: Alter FW - OBSOLET
          type: string
        freitext:
          description: Freitext / FTX+ACB
          type: string
        fehlerbeschreibung:
          description: Alter FW - OBSOLET
          type: string
        begruendung:
          description: Alter FW - OBSOLET
          type: string
        infoAbweichung:
          description: Freitext Abweichung / FTX+ABO
          type: string
        ergaenzteMarktlokation:
          description: Ergänzende Marktlokation im Freitext / FTX+ABO
          type: boolean
        zaehlerstandsinfo:
          description: >-
            Ankündigung, dass per MSCONS noch der Zählerstand übermittelt wird /
            FTX+ADM
          type: boolean
        lokationsId:
          description: Referenz auf die Lokation / LOC
          type: string
        referenzMalo:
          description: Marktlokation Referenz / RFF+AVE
          type: string
        referenzMelo:
          description: Messlokation Referenz / RFF+Z21
          type: string
        referenzPreisschluesselstamm:
          description: Preisschlüsselstamm Referenz / RFF+Z17
          type: string
        datumleistungsbeginn:
          description: Datum zum geplanten Leistungsbeginn / DTM+76
          type: string
          format: date-time
        endezumtermin:
          description: Kündigungsdatum / DTM+471
          type: string
          format: date-time
        naechsteBearbeitung:
          description: Datum für nächste Bearbeitung / DTM+Z08
          type: string
          format: date-time
        lieferbeginndatuminbearbeitung:
          description: Lieferbeginndatum in Bearbeitung / DTM+Z07
          type: string
          format: date-time
        angebotsart:
          description: Alter FW - OBSOLET
          type: string
        menge:
          description: Menge / QTY
          $ref: '#/components/schemas/Menge'
        tarifstufe:
          description: Tarifstufe / QTY
          $ref: '#/components/schemas/Tarifstufe'
        bilanzkreiszuordnung:
          description: Status der Bilanzkreiszuordnung / STS+Z18
          $ref: '#/components/schemas/Bilanzkreiszuordnung'
        anwendungsreferenznummer:
          description: Anwendungsreferenznummer / RFF+AGK
          type: string
        fertigstellungsdatum:
          description: Fertigstellungsdatum / DTM+293
          type: string
          format: date-time
        datumuebergabe:
          description: Datum und Uhrzeit der Übergabe / DTM+294
          type: string
          format: date-time
        gueltigAb:
          description: Gültigkeitsdatum/-zeit / DTM+7
          type: string
          format: date-time
        ablesedatum:
          description: tatsächliches Ablesedatum / DTM+9
          type: string
          format: date-time
        verarbeitungsReihenfolge:
          description: Alte FW - OBSOLET
          type: string
        ansprechpartnerKunde:
          description: Kontaktdaten des Kunden / ORDERS CTA+IC
          $ref: '#/components/schemas/Ansprechpartner'
        statusVeraenderungsZeitpunkt:
          description: Statusveränderung, Datum/Zeit / DTM+334
          type: string
          format: date-time
        gueltigkeitsZeitspanne:
          description: Gültigkeitszeitspanne / DTM+273
          type: string
          format: date-time
        nachrichtenReferenzBestellbestaetigung:
          description: >-
            Referenznummer der Nachricht der betroffenen Antwort auf Bestellung
            'Bestellbestätigung' / ORDERS RFF+Z42
          type: string
        vorgangsReferenzBestellbestaetigung:
          description: >-
            Referenznummer des Vorgangs der betroffenen Antwort auf Bestellung
            'Bestellbestätigung' / ORDERS RFF+Z43
          type: string
        datumKuendigungKd:
          description: Kündigungsdatum, was dem Kunden mitgeteilt worden ist / DTM+Z05
          type: string
          format: date-time
        datumKuendigungLf:
          description: Kündigungsdatum, was dem Lieferanten mitgeteilt worden ist / DTM+Z06
          type: string
          format: date-time
        referenzArtikelID:
          description: Referenz auf die Artikel-ID / IFTSTA RFF+Z45
          type: string
        bilanzkreis:
          description: Angemeldete Bilanzkreise - nur Sparte Gas
          type: array
          items:
            description: ''
            $ref: '#/components/schemas/Bilanzkreis'
          nullable: true
        geplantesProduktpaket:
          description: Informativ zur Umsetzung geplantes Produktpaket / RFF+Z60
          type: integer
        abtretungserklaerung:
          description: Link zur Abtretungserklärung / Vollmacht vom Kunden / ORDERS FTX+Z13
          $ref: '#/components/schemas/Abtretungserklaerung'
        antwortStatusZeitraum:
          description: AntwortstatusZeitraumId aus STS Segment
          type: array
          items:
            description: ''
            $ref: '#/components/schemas/AntwortStatusZeitraum'
          nullable: true
        apiPath:
          description: Internetadresse des API-Webdienstes
          type: string
        apiKennung:
          description: Identifikator des fachlichen API-Webdienstes
          type: string
        annahmedatum:
          description: Annahmedatum eines Dokument / DTM+154
          type: string
          format: date-time
        unbOutboundDatum:
          description: >-
            Datum und Uhrzeit in Format YYMMDDHHmm, zB 2508211435 für 2025-08-21
            14:35 Uhr Systemzeit
          type: string
    Stammdaten:
      type: object
      properties:
        BILANZIERUNG:
          type: array
          items:
            $ref: '#/components/schemas/Bilanzierung'
        MARKTLOKATION:
          type: array
          items:
            $ref: '#/components/schemas/Marktlokation'
        MESSLOKATION:
          type: array
          items:
            $ref: '#/components/schemas/Messlokation'
        NETZNUTZUNGSVERTRAG:
          type: array
          items:
            $ref: '#/components/schemas/Vertrag'
        MESSSTELLENBETRIEBSVERTRAG:
          type: array
          items:
            $ref: '#/components/schemas/Vertrag'
        ENERGIELIEFERVERTRAG:
          type: array
          items:
            $ref: '#/components/schemas/Vertrag'
        ENERGIEMENGE:
          type: array
          items:
            $ref: '#/components/schemas/Energiemenge'
        ZAEHLER:
          type: array
          items:
            $ref: '#/components/schemas/Zaehler'
        RECHNUNG:
          type: array
          items:
            $ref: '#/components/schemas/Rechnung'
        STATUSMITTEILUNG:
          type: array
          items:
            $ref: '#/components/schemas/Statusmitteilung'
        HANDELSUNSTIMMIGKEIT:
          type: array
          items:
            $ref: '#/components/schemas/Handelsunstimmigkeit'
        AUFTRAG:
          type: array
          items:
            $ref: '#/components/schemas/Auftrag'
        ANFRAGE:
          type: array
          items:
            $ref: '#/components/schemas/Anfrage'
        BERECHNUNGSFORMEL:
          type: array
          items:
            $ref: '#/components/schemas/Berechnungsformel'
        SPERRAUFTRAG:
          type: array
          items:
            $ref: '#/components/schemas/Sperrauftrag'
        ANGEBOT:
          type: array
          items:
            $ref: '#/components/schemas/Angebot'
        TRANCHE:
          type: array
          items:
            $ref: '#/components/schemas/Tranche'
        KOMMUNIKATIONSDATEN:
          type: array
          items:
            $ref: '#/components/schemas/Kommunikationsdaten'
        PREISBLATT:
          type: array
          items:
            $ref: '#/components/schemas/Preisblatt'
        STATUSBERICHT:
          type: array
          items:
            $ref: '#/components/schemas/Statusbericht'
        AVIS:
          type: array
          items:
            $ref: '#/components/schemas/Avis'
        REKLAMATION:
          type: array
          items:
            $ref: '#/components/schemas/Reklamation'
        ZAEHLZEITDEFINITION:
          type: array
          items:
            $ref: '#/components/schemas/Zaehlzeitdefinition'
        SCHALTZEITDEFINITION:
          type: array
          items:
            $ref: '#/components/schemas/Schaltzeitdefinition'
        LEISTUNGSKURVENDEFINITION:
          type: array
          items:
            $ref: '#/components/schemas/Leistungskurvendefinition'
        NETZLOKATION:
          type: array
          items:
            $ref: '#/components/schemas/Netzlokation'
        STEUERBARE_RESSOURCE:
          type: array
          items:
            $ref: '#/components/schemas/SteuerbareRessource'
        TECHNISCHE_RESSOURCE:
          type: array
          items:
            $ref: '#/components/schemas/TechnischeRessource'
        LOKATIONSBUENDEL:
          type: array
          items:
            $ref: '#/components/schemas/Lokationsbuendel'
        AD_HOC_STEUERKANAL:
          type: array
          items:
            $ref: '#/components/schemas/AdHocSteuerkanal'
        WERTE_NACH_TYP2:
          type: array
          items:
            $ref: '#/components/schemas/WerteNachTyp2'
        VERWENDUNGSZEITRAUM:
          type: array
          items:
            $ref: '#/components/schemas/Verwendungszeitraum'
    AdHocSteuerkanal:
      title: AdHocSteuerkanal
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: AD_HOC_STEUERKANAL
        versionStruktur:
          type: string
          default: '1'
          description: versionStruktur
        konfigurationsprodukt:
          type: string
          description: konfigurationsprodukt
        zieladresse:
          $ref: '#/components/schemas/Zieladresse'
        aussteller:
          $ref: '#/components/schemas/Aussteller'
        zertifikatsNutzer:
          $ref: '#/components/schemas/ZertifikatsNutzer'
        IPAdresseCLSDevice:
          $ref: '#/components/schemas/IPAdresseCLSDevice'
      required:
        - boTyp
        - versionStruktur
      example:
        $ref: >-
          https://raw.githubusercontent.com/conuti-gmbh/bo4e-schema/master/docs/examples/bo/AdHocSteuerkanal.json
    Anfrage:
      title: Anfrage
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: ANFRAGE
        versionStruktur:
          type: string
          default: '1'
          description: versionStruktur
        lokationsId:
          type: string
          description: Für welche Markt- oder Messlokation gilt diese Anfrage.
        anfragetyp:
          $ref: '#/components/schemas/Anfragetyp'
          description: Typ/Art der Anfrage (ORDERS ORDRSP IMD 7081)
        abonnement:
          $ref: '#/components/schemas/Abonnement'
          description: Start oder Ende Abo
        anfragereferenz:
          type: string
          description: anfragereferenz
        allgemeineInformationen:
          type: string
          description: allgemeineInformationen
        anfragekategorie:
          $ref: '#/components/schemas/Anfragekategorie'
          description: Kategorie der Anfrage (ORDERS ORDRSP BGM 1001)
        energierichtung:
          $ref: '#/components/schemas/Energierichtung'
        gueltigkeitszeitspanne:
          type: string
          description: gueltigkeitszeitspanne
        gueltigAb:
          type: string
          format: date-time
          description: gueltigAb
      required:
        - boTyp
        - versionStruktur
      example:
        $ref: >-
          https://raw.githubusercontent.com/conuti-gmbh/bo4e-schema/master/docs/examples/bo/Anfrage.json
    Angebot:
      title: Angebot
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: ANGEBOT
        versionStruktur:
          type: string
          default: '1'
          description: versionStruktur
        angebotsnummer:
          type: string
          description: Eindeutige Nummer des Angebotes.
        anfragereferenz:
          type: string
          description: >-
            Referenz auf eine Anfrage oder Ausschreibung. Kann dem Empfänger des
            Angebotes bei Zuordnung des Angebotes zur Anfrage bzw.Ausschreibung
            helfen.
        angebotsdatum:
          type: string
          format: date-time
          description: Erstellungsdatum des Angebots
        sparte:
          $ref: '#/components/schemas/Sparte'
          description: Sparte
        bindefrist:
          type: string
          format: date-time
          description: Bis zu diesem Zeitpunkt(Tag/Uhrzeit) inklusive gilt das Angebot
        angebotgeber:
          $ref: '#/components/schemas/Geschaeftspartner'
          description: Link auf den Ersteller des Angebots.
        angebotnehmer:
          $ref: '#/components/schemas/Geschaeftspartner'
          description: Link auf den Empfänger des Angebots.
        unterzeichnerAngebotsnehmer:
          $ref: '#/components/schemas/Ansprechpartner'
          description: >-
            Link auf die Person, die als Angebotsnehmer das Angebot angenommen
            hat.
        unterzeichnerAngebotsgeber:
          $ref: '#/components/schemas/Ansprechpartner'
          description: >-
            Link auf die Person, die als Angebotsgeber das Angebots ausgestellt
            hat.
        zeitspanneEinrichtungUebermittlungWerte:
          $ref: '#/components/schemas/Zeitraum'
          description: zeitspanneEinrichtungUebermittlungWerte
        bindefristAngebot:
          $ref: '#/components/schemas/Zeitraum'
          description: Bis zu diesem Zeitpunkt(Tag/Uhrzeit) inklusive gilt das Angebot
        varianten:
          type: array
          items:
            $ref: '#/components/schemas/Angebotsvariante'
          description: >-
            Eine oder mehrere Varianten des Angebots mit den Angebotsteilen. Ein
            Angebot besteht mindestens aus einer Variante.
          nullable: true
      required:
        - boTyp
        - versionStruktur
      example:
        $ref: >-
          https://raw.githubusercontent.com/conuti-gmbh/bo4e-schema/master/docs/examples/bo/Angebot.json
    Ansprechpartner:
      title: Ansprechpartner
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: ANSPRECHPARTNER
        versionStruktur:
          type: string
          default: '1'
          description: versionStruktur
        nachname:
          type: string
          description: Nachname (Familienname) des Ansprechpartners
        eMailAdresse:
          type: string
          description: E-Mail Adresse
        rufnummern:
          type: array
          items:
            $ref: '#/components/schemas/Rufnummer'
          description: >-
            Liste der Telefonnummern, unter denen der Ansprechpartner erreichbar
            ist.
          nullable: true
      required:
        - boTyp
        - versionStruktur
      example:
        $ref: >-
          https://raw.githubusercontent.com/conuti-gmbh/bo4e-schema/master/docs/examples/bo/Ansprechpartner.json
    Auftrag:
      title: Auftrag
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: AUFTRAG
        versionStruktur:
          type: string
          default: '1'
          description: versionStruktur
        ausfuehrungsdatum:
          type: string
          format: date-time
          description: >-
            Das Ausführungsdatum beschreibt zu welchem Zeitpunkt ein Auftrag
            ausgeführt werden soll.
        fertigstellungsdatum:
          type: string
          format: date-time
          description: >-
            Das Fertigstellungsdatum beschreibt zu welchem Zeitpunkt ein Auftrag
            ausgeführt wurde/wird.
        startdatum:
          type: string
          format: date-time
          description: >-
            Das Startdatum beschreibt zu welchem Zeitpunkt ein Auftrag gestartet
            wurde/wird.
        enddatum:
          type: string
          format: date-time
          description: >-
            Das Enddatum beschreibt zu welchem Zeitpunkt ein Auftrag endete oder
            enden wird.
        sparte:
          $ref: '#/components/schemas/Sparte'
          description: Die Sparte in der der Auftrag relevant ist
        lieferanschrift:
          $ref: '#/components/schemas/Adresse'
          description: Die Adresse, die sich in Belieferung befindet.
        marktlokationsId:
          type: string
          description: Die ID der Marktlokation der der zu sperrende Zähler zugeordnet ist.
        mindestpreis:
          $ref: '#/components/schemas/Preis'
          description: Der Mindestpreis eines Auftrags (z.B. für eine Sperrung)
        hoechstpreis:
          $ref: '#/components/schemas/Preis'
          description: Der Höchstpreis eines Auftrags (z.B. für eine Sperrung)
        energierichtung:
          $ref: '#/components/schemas/Energierichtung'
        berechnungspreis:
          type: number
          format: float
          description: berechnungspreis
        summeGesamt:
          type: number
          format: float
          description: summeGesamt
        verschobenerAbmeldetermin:
          type: string
          format: date-time
          description: verschobenerAbmeldetermin
        behebungsZeitpunkt:
          type: string
          format: date-time
          description: behebungsZeitpunkt
        lieferadresseAltgeraete:
          $ref: '#/components/schemas/Geschaeftspartner'
        definitionsTyp:
          $ref: '#/components/schemas/DefinitionsTyp'
        positionsdaten:
          type: array
          items:
            $ref: '#/components/schemas/AuftragPosition'
          description: positionsdaten
          nullable: true
        bemerkungen:
          type: array
          items:
            type: string
          description: bemerkungen
          nullable: true
      required:
        - boTyp
        - versionStruktur
      example:
        $ref: >-
          https://raw.githubusercontent.com/conuti-gmbh/bo4e-schema/master/docs/examples/bo/Auftrag.json
    Avis:
      title: Avis
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: AVIS
        versionStruktur:
          type: string
          default: '1'
          description: versionStruktur
        avisNummer:
          type: string
          description: Eine im Verwendungskontext eindeutige Nummer für das Avis.
        avisTyp:
          $ref: '#/components/schemas/AvisTyp'
          description: Gibt den Typ des Avis an.
        zuZahlen:
          $ref: '#/components/schemas/Betrag'
          description: Summenbetrag
        positionen:
          type: array
          items:
            $ref: '#/components/schemas/Avisposition'
          description: Avispositionen
          nullable: true
      required:
        - boTyp
        - versionStruktur
      example:
        $ref: >-
          https://raw.githubusercontent.com/conuti-gmbh/bo4e-schema/master/docs/examples/bo/Avis.json
    Berechnungsformel:
      title: Berechnungsformel
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: BERECHNUNGSFORMEL
        versionStruktur:
          type: string
          default: '1'
          description: versionStruktur
        beginndatum:
          type: string
          format: date-time
          description: Der inklusive Zeitpunkt ab dem die Berechnungsformel gültig ist
        notwendigkeit:
          $ref: '#/components/schemas/BerechnungsformelNotwendigkeit'
          description: Beschreibt ob eine Berechnungsformel notwendig ist
        lieferrichtung:
          $ref: '#/components/schemas/Energierichtung'
          description: >-
            The UTILTS 'Lieferrichtung der Marktlokation' is contained in the
            marktlokations-bo also the relation between Berechnungsformel↔
            Marktlokation is modelled as 'link'
        rechenschrittId:
          type: integer
          description: ID des Rechenschritts [1 - 99999]
        rechenschritt:
          $ref: '#/components/schemas/Rechenschritt'
        rechenschritte:
          type: array
          items:
            $ref: '#/components/schemas/Rechenschritt'
          description: >-
            Eine Berechnungsformel enthält, falls sie notwendig ist, einen oder
            mehrere Berechnungschritte, die hier rekursiv abgebildet werden.
          nullable: true
        verwendungszweck:
          type: array
          items:
            $ref: '#/components/schemas/Verwendungszweck'
          description: Verwendungszweck der Werte
          nullable: true
        gueltigkeitszeitraum:
          $ref: '#/components/schemas/Zeitraum'
          description: Gültigkeitszeitraum der Werte
        lokationsId:
          type: string
          description: >-
            Eindeutige Nummer der Lokation, zu der die Berechnungsformel gehört.
            Verwendung für notwendige interne Zuordnungen.
        lokationsTyp:
          $ref: '#/components/schemas/Lokationstyp'
          description: >-
            Gibt an,um welchen Lokationstyp es sich handelt. Verwendung für
            notwendige interne Zuordnungen.
      required:
        - boTyp
        - versionStruktur
      example:
        $ref: >-
          https://raw.githubusercontent.com/conuti-gmbh/bo4e-schema/master/docs/examples/bo/Berechnungsformel.json
    Bilanzierung:
      title: Bilanzierung
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: BILANZIERUNG
        versionStruktur:
          type: string
          default: '1'
          description: versionStruktur
        marktlokationsId:
          type: string
          description: Für welche Marktlokation gelten diese Bilanzierungsdaten
        aggregationsverantwortung:
          $ref: '#/components/schemas/Aggregationsverantwortung'
          description: Aggregationsverantwortung
        zeitreihentyp:
          $ref: '#/components/schemas/Zeitreihentyp'
          description: Zeitreihentyp
        prognosegrundlage:
          $ref: '#/components/schemas/Prognosegrundlage'
          description: Prognosegrundlage
        bilanzierungsbeginn:
          type: string
          format: date-time
          description: Inklusiver Start der Bilanzierung
        bilanzierungsende:
          type: string
          format: date-time
          description: Exklusives Ende der Bilanzierung
        bilanzkreis:
          type: string
          description: Bilanzkreis
        fallgruppenzuordnung:
          $ref: '#/components/schemas/Fallgruppenzuordnung'
          description: Fallgruppenzuordnung (für gas RLM)
        temperaturarbeit:
          $ref: '#/components/schemas/Menge'
          description: Kundenwert TLP
        jahresverbrauchsprognose:
          $ref: '#/components/schemas/Menge'
          description: Jahresverbrauchsprognose
        kundenwert:
          $ref: '#/components/schemas/Menge'
          description: Kundenwert
        verbrauchsaufteilung:
          $ref: '#/components/schemas/Menge'
          description: Verbrauchsaufteilung
        wahlrechtPrognosegrundlage:
          $ref: '#/components/schemas/WahlrechtPrognosegrundlage'
          description: >-
            Wahlrecht der Prognosegrundlage (true = Wahlrecht beim Lieferanten
            vorhanden)
        grundWahlrechtPrognosegrundlage:
          $ref: '#/components/schemas/WahlrechtPrognosegrundlage'
          description: >-
            Grund Wahlrecht der Prognosegrundlage (true = Wahlrecht beim
            Lieferanten vorhanden)
        abwicklungsmodell:
          $ref: '#/components/schemas/Abwicklungsmodell'
          description: Abwicklungsmodell
        vorjahresverbrauch:
          $ref: '#/components/schemas/Menge'
          description: Vorjahresverbrauch
        datenqualitaet:
          $ref: '#/components/schemas/Datenqualitaet'
          description: Datenqualität
        gueltigkeitszeitraum:
          $ref: '#/components/schemas/Zeitraum'
          description: Gültigkeitszeitraum
        lastprofile:
          type: array
          items:
            $ref: '#/components/schemas/Lastprofil'
          description: Eine Liste der verwendeten Lastprofile (SLP, SLP/TLP, ALP etc.)
          nullable: true
        lastprofileBilanzierungsbeteiligter:
          type: array
          items:
            $ref: '#/components/schemas/Lastprofil'
          description: Lastprofile des Bilanzierungsbeteiligten
          nullable: true
        detailsPrognosegrundlage:
          type: array
          items:
            $ref: '#/components/schemas/Profiltyp'
          description: >-
            Prognosegrundlage - Besteht der Bedarf ein tagesparameteräbhängiges
            Lastprofil mit gemeinsamer Messung anzugeben, so ist dies über die 2
            -malige Wiederholung des CAV Segments mit der Angabe der Codes E02
            und E14 möglich.
          nullable: true
      required:
        - boTyp
        - versionStruktur
      example:
        $ref: >-
          https://raw.githubusercontent.com/conuti-gmbh/bo4e-schema/master/docs/examples/bo/Bilanzierung.json
    Bilanzkreis:
      title: Bilanzkreis
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: BILANZKREIS
        versionStruktur:
          type: string
          default: '1'
          description: versionStruktur
        bezeichnung:
          type: string
          description: Externe Bezeichnung
        prioritaet:
          type: integer
          description: prioritaet
      example:
        $ref: >-
          https://raw.githubusercontent.com/conuti-gmbh/bo4e-schema/master/docs/examples/bo/Bilanzkreis.json
    Energiemenge:
      title: Energiemenge
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: ENERGIEMENGE
        versionStruktur:
          type: string
          default: '1'
          description: versionStruktur
        lokationsId:
          type: string
          description: >-
            Eindeutige Nummer der Marktlokation bzw. der Messlokation, zu der
            die Energiemenge gehört
        lokationsTyp:
          $ref: '#/components/schemas/Lokationstyp'
          description: Gibt an, ob es sich um eine Markt- oder Messlokation handelt.
        fertigstellungsdatum:
          type: string
          format: date-time
          description: fertigstellungsdatum
        startdatum:
          type: string
          format: date-time
          description: >-
            Gibt Tag und Uhrzeit (falls vorhanden) an, wann der Zeitraum
            startet.
        enddatum:
          type: string
          format: date-time
          description: Gibt Tag und Uhrzeit (falls vorhanden) an, wann der Zeitraum endet.
        bilanzierungsdatum:
          type: string
          format: date-time
          description: bilanzierungsdatum
        beginndatum:
          type: string
          format: date-time
          description: beginndatum
        referenzStammdatenmeldungMsb:
          type: string
          description: referenzStammdatenmeldungMsb
        konfiguration:
          type: string
          description: konfiguration
        energieverbrauch:
          type: array
          items:
            $ref: '#/components/schemas/Verbrauch'
          description: Gibt den Verbrauch in einer Zeiteinheit an.
          nullable: true
      required:
        - boTyp
        - versionStruktur
      example:
        $ref: >-
          https://raw.githubusercontent.com/conuti-gmbh/bo4e-schema/master/docs/examples/bo/Energiemenge.json
    Geschaeftspartner:
      title: Geschaeftspartner
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: GESCHAEFTSPARTNER
        versionStruktur:
          type: string
          default: '1'
          description: versionStruktur
        anrede:
          type: string
          description: Die Anrede für den GePa, Z.B. Herr.
        name1:
          type: string
          description: >-
            Erster Teil des Namens. Hier kann der Firmenname oder bei
            Privatpersonen

            beispielsweise der Nachname dargestellt werden. Beispiele: Yellow
            Strom GmbH

            oder Hagen
        name2:
          type: string
          description: >-
            Zweiter Teil des Namens. Hier kann der eine Erweiterung zum
            Firmennamen oder

            bei Privatpersonen beispielsweise der Vorname dargestellt werden.
            Beispiele:

            Bereich Süd oder Nina
        name3:
          type: string
          description: >-
            Dritter Teil des Namens. Hier können weitere Ergänzungen zum
            Firmennamen oder

            bei Privatpersonen Zusätze zum Namen dargestellt werden. Beispiele:
            und Afrika

            oder Sängerin
        name4:
          type: string
          description: name4
        umsatzsteuerId:
          type: string
          description: 'Die Umsatzsteuer-ID des Geschäftspartners. Beispiel: DE 813281825'
        glaeubigerId:
          type: string
          description: >-
            * Die Gläubiger-ID welche im Zahlungsverkehr verwendet wird- Z.B. DE
            47116789
        emailAdresse:
          type: string
          description: emailAdresse
        website:
          type: string
          description: 'Internetseite des Marktpartners. Beispiel: www.mp-energie.de'
        gewerbekennzeichnung:
          type: boolean
          description: >-
            Kennzeichnung ob es sich um einen Gewerbe/Unternehmen
            (gewerbeKennzeichnung = true)

            oder eine Privatperson handelt. (gewerbeKennzeichnung = false)
        hrnummer:
          type: string
          description: Handelsregisternummer des Geschäftspartners
        amtsgericht:
          type: string
          description: >-
            Amtsgericht bzw Handelsregistergericht, das die
            Handelsregisternummer herausgegeben hat
        partneradresse:
          $ref: '#/components/schemas/Adresse'
          description: >-
            Adresse des Geschäftspartners, an der sich der Hauptsitz befindet.
            Details
        externeKundenummerLieferant:
          type: string
          description: externeKundenummerLieferant
        externeReferenzen:
          type: array
          items:
            $ref: '#/components/schemas/ExterneReferenz'
          description: >-
            Hier können IDs anderer Systeme hinterlegt werden (z.B. eine
            SAP-GP-Nummer) (Details siehe

            ExterneReferenz)
          nullable: true
        geschaeftspartnerrolle:
          type: array
          items:
            $ref: '#/components/schemas/Geschaeftspartnerrolle'
          description: Rolle, die der Geschäftspartner hat (z.B. Interessent, Kunde).
          nullable: true
        kontaktweg:
          type: array
          items:
            $ref: '#/components/schemas/Kontaktart'
          description: Bevorzugter Kontaktweg des Geschäftspartners.
          nullable: true
      required:
        - boTyp
        - versionStruktur
      example:
        $ref: >-
          https://raw.githubusercontent.com/conuti-gmbh/bo4e-schema/master/docs/examples/bo/Geschaeftspartner.json
    Handelsunstimmigkeit:
      title: Handelsunstimmigkeit
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: HANDELSUNSTIMMIGKEIT
        versionStruktur:
          type: string
          default: '1'
          description: versionStruktur
        nummer:
          type: string
          description: Handelsunstimmigkeitsnummer
        typ:
          $ref: '#/components/schemas/Handelsunstimmigkeitstyp'
          description: Gibt den Typ der Handelsunstimmigkeit an.
        begruendung:
          $ref: '#/components/schemas/Handelsunstimmigkeitsbegruendung'
          description: Handelsunstimmigskeitsbegründung
        zuZahlen:
          $ref: '#/components/schemas/Betrag'
          description: angeforderter Betrag
      required:
        - boTyp
        - versionStruktur
      example:
        $ref: >-
          https://raw.githubusercontent.com/conuti-gmbh/bo4e-schema/master/docs/examples/bo/Handelsunstimmigkeit.json
    Kommunikationsdaten:
      title: Kommunikationsdaten
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: KOMMUNIKATIONSDATEN
        versionStruktur:
          type: string
          default: '1'
          description: versionStruktur
        gueltigkeit:
          type: string
          format: date-time
          description: gueltigkeit
        kommunikationsDatenBlattInaktiv:
          type: boolean
          description: kommunikationsDatenBlattInaktiv
        marktteilnehmer:
          $ref: '#/components/schemas/Marktteilnehmer'
        kommunikationsangaben:
          type: array
          items:
            $ref: '#/components/schemas/Marktteilnehmer'
          description: kommunikationsangaben
          nullable: true
      required:
        - boTyp
        - versionStruktur
      example:
        $ref: >-
          https://raw.githubusercontent.com/conuti-gmbh/bo4e-schema/master/docs/examples/bo/Kommunikationsdaten.json
    Leistungskurvendefinition:
      title: Leistungskurvendefinition
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: LEISTUNGSKURVENDEFINITION
        versionStruktur:
          type: string
          default: '1'
          description: versionStruktur
        beginndatum:
          type: string
          format: date-time
          description: beginndatum
        endedatum:
          type: string
          format: date-time
          description: endedatum
        version:
          type: string
          format: date-time
          description: version
        code:
          type: string
          description: code
        notwendigkeit:
          $ref: '#/components/schemas/DefinitionenNotwendigkeit'
        leistungskurven:
          type: array
          items:
            $ref: '#/components/schemas/Leistungskurve'
          description: leistungskurven
          nullable: true
      required:
        - boTyp
        - versionStruktur
      example:
        $ref: >-
          https://raw.githubusercontent.com/conuti-gmbh/bo4e-schema/master/docs/examples/bo/Leistungskurvendefinition.json
    Lokationsbuendel:
      title: Lokationsbuendel
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: LOKATIONSBUENDEL
        versionStruktur:
          type: string
          default: '1'
          description: versionStruktur
        lokationsbuendelstrukturId:
          type: string
          description: lokationsbuendelstrukturId
        lokationsbuendelNummer:
          type: integer
          description: lokationsbuendelNummer
        standardisierteLokationsbuendelstruktur:
          type: boolean
          description: standardisierteLokationsbuendelstruktur
        datenqualitaet:
          $ref: '#/components/schemas/Datenqualitaet'
        gueltigkeitszeitraum:
          $ref: '#/components/schemas/Zeitraum'
        zuordnungObjectcode:
          type: array
          items:
            $ref: '#/components/schemas/ZuordnungObjectcode'
          description: zuordnungObjectcode
          nullable: true
      required:
        - boTyp
        - versionStruktur
      example:
        $ref: >-
          https://raw.githubusercontent.com/conuti-gmbh/bo4e-schema/master/docs/examples/bo/Lokationsbuendel.json
    Marktlokation:
      title: Marktlokation
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: MARKTLOKATION
        versionStruktur:
          type: string
          default: '1'
          description: versionStruktur
        marktlokationsId:
          type: string
          description: |-
            Identifikationsnummer einer Marktlokation, an der Energie entweder
            verbraucht, oder erzeugt wird
        sparte:
          type: string
          description: Strom oder Gas.
        energierichtung:
          $ref: '#/components/schemas/Energierichtung'
          description: >-
            Kennzeichnung, ob Energie eingespeist oder entnommen (ausgespeist)
            wird.
        bilanzierungsmethode:
          $ref: '#/components/schemas/Bilanzierungsmethode'
          description: Bilanzierungsmethode
        verbrauchsart:
          type: array
          items:
            $ref: '#/components/schemas/Verbrauchsart'
          description: Stromverbrauchsart/Verbrauchsart Marktlokation
          nullable: true
        unterbrechbar:
          type: boolean
          description: Gibt an, ob es sich um eine unterbrechbare Belieferung handelt.
        netzebene:
          $ref: '#/components/schemas/Netzebene'
          description: >-
            Netzebene, in der der Bezug der Energie erfolgt. Bei Strom
            Spannungsebene der

            Lieferung, bei Gas Druckstufe. Beispiel Strom: Niederspannung
            Beispiel Gas:

            Niederdruck.
        umspannung:
          $ref: '#/components/schemas/Netzebene'
        netzbetreiberCodeNr:
          type: string
          description: |-
            Codenummer des Netzbetreibers, an dessen Netz diese Marktlokation
            angeschlossen ist.
        gebietTyp:
          $ref: '#/components/schemas/Gebiettyp'
          description: Typ des Netzgebietes,z.B.Verteilnetz.
        netzgebietNr:
          type: string
          description: Die Nummer des Netzgebietes in der ene't-Datenbank.
        bilanzierungsgebiet:
          type: string
          description: >-
            Bilanzierungsgebiet, dem das Netzgebiet zugeordnet ist - im Falle
            eines Strom Netzes.
        grundversorgerCodeNr:
          type: string
          description: >-
            CodeNummer des Grundversorgers, der für diese Marktlokation
            zuständig ist.
        gasqualitaet:
          $ref: '#/components/schemas/Gasqualitaet'
          description: gasqualitaet für EDIFACT mapping
        endkunde:
          $ref: '#/components/schemas/Geschaeftspartner'
          description: Link zum Geschäftspartner, dem diese Marktlokation gehört.
        lokationsadresse:
          $ref: '#/components/schemas/Adresse'
          description: Die Adresse, an der die Energie-Lieferung oder -Einspeisung erfolgt.
        katasterinformation:
          $ref: '#/components/schemas/Katasteradresse'
          description: >-
            Alternativ zu einer postalischen Adresse und Geokoordinaten kann
            hier eine

            Ortsangabe mittels Gemarkung und Flurstück erfolgen.

            Achtung: Es darf immer nur eine Art der Ortsangabe vorhanden sein
            (entweder

            eine Adresse oder eine GeoKoordinate oder eine Katasteradresse.
        regelzone:
          type: string
          description: für EDIFACT mapping
        marktgebiet:
          type: string
          description: für EDIFACT mapping
        zeitreihentyp:
          $ref: '#/components/schemas/Zeitreihentyp'
          description: für EDIFACT mapping
        messtechnischeEinordnung:
          $ref: '#/components/schemas/MesstechnischeEinordnung'
          description: >-
[...]
