openapi: 3.0.0
info:
  title: BO4E API
  version: '1.0'
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.bo4e.de
    description: Production Environment
tags:
  - name: Transaktionsdaten
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Transaktionsdaten"
      showReadOnly={true} showWriteOnly={true} />
  - name: Stammdaten
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Stammdaten"
      showReadOnly={true} showWriteOnly={true} />
  - name: AdHocSteuerkanal
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/AdHocSteuerkanal"
      showReadOnly={true} showWriteOnly={true} />
  - name: Anfrage
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Anfrage"
      showReadOnly={true} showWriteOnly={true} />
  - name: Angebot
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Angebot"
      showReadOnly={true} showWriteOnly={true} />
  - name: Ansprechpartner
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Ansprechpartner"
      showReadOnly={true} showWriteOnly={true} />
  - name: Auftrag
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Auftrag"
      showReadOnly={true} showWriteOnly={true} />
  - name: Avis
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Avis"
      showReadOnly={true} showWriteOnly={true} />
  - name: Berechnungsformel
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Berechnungsformel"
      showReadOnly={true} showWriteOnly={true} />
  - name: Bilanzierung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Bilanzierung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Bilanzkreis
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Bilanzkreis"
      showReadOnly={true} showWriteOnly={true} />
  - name: Energiemenge
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Energiemenge"
      showReadOnly={true} showWriteOnly={true} />
  - name: Geschaeftspartner
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Geschaeftspartner"
      showReadOnly={true} showWriteOnly={true} />
  - name: Handelsunstimmigkeit
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Handelsunstimmigkeit"
      showReadOnly={true} showWriteOnly={true} />
  - name: Kommunikationsdaten
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Kommunikationsdaten"
      showReadOnly={true} showWriteOnly={true} />
  - name: Leistungskurvendefinition
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/Leistungskurvendefinition"
      showReadOnly={true} showWriteOnly={true} />
  - name: Lokationsbuendel
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Lokationsbuendel"
      showReadOnly={true} showWriteOnly={true} />
  - name: Marktlokation
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Marktlokation"
      showReadOnly={true} showWriteOnly={true} />
  - name: Marktteilnehmer
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Marktteilnehmer"
      showReadOnly={true} showWriteOnly={true} />
  - name: Messlokation
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Messlokation"
      showReadOnly={true} showWriteOnly={true} />
  - name: Netzlokation
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Netzlokation"
      showReadOnly={true} showWriteOnly={true} />
  - name: Preisblatt
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Preisblatt"
      showReadOnly={true} showWriteOnly={true} />
  - name: Rechnung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Rechnung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Reklamation
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Reklamation"
      showReadOnly={true} showWriteOnly={true} />
  - name: Schaltzeitdefinition
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Schaltzeitdefinition"
      showReadOnly={true} showWriteOnly={true} />
  - name: Sperrauftrag
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Sperrauftrag"
      showReadOnly={true} showWriteOnly={true} />
  - name: Statusbericht
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Statusbericht"
      showReadOnly={true} showWriteOnly={true} />
  - name: Statusmitteilung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Statusmitteilung"
      showReadOnly={true} showWriteOnly={true} />
  - name: SteuerbareRessource
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/SteuerbareRessource"
      showReadOnly={true} showWriteOnly={true} />
  - name: Tarifinfo
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Tarifinfo"
      showReadOnly={true} showWriteOnly={true} />
  - name: TechnischeRessource
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/TechnischeRessource"
      showReadOnly={true} showWriteOnly={true} />
  - name: Tranche
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Tranche"
      showReadOnly={true} showWriteOnly={true} />
  - name: Vertrag
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Vertrag"
      showReadOnly={true} showWriteOnly={true} />
  - name: Verwendungszeitraum
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Verwendungszeitraum"
      showReadOnly={true} showWriteOnly={true} />
  - name: WerteNachTyp2
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/WerteNachTyp2"
      showReadOnly={true} showWriteOnly={true} />
  - name: Zaehler
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Zaehler"
      showReadOnly={true} showWriteOnly={true} />
  - name: Zaehlzeitdefinition
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Zaehlzeitdefinition"
      showReadOnly={true} showWriteOnly={true} />
  - name: Abschlag
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Abschlag"
      showReadOnly={true} showWriteOnly={true} />
  - name: Abtretungserklaerung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Abtretungserklaerung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Abweichung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Abweichung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Abweichungsposition
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Abweichungsposition"
      showReadOnly={true} showWriteOnly={true} />
  - name: Adresse
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Adresse"
      showReadOnly={true} showWriteOnly={true} />
  - name: AdresszusatzInformation
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/AdresszusatzInformation"
      showReadOnly={true} showWriteOnly={true} />
  - name: AllgemeineInformationen
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/AllgemeineInformationen"
      showReadOnly={true} showWriteOnly={true} />
  - name: Angebotsposition
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Angebotsposition"
      showReadOnly={true} showWriteOnly={true} />
  - name: Angebotsteil
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Angebotsteil"
      showReadOnly={true} showWriteOnly={true} />
  - name: Angebotsvariante
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Angebotsvariante"
      showReadOnly={true} showWriteOnly={true} />
  - name: AntwortStatusZeitraum
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/AntwortStatusZeitraum"
      showReadOnly={true} showWriteOnly={true} />
  - name: AuftragPosition
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/AuftragPosition"
      showReadOnly={true} showWriteOnly={true} />
  - name: Aussteller
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Aussteller"
      showReadOnly={true} showWriteOnly={true} />
  - name: Avisposition
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Avisposition"
      showReadOnly={true} showWriteOnly={true} />
  - name: Bankverbindung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Bankverbindung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Begruendung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Begruendung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Beschreibung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Beschreibung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Betrag
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Betrag"
      showReadOnly={true} showWriteOnly={true} />
  - name: Dienstleistung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Dienstleistung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Energieherkunft
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Energieherkunft"
      showReadOnly={true} showWriteOnly={true} />
  - name: Energiemix
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Energiemix"
      showReadOnly={true} showWriteOnly={true} />
  - name: EnFG
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/EnFG"
      showReadOnly={true} showWriteOnly={true} />
  - name: Erreichbarkeit
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Erreichbarkeit"
      showReadOnly={true} showWriteOnly={true} />
  - name: ExterneReferenz
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/ExterneReferenz"
      showReadOnly={true} showWriteOnly={true} />
  - name: Fehler
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Fehler"
      showReadOnly={true} showWriteOnly={true} />
  - name: Fehlerbeschreibung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Fehlerbeschreibung"
      showReadOnly={true} showWriteOnly={true} />
  - name: FehlerDetail
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/FehlerDetail"
      showReadOnly={true} showWriteOnly={true} />
  - name: FehlerUrsache
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/FehlerUrsache"
      showReadOnly={true} showWriteOnly={true} />
  - name: Freitext
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Freitext"
      showReadOnly={true} showWriteOnly={true} />
  - name: Gemeinderabatt
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Gemeinderabatt"
      showReadOnly={true} showWriteOnly={true} />
  - name: Geokoordinaten
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Geokoordinaten"
      showReadOnly={true} showWriteOnly={true} />
  - name: Geraet
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Geraet"
      showReadOnly={true} showWriteOnly={true} />
  - name: Geraeteeigenschaften
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Geraeteeigenschaften"
      showReadOnly={true} showWriteOnly={true} />
  - name: Gruppe
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Gruppe"
      showReadOnly={true} showWriteOnly={true} />
  - name: Handelsunstimmigkeitsbegruendung
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/Handelsunstimmigkeitsbegruendung"
      showReadOnly={true} showWriteOnly={true} />
  - name: InfoAbweichung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/InfoAbweichung"
      showReadOnly={true} showWriteOnly={true} />
  - name: IPAdresseCLSDevice
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/IPAdresseCLSDevice"
      showReadOnly={true} showWriteOnly={true} />
  - name: IpRange
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/IpRange"
      showReadOnly={true} showWriteOnly={true} />
  - name: Katalogverweis
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Katalogverweis"
      showReadOnly={true} showWriteOnly={true} />
  - name: Katasteradresse
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Katasteradresse"
      showReadOnly={true} showWriteOnly={true} />
  - name: Kommunikationsparameter
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Kommunikationsparameter"
      showReadOnly={true} showWriteOnly={true} />
  - name: Konzessionsabgabe
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Konzessionsabgabe"
      showReadOnly={true} showWriteOnly={true} />
  - name: Lastprofil
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Lastprofil"
      showReadOnly={true} showWriteOnly={true} />
  - name: Leistungskurve
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Leistungskurve"
      showReadOnly={true} showWriteOnly={true} />
  - name: MarktlokationsTypisierung
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/MarktlokationsTypisierung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Menge
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Menge"
      showReadOnly={true} showWriteOnly={true} />
  - name: Messlokationszuordnung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Messlokationszuordnung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Messstellenbetriebsabrechnungsdaten
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/Messstellenbetriebsabrechnungsdaten"
      showReadOnly={true} showWriteOnly={true} />
  - name: Nennleistung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Nennleistung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Netznutzungsabrechnungsdaten
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/Netznutzungsabrechnungsdaten"
      showReadOnly={true} showWriteOnly={true} />
  - name: Objectcode
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Objectcode"
      showReadOnly={true} showWriteOnly={true} />
  - name: PositionsAufAbschlag
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/PositionsAufAbschlag"
      showReadOnly={true} showWriteOnly={true} />
  - name: Preis
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Preis"
      showReadOnly={true} showWriteOnly={true} />
  - name: Preisposition
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Preisposition"
      showReadOnly={true} showWriteOnly={true} />
  - name: Preisstaffel
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Preisstaffel"
      showReadOnly={true} showWriteOnly={true} />
  - name: Produkt
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Produkt"
      showReadOnly={true} showWriteOnly={true} />
  - name: Produktpaket
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Produktpaket"
      showReadOnly={true} showWriteOnly={true} />
  - name: Rechenschritt
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Rechenschritt"
      showReadOnly={true} showWriteOnly={true} />
  - name: Rechnungsposition
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Rechnungsposition"
      showReadOnly={true} showWriteOnly={true} />
  - name: ReklamationsgrundBemerkung
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/ReklamationsgrundBemerkung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Rueckmeldungsposition
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Rueckmeldungsposition"
      showReadOnly={true} showWriteOnly={true} />
  - name: Rufnummer
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Rufnummer"
      showReadOnly={true} showWriteOnly={true} />
  - name: Schaltzeit
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Schaltzeit"
      showReadOnly={true} showWriteOnly={true} />
  - name: Schwellwert
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Schwellwert"
      showReadOnly={true} showWriteOnly={true} />
  - name: Sigmoidparameter
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Sigmoidparameter"
      showReadOnly={true} showWriteOnly={true} />
  - name: StatusmitteilungPosition
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/StatusmitteilungPosition"
      showReadOnly={true} showWriteOnly={true} />
  - name: StatusZusatzInformation
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/StatusZusatzInformation"
      showReadOnly={true} showWriteOnly={true} />
  - name: Steuerbetrag
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Steuerbetrag"
      showReadOnly={true} showWriteOnly={true} />
  - name: Tagesparameter
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Tagesparameter"
      showReadOnly={true} showWriteOnly={true} />
  - name: Verbrauch
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Verbrauch"
      showReadOnly={true} showWriteOnly={true} />
  - name: Vertragskonditionen
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Vertragskonditionen"
      showReadOnly={true} showWriteOnly={true} />
  - name: Verwendungszweck
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Verwendungszweck"
      showReadOnly={true} showWriteOnly={true} />
  - name: Zaehlwerk
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Zaehlwerk"
      showReadOnly={true} showWriteOnly={true} />
  - name: Zaehlzeit
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Zaehlzeit"
      showReadOnly={true} showWriteOnly={true} />
  - name: Zaehlzeitregister
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Zaehlzeitregister"
      showReadOnly={true} showWriteOnly={true} />
  - name: Zeitraum
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Zeitraum"
      showReadOnly={true} showWriteOnly={true} />
  - name: ZertifikatsAussteller
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/ZertifikatsAussteller"
      showReadOnly={true} showWriteOnly={true} />
  - name: ZertifikatsNutzer
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/ZertifikatsNutzer"
      showReadOnly={true} showWriteOnly={true} />
  - name: Zieladresse
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Zieladresse"
      showReadOnly={true} showWriteOnly={true} />
  - name: ZugeordneteDefinition
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/ZugeordneteDefinition"
      showReadOnly={true} showWriteOnly={true} />
  - name: ZuordnungObjectcode
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/ZuordnungObjectcode"
      showReadOnly={true} showWriteOnly={true} />
  - name: Zuschlag
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Zuschlag"
      showReadOnly={true} showWriteOnly={true} />
  - name: AbgabeArt
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/AbgabeArt"
      showReadOnly={true} showWriteOnly={true} />
  - name: Abonnement
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Abonnement"
      showReadOnly={true} showWriteOnly={true} />
  - name: AbschlagTyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/AbschlagTyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Abweichungsgrund
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Abweichungsgrund"
      showReadOnly={true} showWriteOnly={true} />
  - name: Abwicklungsmodell
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Abwicklungsmodell"
      showReadOnly={true} showWriteOnly={true} />
  - name: AenderungsmoeglichkeitKonfiguration
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/AenderungsmoeglichkeitKonfiguration"
      showReadOnly={true} showWriteOnly={true} />
  - name: Aggregationsverantwortung
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/Aggregationsverantwortung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Anfragegrund
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Anfragegrund"
      showReadOnly={true} showWriteOnly={true} />
  - name: Anfragekategorie
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Anfragekategorie"
      showReadOnly={true} showWriteOnly={true} />
  - name: Anfragetyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Anfragetyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Angebotsstatus
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Angebotsstatus"
      showReadOnly={true} showWriteOnly={true} />
  - name: ArithmetischeOperation
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/ArithmetischeOperation"
      showReadOnly={true} showWriteOnly={true} />
  - name: ArtEmobilitaet
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/ArtEmobilitaet"
      showReadOnly={true} showWriteOnly={true} />
  - name: ArtikelIdTyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/ArtikelIdTyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: AufAbschlagstyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/AufAbschlagstyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Auftragsstatus
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Auftragsstatus"
      showReadOnly={true} showWriteOnly={true} />
  - name: AvisTyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/AvisTyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: BankverbindungVerwendungszweck
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/BankverbindungVerwendungszweck"
      showReadOnly={true} showWriteOnly={true} />
  - name: BDEWArtikelnummer
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/BDEWArtikelnummer"
      showReadOnly={true} showWriteOnly={true} />
  - name: BeauftragungMsb
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/BeauftragungMsb"
      showReadOnly={true} showWriteOnly={true} />
  - name: Befestigungsart
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Befestigungsart"
      showReadOnly={true} showWriteOnly={true} />
  - name: Bemessungsgroesse
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Bemessungsgroesse"
      showReadOnly={true} showWriteOnly={true} />
  - name: BerechnungsformelNotwendigkeit
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/BerechnungsformelNotwendigkeit"
      showReadOnly={true} showWriteOnly={true} />
  - name: BerichtStatus
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/BerichtStatus"
      showReadOnly={true} showWriteOnly={true} />
  - name: Betriebszustand
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Betriebszustand"
      showReadOnly={true} showWriteOnly={true} />
  - name: Bilanzierungsmethode
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Bilanzierungsmethode"
      showReadOnly={true} showWriteOnly={true} />
  - name: Bilanzkreiszuordnung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Bilanzkreiszuordnung"
      showReadOnly={true} showWriteOnly={true} />
  - name: BildungTranchengroesse
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/BildungTranchengroesse"
      showReadOnly={true} showWriteOnly={true} />
  - name: BOTyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/BOTyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Datenqualitaet
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Datenqualitaet"
      showReadOnly={true} showWriteOnly={true} />
  - name: DefinitionenNotwendigkeit
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/DefinitionenNotwendigkeit"
      showReadOnly={true} showWriteOnly={true} />
  - name: DefinitionsTyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/DefinitionsTyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Dienstleistungstyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Dienstleistungstyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Energieerfassung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Energieerfassung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Energierichtung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Energierichtung"
      showReadOnly={true} showWriteOnly={true} />
  - name: ErmittlungLeistungsmaximum
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/ErmittlungLeistungsmaximum"
      showReadOnly={true} showWriteOnly={true} />
  - name: Erzeugungsart
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Erzeugungsart"
      showReadOnly={true} showWriteOnly={true} />
  - name: Fallgruppenzuordnung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Fallgruppenzuordnung"
      showReadOnly={true} showWriteOnly={true} />
  - name: FehlerCode
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/FehlerCode"
      showReadOnly={true} showWriteOnly={true} />
  - name: FehlerTyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/FehlerTyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Fernschaltung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Fernschaltung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Fernsteuerbarkeit
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Fernsteuerbarkeit"
      showReadOnly={true} showWriteOnly={true} />
  - name: Gasqualitaet
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Gasqualitaet"
      showReadOnly={true} showWriteOnly={true} />
  - name: Gebiettyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Gebiettyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Geraetemerkmal
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Geraetemerkmal"
      showReadOnly={true} showWriteOnly={true} />
  - name: Geraetetyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Geraetetyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Geschaeftspartnerrolle
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Geschaeftspartnerrolle"
      showReadOnly={true} showWriteOnly={true} />
  - name: GrundlageVerringerungUmlagen
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/GrundlageVerringerungUmlagen"
      showReadOnly={true} showWriteOnly={true} />
  - name: GrundlageVerringerungUmlagenGrund
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/GrundlageVerringerungUmlagenGrund"
      showReadOnly={true} showWriteOnly={true} />
  - name: HaeufigkeitLeistungskurve
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/HaeufigkeitLeistungskurve"
      showReadOnly={true} showWriteOnly={true} />
  - name: HaeufigkeitSchaltzeit
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/HaeufigkeitSchaltzeit"
      showReadOnly={true} showWriteOnly={true} />
  - name: HaeufigkeitZaehlzeit
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/HaeufigkeitZaehlzeit"
      showReadOnly={true} showWriteOnly={true} />
  - name: Handelsunstimmigkeitsgrund
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/Handelsunstimmigkeitsgrund"
      showReadOnly={true} showWriteOnly={true} />
  - name: Handelsunstimmigkeitsrichtigkeit
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/Handelsunstimmigkeitsrichtigkeit"
      showReadOnly={true} showWriteOnly={true} />
  - name: Handelsunstimmigkeitstyp
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/Handelsunstimmigkeitstyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Herausgeber
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Herausgeber"
      showReadOnly={true} showWriteOnly={true} />
  - name: Inbetriebsetzung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Inbetriebsetzung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Kalkulationsmethode
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Kalkulationsmethode"
      showReadOnly={true} showWriteOnly={true} />
  - name: Kommunikationsrolle
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Kommunikationsrolle"
      showReadOnly={true} showWriteOnly={true} />
  - name: Kontaktart
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Kontaktart"
      showReadOnly={true} showWriteOnly={true} />
  - name: Kundentyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Kundentyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Landescode
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Landescode"
      showReadOnly={true} showWriteOnly={true} />
  - name: Leistungstyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Leistungstyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Lokationstyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Lokationstyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Lokationszuordnung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Lokationszuordnung"
      showReadOnly={true} showWriteOnly={true} />
  - name: MarktlokationsTyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/MarktlokationsTyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Marktrolle
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Marktrolle"
      showReadOnly={true} showWriteOnly={true} />
  - name: Mengeneinheit
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Mengeneinheit"
      showReadOnly={true} showWriteOnly={true} />
  - name: Mengenumwertertyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Mengenumwertertyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: MesstechnischeEinordnung
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/MesstechnischeEinordnung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Messwerterfassung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Messwerterfassung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Messwertstatus
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Messwertstatus"
      showReadOnly={true} showWriteOnly={true} />
  - name: ModulNetzentgelte
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/ModulNetzentgelte"
      showReadOnly={true} showWriteOnly={true} />
  - name: MSBEigenschaft
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/MSBEigenschaft"
      showReadOnly={true} showWriteOnly={true} />
  - name: Netzebene
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Netzebene"
      showReadOnly={true} showWriteOnly={true} />
  - name: Netznutzungsabrechnungsgrundlage
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/Netznutzungsabrechnungsgrundlage"
      showReadOnly={true} showWriteOnly={true} />
  - name: Netznutzungsabrechnungsvariante
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/Netznutzungsabrechnungsvariante"
      showReadOnly={true} showWriteOnly={true} />
  - name: Netznutzungsvertrag
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Netznutzungsvertrag"
      showReadOnly={true} showWriteOnly={true} />
  - name: Netznutzungszahler
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Netznutzungszahler"
      showReadOnly={true} showWriteOnly={true} />
  - name: NotwendigkeitZweiteMessung
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/NotwendigkeitZweiteMessung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Oekolabel
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Oekolabel"
      showReadOnly={true} showWriteOnly={true} />
  - name: Oekozertifikat
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Oekozertifikat"
      showReadOnly={true} showWriteOnly={true} />
  - name: Preisstatus
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Preisstatus"
      showReadOnly={true} showWriteOnly={true} />
  - name: Priorisierung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Priorisierung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Profilart
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Profilart"
      showReadOnly={true} showWriteOnly={true} />
  - name: Profiltyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Profiltyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Profilverfahren
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Profilverfahren"
      showReadOnly={true} showWriteOnly={true} />
  - name: Prognosegrundlage
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Prognosegrundlage"
      showReadOnly={true} showWriteOnly={true} />
  - name: Rechnungsstatus
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Rechnungsstatus"
      showReadOnly={true} showWriteOnly={true} />
  - name: Rechnungstyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Rechnungstyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Registeranzahl
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Registeranzahl"
      showReadOnly={true} showWriteOnly={true} />
  - name: Reklamationsgrund
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Reklamationsgrund"
      showReadOnly={true} showWriteOnly={true} />
  - name: RessourceWechselmoeglichkeit
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/RessourceWechselmoeglichkeit"
      showReadOnly={true} showWriteOnly={true} />
  - name: Rollencodetyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Rollencodetyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Rufnummernart
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Rufnummernart"
      showReadOnly={true} showWriteOnly={true} />
  - name: Schalthandlung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Schalthandlung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Schwachlastfaehig
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Schwachlastfaehig"
      showReadOnly={true} showWriteOnly={true} />
  - name: SonderrechnungsArt
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/SonderrechnungsArt"
      showReadOnly={true} showWriteOnly={true} />
  - name: Sparte
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Sparte"
      showReadOnly={true} showWriteOnly={true} />
  - name: Speicherart
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Speicherart"
      showReadOnly={true} showWriteOnly={true} />
  - name: Sperrauftragsablehngrund
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/Sperrauftragsablehngrund"
      showReadOnly={true} showWriteOnly={true} />
  - name: Sperrauftragsart
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Sperrauftragsart"
      showReadOnly={true} showWriteOnly={true} />
  - name: Sperrauftragsverhinderungsgrund
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/Sperrauftragsverhinderungsgrund"
      showReadOnly={true} showWriteOnly={true} />
  - name: Sperrstatus
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Sperrstatus"
      showReadOnly={true} showWriteOnly={true} />
  - name: Status
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Status"
      showReadOnly={true} showWriteOnly={true} />
  - name: Statusanlass
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Statusanlass"
      showReadOnly={true} showWriteOnly={true} />
  - name: StatusArt
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/StatusArt"
      showReadOnly={true} showWriteOnly={true} />
  - name: StatusErzeugendeMarktlokation
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/StatusErzeugendeMarktlokation"
      showReadOnly={true} showWriteOnly={true} />
  - name: Statusobjekt
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Statusobjekt"
      showReadOnly={true} showWriteOnly={true} />
  - name: Steuerkanal
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Steuerkanal"
      showReadOnly={true} showWriteOnly={true} />
  - name: Steuerkennzeichen
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Steuerkennzeichen"
      showReadOnly={true} showWriteOnly={true} />
  - name: Tarifart
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Tarifart"
      showReadOnly={true} showWriteOnly={true} />
  - name: Tarifmerkmal
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Tarifmerkmal"
      showReadOnly={true} showWriteOnly={true} />
  - name: Tarifstufe
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Tarifstufe"
      showReadOnly={true} showWriteOnly={true} />
  - name: Tariftyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Tariftyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Tarifzeit
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Tarifzeit"
      showReadOnly={true} showWriteOnly={true} />
  - name: TechnischeRessourceArt
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/TechnischeRessourceArt"
      showReadOnly={true} showWriteOnly={true} />
  - name: UebermittelbarkeitLeistungskurve
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/UebermittelbarkeitLeistungskurve"
      showReadOnly={true} showWriteOnly={true} />
  - name: UebermittelbarkeitSchaltzeit
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/UebermittelbarkeitSchaltzeit"
      showReadOnly={true} showWriteOnly={true} />
  - name: UebermittelbarkeitZaehlzeit
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/UebermittelbarkeitZaehlzeit"
      showReadOnly={true} showWriteOnly={true} />
  - name: Umsetzungsgradvorgabe
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Umsetzungsgradvorgabe"
      showReadOnly={true} showWriteOnly={true} />
  - name: Unterbrechbarkeit
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Unterbrechbarkeit"
      showReadOnly={true} showWriteOnly={true} />
  - name: Verbrauchsart
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Verbrauchsart"
      showReadOnly={true} showWriteOnly={true} />
  - name: Verbrauchsmengetyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Verbrauchsmengetyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Verfuegbarkeit
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Verfuegbarkeit"
      showReadOnly={true} showWriteOnly={true} />
  - name: VerguetungEmpfaenger
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/VerguetungEmpfaenger"
      showReadOnly={true} showWriteOnly={true} />
  - name: Versorgungsart
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Versorgungsart"
      showReadOnly={true} showWriteOnly={true} />
  - name: Vertragsart
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Vertragsart"
      showReadOnly={true} showWriteOnly={true} />
  - name: Vertragstatus
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Vertragstatus"
      showReadOnly={true} showWriteOnly={true} />
  - name: Verwendungsumfang
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Verwendungsumfang"
      showReadOnly={true} showWriteOnly={true} />
  - name: Verwendungszeitraumqualitaet
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/Verwendungszeitraumqualitaet"
      showReadOnly={true} showWriteOnly={true} />
  - name: VerwendungszweckValue
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/VerwendungszweckValue"
      showReadOnly={true} showWriteOnly={true} />
  - name: Volumenerfassung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Volumenerfassung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Waehrungseinheit
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Waehrungseinheit"
      showReadOnly={true} showWriteOnly={true} />
  - name: Waermenutzung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Waermenutzung"
      showReadOnly={true} showWriteOnly={true} />
  - name: WahlrechtPrognosegrundlage
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/WahlrechtPrognosegrundlage"
      showReadOnly={true} showWriteOnly={true} />
  - name: Wertegranularitaet
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Wertegranularitaet"
      showReadOnly={true} showWriteOnly={true} />
  - name: Wertermittlungsverfahren
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/Wertermittlungsverfahren"
      showReadOnly={true} showWriteOnly={true} />
  - name: WerteuebermittlungVerwendungszweck
    description: >-
      <SchemaDefinition
      schemaRef="#/components/schemas/WerteuebermittlungVerwendungszweck"
      showReadOnly={true} showWriteOnly={true} />
  - name: Zaehlerauspraegung
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Zaehlerauspraegung"
      showReadOnly={true} showWriteOnly={true} />
  - name: Zaehlertyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Zaehlertyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: ZaehlertypSpezifikation
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/ZaehlertypSpezifikation"
      showReadOnly={true} showWriteOnly={true} />
  - name: ZaehlzeitdefinitionTyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/ZaehlzeitdefinitionTyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: ZahlerBlindarbeit
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/ZahlerBlindarbeit"
      showReadOnly={true} showWriteOnly={true} />
  - name: Zeiteinheit
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Zeiteinheit"
      showReadOnly={true} showWriteOnly={true} />
  - name: Zeitreihentyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Zeitreihentyp"
      showReadOnly={true} showWriteOnly={true} />
  - name: Zone
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/Zone"
      showReadOnly={true} showWriteOnly={true} />
  - name: ZuschlagTyp
    description: >-
      <SchemaDefinition schemaRef="#/components/schemas/ZuschlagTyp"
      showReadOnly={true} showWriteOnly={true} />
x-tagGroups:
  - name: CDOC Elemente
    tags:
      - Transaktionsdaten
      - Stammdaten
  - name: BO
    tags:
      - AdHocSteuerkanal
      - Anfrage
      - Angebot
      - Ansprechpartner
      - Auftrag
      - Avis
      - Berechnungsformel
      - Bilanzierung
      - Bilanzkreis
      - Energiemenge
      - Geschaeftspartner
      - Handelsunstimmigkeit
      - Kommunikationsdaten
      - Leistungskurvendefinition
      - Lokationsbuendel
      - Marktlokation
      - Marktteilnehmer
      - Messlokation
      - Netzlokation
      - Preisblatt
      - Rechnung
      - Reklamation
      - Schaltzeitdefinition
      - Sperrauftrag
      - Statusbericht
      - Statusmitteilung
      - SteuerbareRessource
      - Tarifinfo
      - TechnischeRessource
      - Tranche
      - Vertrag
      - Verwendungszeitraum
      - WerteNachTyp2
      - Zaehler
      - Zaehlzeitdefinition
  - name: COM
    tags:
      - Abschlag
      - Abtretungserklaerung
      - Abweichung
      - Abweichungsposition
      - Adresse
      - AdresszusatzInformation
      - AllgemeineInformationen
      - Angebotsposition
      - Angebotsteil
      - Angebotsvariante
      - AntwortStatusZeitraum
      - AuftragPosition
      - Aussteller
      - Avisposition
      - Bankverbindung
      - Begruendung
      - Beschreibung
      - Betrag
      - Dienstleistung
      - Energieherkunft
      - Energiemix
      - EnFG
      - Erreichbarkeit
      - ExterneReferenz
      - Fehler
      - Fehlerbeschreibung
      - FehlerDetail
      - FehlerUrsache
      - Freitext
      - Gemeinderabatt
      - Geokoordinaten
      - Geraet
      - Geraeteeigenschaften
      - Gruppe
      - Handelsunstimmigkeitsbegruendung
      - InfoAbweichung
      - IPAdresseCLSDevice
      - IpRange
      - Katalogverweis
      - Katasteradresse
      - Kommunikationsparameter
      - Konzessionsabgabe
      - Lastprofil
      - Leistungskurve
      - MarktlokationsTypisierung
      - Menge
      - Messlokationszuordnung
      - Messstellenbetriebsabrechnungsdaten
      - Nennleistung
      - Netznutzungsabrechnungsdaten
      - Objectcode
      - PositionsAufAbschlag
      - Preis
      - Preisposition
      - Preisstaffel
      - Produkt
      - Produktpaket
      - Rechenschritt
      - Rechnungsposition
      - ReklamationsgrundBemerkung
      - Rueckmeldungsposition
      - Rufnummer
      - Schaltzeit
      - Schwellwert
      - Sigmoidparameter
      - StatusmitteilungPosition
      - StatusZusatzInformation
      - Steuerbetrag
      - Tagesparameter
      - Verbrauch
      - Vertragskonditionen
      - Verwendungszweck
      - Zaehlwerk
      - Zaehlzeit
      - Zaehlzeitregister
      - Zeitraum
      - ZertifikatsAussteller
      - ZertifikatsNutzer
      - Zieladresse
      - ZugeordneteDefinition
      - ZuordnungObjectcode
      - Zuschlag
  - name: ENUM
    tags:
      - AbgabeArt
      - Abonnement
      - AbschlagTyp
      - Abweichungsgrund
      - Abwicklungsmodell
      - AenderungsmoeglichkeitKonfiguration
      - Aggregationsverantwortung
      - Anfragegrund
      - Anfragekategorie
      - Anfragetyp
      - Angebotsstatus
      - ArithmetischeOperation
      - ArtEmobilitaet
      - ArtikelIdTyp
      - AufAbschlagstyp
      - Auftragsstatus
      - AvisTyp
      - BankverbindungVerwendungszweck
      - BDEWArtikelnummer
      - BeauftragungMsb
      - Befestigungsart
      - Bemessungsgroesse
      - BerechnungsformelNotwendigkeit
      - BerichtStatus
      - Betriebszustand
      - Bilanzierungsmethode
      - Bilanzkreiszuordnung
      - BildungTranchengroesse
      - BOTyp
      - Datenqualitaet
      - DefinitionenNotwendigkeit
      - DefinitionsTyp
      - Dienstleistungstyp
      - Energieerfassung
      - Energierichtung
      - ErmittlungLeistungsmaximum
      - Erzeugungsart
      - Fallgruppenzuordnung
      - FehlerCode
      - FehlerTyp
      - Fernschaltung
      - Fernsteuerbarkeit
      - Gasqualitaet
      - Gebiettyp
      - Geraetemerkmal
      - Geraetetyp
      - Geschaeftspartnerrolle
      - GrundlageVerringerungUmlagen
      - GrundlageVerringerungUmlagenGrund
      - HaeufigkeitLeistungskurve
      - HaeufigkeitSchaltzeit
      - HaeufigkeitZaehlzeit
      - Handelsunstimmigkeitsgrund
      - Handelsunstimmigkeitsrichtigkeit
      - Handelsunstimmigkeitstyp
      - Herausgeber
      - Inbetriebsetzung
      - Kalkulationsmethode
      - Kommunikationsrolle
      - Kontaktart
      - Kundentyp
      - Landescode
      - Leistungstyp
      - Lokationstyp
      - Lokationszuordnung
      - MarktlokationsTyp
      - Marktrolle
      - Mengeneinheit
      - Mengenumwertertyp
      - MesstechnischeEinordnung
      - Messwerterfassung
      - Messwertstatus
      - ModulNetzentgelte
      - MSBEigenschaft
      - Netzebene
      - Netznutzungsabrechnungsgrundlage
      - Netznutzungsabrechnungsvariante
      - Netznutzungsvertrag
      - Netznutzungszahler
      - NotwendigkeitZweiteMessung
      - Oekolabel
      - Oekozertifikat
      - Preisstatus
      - Priorisierung
      - Profilart
      - Profiltyp
      - Profilverfahren
      - Prognosegrundlage
      - Rechnungsstatus
      - Rechnungstyp
      - Registeranzahl
      - Reklamationsgrund
      - RessourceWechselmoeglichkeit
      - Rollencodetyp
      - Rufnummernart
      - Schalthandlung
      - Schwachlastfaehig
      - SonderrechnungsArt
      - Sparte
      - Speicherart
      - Sperrauftragsablehngrund
      - Sperrauftragsart
      - Sperrauftragsverhinderungsgrund
      - Sperrstatus
      - Status
      - Statusanlass
      - StatusArt
      - StatusErzeugendeMarktlokation
      - Statusobjekt
      - Steuerkanal
      - Steuerkennzeichen
      - Tarifart
      - Tarifmerkmal
      - Tarifstufe
      - Tariftyp
      - Tarifzeit
      - TechnischeRessourceArt
      - UebermittelbarkeitLeistungskurve
      - UebermittelbarkeitSchaltzeit
      - UebermittelbarkeitZaehlzeit
      - Umsetzungsgradvorgabe
      - Unterbrechbarkeit
      - Verbrauchsart
      - Verbrauchsmengetyp
      - Verfuegbarkeit
      - VerguetungEmpfaenger
      - Versorgungsart
      - Vertragsart
      - Vertragstatus
      - Verwendungsumfang
      - Verwendungszeitraumqualitaet
      - VerwendungszweckValue
      - Volumenerfassung
      - Waehrungseinheit
      - Waermenutzung
      - WahlrechtPrognosegrundlage
      - Wertegranularitaet
      - Wertermittlungsverfahren
      - WerteuebermittlungVerwendungszweck
      - Zaehlerauspraegung
      - Zaehlertyp
      - ZaehlertypSpezifikation
      - ZaehlzeitdefinitionTyp
      - ZahlerBlindarbeit
      - Zeiteinheit
      - Zeitreihentyp
      - Zone
      - ZuschlagTyp
paths: {}
components:
  schemas:
    Transaktionsdaten:
      type: object
      properties:
        datenaustauschreferenz:
          type: string
        sparte:
          $ref: '#/components/schemas/Sparte'
        transaktionsgrund:
          type: string
        transaktionsgrundergaenzung:
          type: string
        transaktionsgrundergaenzungBefristeteAnmeldung:
          type: string
        lieferrichtung:
          type: string
        prozessdatum:
          type: string
          format: date-time
        vorgangsnummer:
          type: string
        idempodenzschluessel:
          type: string
        pruefidentifikator:
          type: string
        absender:
          $ref: '#/components/schemas/Marktteilnehmer'
        empfaenger:
          $ref: '#/components/schemas/Marktteilnehmer'
        dokumentennummer:
          type: string
        dokumentenname:
          type: string
        kategorie:
          type: string
        nachrichtenfunktion:
          type: string
        nachrichtendatum:
          type: string
          format: date-time
        nachrichtenreferenznummer:
          type: string
        anfragereferenznummer:
          type: string
        vorgangsreferenznummer:
          type: string
        sendungsposition:
          type: string
        positionsnummer:
          type: integer
        mitteilungsnummer:
          type: string
        netznutzungsabrechnungsintervall:
          type: string
        typ:
          type: string
        anfrageReferenz:
          type: string
        auftragsReferenz:
          type: string
        vertragsbeginn:
          type: string
          format: date-time
        vertragsende:
          type: string
          format: date-time
        ausfuehrungsdatum:
          type: string
          format: date-time
        lieferdatum:
          type: string
          format: date-time
        meldepunkt:
          type: string
        startdatum:
          type: string
          format: date-time
        enddatum:
          type: string
          format: date-time
        verwendungAb:
          type: string
          format: date-time
        verwendungBis:
          type: string
          format: date-time
        leistungsperiode:
          type: string
        abonnement:
          type: string
        produktbeschreibung:
          type: string
        bestellungzaehlzeiten:
          type: string
        angebotsnummer:
          type: string
        angebotsreferenz:
          type: string
        naechsteNetznutzungsabrechnung:
          type: string
        naechsteTurnusAblesungStrom:
          type: string
        naechsteTurnusAblesungGas:
          type: string
        identifikationslogik:
          type: string
        datumsformat:
          type: string
        antwortstatus:
          type: string
        antwortstatusCodeliste:
          type: string
        antwortstatusdritter:
          type: string
        antwortstatusCodelistedritter:
          type: string
        beteiligterMarktpartner:
          $ref: '#/components/schemas/Marktteilnehmer'
        beteiligterMarktpartnerReferenz:
          type: string
        beteiligterMarktpartnerReferenzcode:
          type: string
        freitext:
          $ref: '#/components/schemas/Freitext'
        fehlerbeschreibung:
          type: string
        begruendung:
          type: string
        infoAbweichung:
          type: string
        ergaenzteMarktlokation:
          type: boolean
        zaehlerstandsinfo:
          type: boolean
        lokationsId:
          type: string
        referenzMalo:
          type: string
        referenzMelo:
          type: string
        referenzPreisschluesselstamm:
          type: string
        datumleistungsbeginn:
          type: string
          format: date-time
        endezumtermin:
          type: string
          format: date-time
        naechsteBearbeitung:
          type: string
          format: date-time
        lieferbeginndatuminbearbeitung:
          type: string
          format: date-time
        angebotsart:
          type: string
        menge:
          $ref: '#/components/schemas/Menge'
        tarifstufe:
          $ref: '#/components/schemas/Tarifstufe'
        bilanzkreiszuordnung:
          $ref: '#/components/schemas/Bilanzkreiszuordnung'
        anwendungsreferenznummer:
          type: string
        fertigstellungsdatum:
          type: string
          format: date-time
        datumuebergabe:
          type: string
          format: date-time
        gueltigAb:
          type: string
          format: date-time
        ablesedatum:
          type: string
          format: date-time
        verarbeitungsReihenfolge:
          type: string
        ansprechpartnerKunde:
          $ref: '#/components/schemas/Ansprechpartner'
        statusVeraenderungsZeitpunkt:
          type: string
          format: date-time
        gueltigkeitsZeitspanne:
          type: string
          format: date-time
        nachrichtenReferenzBestellbestaetigung:
          type: string
        vorgangsReferenzBestellbestaetigung:
          type: string
        datumKuendigungKd:
          type: string
          format: date-time
        datumKuendigungLf:
          type: string
          format: date-time
        referenzArtikelID:
          type: string
        bilanzkreis:
          type: array
          items:
            $ref: '#/components/schemas/Bilanzkreis'
        geplantesProduktpaket:
          type: integer
        abtretungserklaerung:
          $ref: '#/components/schemas/Abtretungserklaerung'
        antwortStatusZeitraum:
          type: array
          items:
            $ref: '#/components/schemas/AntwortStatusZeitraum'
    Stammdaten:
      type: object
      properties:
        BILANZIERUNG:
          type: array
          items:
            $ref: '#/components/schemas/Bilanzierung'
        MARKTLOKATION:
          type: array
          items:
            $ref: '#/components/schemas/Marktlokation'
        MESSLOKATION:
          type: array
          items:
            $ref: '#/components/schemas/Messlokation'
        NETZNUTZUNGSVERTRAG:
          type: array
          items:
            $ref: '#/components/schemas/Vertrag'
        MESSSTELLENBETRIEBSVERTRAG:
          type: array
          items:
            $ref: '#/components/schemas/Vertrag'
        ENERGIELIEFERVERTRAG:
          type: array
          items:
            $ref: '#/components/schemas/Vertrag'
        ENERGIEMENGE:
          type: array
          items:
            $ref: '#/components/schemas/Energiemenge'
        ZAEHLER:
          type: array
          items:
            $ref: '#/components/schemas/Zaehler'
        RECHNUNG:
          type: array
          items:
            $ref: '#/components/schemas/Rechnung'
        STATUSMITTEILUNG:
          type: array
          items:
            $ref: '#/components/schemas/Statusmitteilung'
        HANDELSUNSTIMMIGKEIT:
          type: array
          items:
            $ref: '#/components/schemas/Handelsunstimmigkeit'
        AUFTRAG:
          type: array
          items:
            $ref: '#/components/schemas/Auftrag'
        ANFRAGE:
          type: array
          items:
            $ref: '#/components/schemas/Anfrage'
        BERECHNUNGSFORMEL:
          type: array
          items:
            $ref: '#/components/schemas/Berechnungsformel'
        SPERRAUFTRAG:
          type: array
          items:
            $ref: '#/components/schemas/Sperrauftrag'
        ANGEBOT:
          type: array
          items:
            $ref: '#/components/schemas/Angebot'
        TRANCHE:
          type: array
          items:
            $ref: '#/components/schemas/Tranche'
        KOMMUNIKATIONSDATEN:
          type: array
          items:
            $ref: '#/components/schemas/Kommunikationsdaten'
        PREISBLATT:
          type: array
          items:
            $ref: '#/components/schemas/Preisblatt'
        STATUSBERICHT:
          type: array
          items:
            $ref: '#/components/schemas/Statusbericht'
        AVIS:
          type: array
          items:
            $ref: '#/components/schemas/Avis'
        REKLAMATION:
          type: array
          items:
            $ref: '#/components/schemas/Reklamation'
        ZAEHLZEITDEFINITION:
          type: array
          items:
            $ref: '#/components/schemas/Zaehlzeitdefinition'
        SCHALTZEITDEFINITION:
          type: array
          items:
            $ref: '#/components/schemas/Schaltzeitdefinition'
        LEISTUNGSKURVENDEFINITION:
          type: array
          items:
            $ref: '#/components/schemas/Leistungskurvendefinition'
        NETZLOKATION:
          type: array
          items:
            $ref: '#/components/schemas/Netzlokation'
        STEUERBARE_RESSOURCE:
          type: array
          items:
            $ref: '#/components/schemas/SteuerbareRessource'
        TECHNISCHE_RESSOURCE:
          type: array
          items:
            $ref: '#/components/schemas/TechnischeRessource'
        LOKATIONSBUENDEL:
          type: array
          items:
            $ref: '#/components/schemas/Lokationsbuendel'
        AD_HOC_STEUERKANAL:
          type: array
          items:
            $ref: '#/components/schemas/AdHocSteuerkanal'
        WERTE_NACH_TYP2:
          type: array
          items:
            $ref: '#/components/schemas/WerteNachTyp2'
        RUHENDE_MARKTLOKATION:
          type: array
          items:
            $ref: '#/components/schemas/Marktlokation'
        MARKTLOKATION_KUNDENANLAGE:
          type: array
          items:
            $ref: '#/components/schemas/Marktlokation'
        VERWENDUNGSZEITRAUM:
          type: array
          items:
            $ref: '#/components/schemas/Verwendungszeitraum'
    AdHocSteuerkanal:
      title: AdHocSteuerkanal
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: AD_HOC_STEUERKANAL
        versionStruktur:
          type: string
          default: '1'
        konfigurationsprodukt:
          type: string
        zieladresse:
          $ref: '#/components/schemas/Zieladresse'
        aussteller:
          $ref: '#/components/schemas/Aussteller'
        zertifikatsNutzer:
          $ref: '#/components/schemas/ZertifikatsNutzer'
        IPAdresseCLSDevice:
          $ref: '#/components/schemas/IPAdresseCLSDevice'
      required:
        - boTyp
        - versionStruktur
      example:
        $ref: >-
          https://raw.githubusercontent.com/conuti-gmbh/bo4e-schema/master/docs/examples/bo/AdHocSteuerkanal.json
    Anfrage:
      title: Anfrage
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: ANFRAGE
        versionStruktur:
          type: string
          default: '1'
        lokationsId:
          type: string
        anfragetyp:
          $ref: '#/components/schemas/Anfragetyp'
        abonnement:
          $ref: '#/components/schemas/Abonnement'
        anfragereferenz:
          type: string
        allgemeineInformationen:
          type: string
        anfragekategorie:
          $ref: '#/components/schemas/Anfragekategorie'
        energierichtung:
          $ref: '#/components/schemas/Energierichtung'
        gueltigkeitszeitspanne:
          type: string
        gueltigAb:
          type: string
          format: date-time
      required:
        - boTyp
        - versionStruktur
      example:
        $ref: >-
          https://raw.githubusercontent.com/conuti-gmbh/bo4e-schema/master/docs/examples/bo/Anfrage.json
    Angebot:
      title: Angebot
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: ANGEBOT
        versionStruktur:
          type: string
          default: '1'
        angebotsnummer:
          type: string
        anfragereferenz:
          type: string
        angebotsdatum:
          type: string
          format: date-time
        sparte:
          $ref: '#/components/schemas/Sparte'
        bindefrist:
          type: string
          format: date-time
        angebotgeber:
          $ref: '#/components/schemas/Geschaeftspartner'
        angebotnehmer:
          $ref: '#/components/schemas/Geschaeftspartner'
        unterzeichnerAngebotsnehmer:
          $ref: '#/components/schemas/Ansprechpartner'
        unterzeichnerAngebotsgeber:
          $ref: '#/components/schemas/Ansprechpartner'
        zeitspanneEinrichtungUebermittlungWerte:
          $ref: '#/components/schemas/Zeitraum'
        bindefristAngebot:
          $ref: '#/components/schemas/Zeitraum'
        varianten:
          type: array
          items:
            $ref: '#/components/schemas/Angebotsvariante'
      required:
        - boTyp
        - versionStruktur
      example:
        $ref: >-
          https://raw.githubusercontent.com/conuti-gmbh/bo4e-schema/master/docs/examples/bo/Angebot.json
    Ansprechpartner:
      title: Ansprechpartner
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: ANSPRECHPARTNER
        versionStruktur:
          type: string
          default: '1'
        nachname:
          type: string
        eMailAdresse:
          type: string
        rufnummern:
          type: array
          items:
            $ref: '#/components/schemas/Rufnummer'
      required:
        - boTyp
        - versionStruktur
      example:
        $ref: >-
          https://raw.githubusercontent.com/conuti-gmbh/bo4e-schema/master/docs/examples/bo/Ansprechpartner.json
    Auftrag:
      title: Auftrag
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: AUFTRAG
        versionStruktur:
          type: string
          default: '1'
        ausfuehrungsdatum:
          type: string
          format: date-time
        fertigstellungsdatum:
          type: string
          format: date-time
        startdatum:
          type: string
          format: date-time
        sparte:
          $ref: '#/components/schemas/Sparte'
        lieferanschrift:
          $ref: '#/components/schemas/Adresse'
        marktlokationsId:
          type: string
        mindestpreis:
          $ref: '#/components/schemas/Preis'
        hoechstpreis:
          $ref: '#/components/schemas/Preis'
        energierichtung:
          $ref: '#/components/schemas/Energierichtung'
        berechnungspreis:
          type: number
          format: float
        summeGesamt:
          type: number
          format: float
        verschobenerAbmeldetermin:
          type: string
          format: date-time
        behebungsZeitpunkt:
          type: string
          format: date-time
        lieferadresseAltgeraete:
          $ref: '#/components/schemas/Geschaeftspartner'
        definitionsTyp:
          $ref: '#/components/schemas/DefinitionsTyp'
        positionsdaten:
          type: array
          items:
            $ref: '#/components/schemas/AuftragPosition'
        bemerkungen:
          type: array
          items:
            type: string
      required:
        - boTyp
        - versionStruktur
      example:
        $ref: >-
          https://raw.githubusercontent.com/conuti-gmbh/bo4e-schema/master/docs/examples/bo/Auftrag.json
    Avis:
      title: Avis
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: AVIS
        versionStruktur:
          type: string
          default: '1'
        avisNummer:
          type: string
        avisTyp:
          $ref: '#/components/schemas/AvisTyp'
        zuZahlen:
          $ref: '#/components/schemas/Betrag'
        positionen:
          type: array
          items:
            $ref: '#/components/schemas/Avisposition'
      required:
        - boTyp
        - versionStruktur
      example:
        $ref: >-
          https://raw.githubusercontent.com/conuti-gmbh/bo4e-schema/master/docs/examples/bo/Avis.json
    Berechnungsformel:
      title: Berechnungsformel
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: BERECHNUNGSFORMEL
        versionStruktur:
          type: string
          default: '1'
        beginndatum:
          type: string
          format: date-time
        notwendigkeit:
          $ref: '#/components/schemas/BerechnungsformelNotwendigkeit'
        lieferrichtung:
          $ref: '#/components/schemas/Energierichtung'
        rechenschrittId:
          type: integer
        rechenschritt:
          $ref: '#/components/schemas/Rechenschritt'
        rechenschritte:
          type: array
          items:
            $ref: '#/components/schemas/Rechenschritt'
        verwendungszweck:
          type: array
          items:
            $ref: '#/components/schemas/Verwendungszweck'
        gueltigkeitszeitraum:
          $ref: '#/components/schemas/Zeitraum'
      required:
        - boTyp
        - versionStruktur
      example:
        $ref: >-
          https://raw.githubusercontent.com/conuti-gmbh/bo4e-schema/master/docs/examples/bo/Berechnungsformel.json
    Bilanzierung:
      title: Bilanzierung
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: BILANZIERUNG
        versionStruktur:
          type: string
          default: '1'
        marktlokationsId:
          type: string
        aggregationsverantwortung:
          $ref: '#/components/schemas/Aggregationsverantwortung'
        zeitreihentyp:
          type: string
        prognosegrundlage:
          $ref: '#/components/schemas/Prognosegrundlage'
        bilanzierungsbeginn:
          type: string
          format: date-time
        bilanzierungsende:
          type: string
          format: date-time
        bilanzkreis:
          type: string
        fallgruppenzuordnung:
          $ref: '#/components/schemas/Fallgruppenzuordnung'
        temperaturarbeit:
          $ref: '#/components/schemas/Menge'
        jahresverbrauchsprognose:
          $ref: '#/components/schemas/Menge'
        kundenwert:
          $ref: '#/components/schemas/Menge'
        verbrauchsaufteilung:
          $ref: '#/components/schemas/Menge'
        wahlrechtPrognosegrundlage:
          $ref: '#/components/schemas/WahlrechtPrognosegrundlage'
        grundWahlrechtPrognosegrundlage:
          $ref: '#/components/schemas/WahlrechtPrognosegrundlage'
        abwicklungsmodell:
          $ref: '#/components/schemas/Abwicklungsmodell'
        vorjahresverbrauch:
          $ref: '#/components/schemas/Menge'
        datenqualitaet:
          $ref: '#/components/schemas/Datenqualitaet'
        gueltigkeitszeitraum:
          $ref: '#/components/schemas/Zeitraum'
        lastprofile:
          type: array
          items:
            $ref: '#/components/schemas/Lastprofil'
        lastprofileBilanzierungsbeteiligter:
          type: array
          items:
            $ref: '#/components/schemas/Lastprofil'
        detailsPrognosegrundlage:
          type: array
          items:
            $ref: '#/components/schemas/Profiltyp'
      required:
        - boTyp
        - versionStruktur
      example:
        $ref: >-
          https://raw.githubusercontent.com/conuti-gmbh/bo4e-schema/master/docs/examples/bo/Bilanzierung.json
    Bilanzkreis:
      title: Bilanzkreis
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: BILANZKREIS
        versionStruktur:
          type: string
          default: '1'
        bezeichnung:
          type: string
        prioritaet:
          type: integer
      example:
        $ref: >-
          https://raw.githubusercontent.com/conuti-gmbh/bo4e-schema/master/docs/examples/bo/Bilanzkreis.json
    Energiemenge:
      title: Energiemenge
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: ENERGIEMENGE
        versionStruktur:
          type: string
          default: '1'
        lokationsId:
          type: string
          description: >-
            Eindeutige Nummer der Marktlokation bzw. der Messlokation, zu der
            die Energiemenge gehört
        lokationsTyp:
          $ref: '#/components/schemas/Lokationstyp'
          description: Gibt an, ob es sich um eine Markt- oder Messlokation handelt.
        fertigstellungsdatum:
          type: string
          format: date-time
        startdatum:
          type: string
          format: date-time
          description: >-
            Gibt Tag und Uhrzeit (falls vorhanden) an, wann der Zeitraum
            startet.
        enddatum:
          type: string
          format: date-time
          description: Gibt Tag und Uhrzeit (falls vorhanden) an, wann der Zeitraum endet.
        bilanzierungsdatum:
          type: string
          format: date-time
        beginndatum:
          type: string
          format: date-time
        referenzStammdatenmeldungMsb:
          type: string
        konfiguration:
          type: string
        energieverbrauch:
          type: array
          items:
            $ref: '#/components/schemas/Verbrauch'
          description: Gibt den Verbrauch in einer Zeiteinheit an.
      required:
        - boTyp
        - versionStruktur
      example:
        $ref: >-
          https://raw.githubusercontent.com/conuti-gmbh/bo4e-schema/master/docs/examples/bo/Energiemenge.json
    Geschaeftspartner:
      title: Geschaeftspartner
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: GESCHAEFTSPARTNER
        versionStruktur:
          type: string
          default: '1'
        anrede:
          type: string
          description: Die Anrede für den GePa, Z.B. Herr.
        name1:
          type: string
          description: >-
            Erster Teil des Namens. Hier kann der Firmenname oder bei
            Privatpersonen

            beispielsweise der Nachname dargestellt werden. Beispiele: Yellow
            Strom GmbH

            oder Hagen
        name2:
          type: string
          description: >-
            Zweiter Teil des Namens. Hier kann der eine Erweiterung zum
            Firmennamen oder

            bei Privatpersonen beispielsweise der Vorname dargestellt werden.
            Beispiele:

            Bereich Süd oder Nina
        name3:
          type: string
          description: >-
            Dritter Teil des Namens. Hier können weitere Ergänzungen zum
            Firmennamen oder

            bei Privatpersonen Zusätze zum Namen dargestellt werden. Beispiele:
            und Afrika

            oder Sängerin
        name4:
          type: string
        umsatzsteuerId:
          type: string
          description: 'Die Umsatzsteuer-ID des Geschäftspartners. Beispiel: DE 813281825'
        glaeubigerId:
          type: string
          description: >-
            * Die Gläubiger-ID welche im Zahlungsverkehr verwendet wird- Z.B. DE
            47116789
        emailAdresse:
          type: string
        website:
          type: string
          description: 'Internetseite des Marktpartners. Beispiel: www.mp-energie.de'
        gewerbekennzeichnung:
          type: boolean
          description: >-
            Kennzeichnung ob es sich um einen Gewerbe/Unternehmen
            (gewerbeKennzeichnung = true)

            oder eine Privatperson handelt. (gewerbeKennzeichnung = false)
        hrnummer:
          type: string
          description: Handelsregisternummer des Geschäftspartners
        amtsgericht:
          type: string
          description: >-
            Amtsgericht bzw Handelsregistergericht, das die
            Handelsregisternummer herausgegeben hat
        partneradresse:
          $ref: '#/components/schemas/Adresse'
          description: >-
            Adresse des Geschäftspartners, an der sich der Hauptsitz befindet.
            Details
        externeKundenummerLieferant:
          type: string
        externeReferenzen:
          type: array
          items:
            $ref: '#/components/schemas/ExterneReferenz'
          description: >-
            Hier können IDs anderer Systeme hinterlegt werden (z.B. eine
            SAP-GP-Nummer) (Details siehe

            ExterneReferenz)
        geschaeftspartnerrolle:
          type: array
          items:
            $ref: '#/components/schemas/Geschaeftspartnerrolle'
          description: Rolle, die der Geschäftspartner hat (z.B. Interessent, Kunde).
        kontaktweg:
          type: array
          items:
            $ref: '#/components/schemas/Kontaktart'
          description: Bevorzugter Kontaktweg des Geschäftspartners.
      required:
        - boTyp
        - versionStruktur
      example:
        $ref: >-
          https://raw.githubusercontent.com/conuti-gmbh/bo4e-schema/master/docs/examples/bo/Geschaeftspartner.json
    Handelsunstimmigkeit:
      title: Handelsunstimmigkeit
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: HANDELSUNSTIMMIGKEIT
        versionStruktur:
          type: string
          default: '1'
        nummer:
          type: string
          description: Handelsunstimmigkeitsnummer
        typ:
          $ref: '#/components/schemas/Handelsunstimmigkeitstyp'
          description: Gibt den Typ der Handelsunstimmigkeit an.
        begruendung:
          $ref: '#/components/schemas/Handelsunstimmigkeitsbegruendung'
          description: Handelsunstimmigskeitsbegründung
        zuZahlen:
          $ref: '#/components/schemas/Betrag'
          description: angeforderter Betrag
      required:
        - boTyp
        - versionStruktur
      example:
        $ref: >-
          https://raw.githubusercontent.com/conuti-gmbh/bo4e-schema/master/docs/examples/bo/Handelsunstimmigkeit.json
    Kommunikationsdaten:
      title: Kommunikationsdaten
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: KOMMUNIKATIONSDATEN
        versionStruktur:
          type: string
          default: '1'
        gueltigkeit:
          type: string
          format: date-time
        kommunikationsDatenBlattInaktiv:
          type: boolean
        marktteilnehmer:
          $ref: '#/components/schemas/Marktteilnehmer'
        kommunikationsangaben:
          type: array
          items:
            $ref: '#/components/schemas/Marktteilnehmer'
      required:
        - boTyp
        - versionStruktur
      example:
        $ref: >-
          https://raw.githubusercontent.com/conuti-gmbh/bo4e-schema/master/docs/examples/bo/Kommunikationsdaten.json
    Leistungskurvendefinition:
      title: Leistungskurvendefinition
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: LEISTUNGSKURVENDEFINITION
        versionStruktur:
          type: string
          default: '1'
        beginndatum:
          type: string
          format: date-time
        endedatum:
          type: string
          format: date-time
        version:
          type: string
          format: date-time
        code:
          type: string
        notwendigkeit:
          $ref: '#/components/schemas/DefinitionenNotwendigkeit'
        leistungskurven:
          type: array
          items:
            $ref: '#/components/schemas/Leistungskurve'
      required:
        - boTyp
        - versionStruktur
      example:
        $ref: >-
          https://raw.githubusercontent.com/conuti-gmbh/bo4e-schema/master/docs/examples/bo/Leistungskurvendefinition.json
    Lokationsbuendel:
      title: Lokationsbuendel
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: LOKATIONSBUENDEL
        versionStruktur:
          type: string
          default: '1'
        lokationsbuendelstrukturId:
          type: string
        lokationsbuendelNummer:
          type: integer
        standardisierteLokationsbuendelstruktur:
          type: boolean
        datenqualitaet:
          $ref: '#/components/schemas/Datenqualitaet'
        gueltigkeitszeitraum:
          $ref: '#/components/schemas/Zeitraum'
        zuordnungObjectcode:
          type: array
          items:
            $ref: '#/components/schemas/ZuordnungObjectcode'
      required:
        - boTyp
        - versionStruktur
      example:
        $ref: >-
          https://raw.githubusercontent.com/conuti-gmbh/bo4e-schema/master/docs/examples/bo/Lokationsbuendel.json
    Marktlokation:
      title: Marktlokation
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: MARKTLOKATION
        versionStruktur:
          type: string
          default: '1'
        marktlokationsId:
          type: string
          description: |-
            Identifikationsnummer einer Marktlokation, an der Energie entweder
            verbraucht, oder erzeugt wird
        sparte:
          type: string
          description: Strom oder Gas.
        energierichtung:
          $ref: '#/components/schemas/Energierichtung'
          description: >-
            Kennzeichnung, ob Energie eingespeist oder entnommen (ausgespeist)
            wird.
        bilanzierungsmethode:
          $ref: '#/components/schemas/Bilanzierungsmethode'
          description: Bilanzierungsmethode
        verbrauchsart:
          $ref: '#/components/schemas/Verbrauchsart'
          description: Stromverbrauchsart/Verbrauchsart Marktlokation
        unterbrechbar:
          type: boolean
          description: Gibt an, ob es sich um eine unterbrechbare Belieferung handelt.
        netzebene:
          $ref: '#/components/schemas/Netzebene'
          description: >-
            Netzebene, in der der Bezug der Energie erfolgt. Bei Strom
            Spannungsebene der

            Lieferung, bei Gas Druckstufe. Beispiel Strom: Niederspannung
            Beispiel Gas:

            Niederdruck.
        umspannung:
          $ref: '#/components/schemas/Netzebene'
        netzbetreiberCodeNr:
          type: string
          description: |-
            Codenummer des Netzbetreibers, an dessen Netz diese Marktlokation
            angeschlossen ist.
        gebietTyp:
          $ref: '#/components/schemas/Gebiettyp'
          description: Typ des Netzgebietes,z.B.Verteilnetz.
        netzgebietNr:
          type: string
          description: Die Nummer des Netzgebietes in der ene't-Datenbank.
        bilanzierungsgebiet:
          type: string
          description: >-
            Bilanzierungsgebiet, dem das Netzgebiet zugeordnet ist - im Falle
            eines Strom Netzes.
        grundversorgerCodeNr:
          type: string
          description: >-
            CodeNummer des Grundversorgers, der für diese Marktlokation
            zuständig ist.
        gasqualitaet:
          $ref: '#/components/schemas/Gasqualitaet'
          description: gasqualitaet für EDIFACT mapping
        endkunde:
          $ref: '#/components/schemas/Geschaeftspartner'
          description: Link zum Geschäftspartner, dem diese Marktlokation gehört.
        lokationsadresse:
          $ref: '#/components/schemas/Adresse'
          description: Die Adresse, an der die Energie-Lieferung oder -Einspeisung erfolgt.
        katasterinformation:
          $ref: '#/components/schemas/Katasteradresse'
          description: >-
            Alternativ zu einer postalischen Adresse und Geokoordinaten kann
            hier eine

            Ortsangabe mittels Gemarkung und Flurstück erfolgen.

            Achtung: Es darf immer nur eine Art der Ortsangabe vorhanden sein
            (entweder

            eine Adresse oder eine GeoKoordinate oder eine Katasteradresse.
        regelzone:
          type: string
          description: für EDIFACT mapping
        marktgebiet:
          type: string
          description: für EDIFACT mapping
        zeitreihentyp:
          $ref: '#/components/schemas/Zeitreihentyp'
          description: für EDIFACT mapping
        messtechnischeEinordnung:
          $ref: '#/components/schemas/MesstechnischeEinordnung'
          description: >-
            Messtechnische Einordnung aus der UTILMD (IMS, KME_MME,
            KEINE_MESSUNG)
        sperrstatus:
          $ref: '#/components/schemas/Sperrstatus'
          description: Sperrstatus
        referenzMarktlokationsId:
          type: string
        versorgungsart:
          $ref: '#/components/schemas/Versorgungsart'
        eigentuemer:
          $ref: '#/components/schemas/Geschaeftspartner'
        hausverwalter:
          $ref: '#/components/schemas/Geschaeftspartner'
        verguetungEmpfaenger:
          $ref: '#/components/schemas/VerguetungEmpfaenger'
        statusErzeugendeMalo:
          $ref: '#/components/schemas/StatusErzeugendeMarktlokation'
        fernsteuerbarkeit:
          $ref: '#/components/schemas/Fernsteuerbarkeit'
        foerderungsLand:
          type: string
        redispatch:
          type: boolean
        zukuenftigerMeldepunkt:
          type: boolean
        lokationszuordnung:
          $ref: '#/components/schemas/Lokationszuordnung'
        konfigurationsprodukt:
          type: string
        leistungskurvendefinition:
          type: string
          description: Code der Zugeordnete Leistungskurvendefinition für das Objekt
        produktdatenRelevanteRolle:
          $ref: '#/components/schemas/Marktrolle'
        beteiligterMarktpartner:
          $ref: '#/components/schemas/Marktteilnehmer'
        modulNetzentgelte:
          $ref: '#/components/schemas/ModulNetzentgelte'
        datenqualitaet:
          $ref: '#/components/schemas/Datenqualitaet'
        gueltigkeitszeitraum:
          $ref: '#/components/schemas/Zeitraum'
        marktrollen:
          type: array
          items:
            $ref: '#/components/schemas/Marktteilnehmer'
          description: marktrollen für EDIFACT mapping
        zaehlwerke:
          type: array
          items:
            $ref: '#/components/schemas/Zaehlwerk'
          description: Die Zählwerke des Zählers.
        zaehlwerkeBeteiligteMarktrolle:
          type: array
          items:
            $ref: '#/components/schemas/Marktrolle'
          description: Liste der Zählwerke der beteiligten Martrolle
        verbrauchsmenge:
          type: array
          items:
            $ref: '#/components/schemas/Verbrauch'
          description: für EDIFACT mapping
        zugehoerigeMesslokationen:
          type: array
          items:
            $ref: '#/components/schemas/Messlokationszuordnung'
          description: Aufzählung der Messlokationen, die zu dieser Marktlokation gehören.
        netznutzungsabrechnungsdaten:
          type: array
          items:
            $ref: '#/components/schemas/Netznutzungsabrechnungsdaten'
          description: Daten für die Prüfung der Netznutzungsabrechnung
        messstellenbetriebsabrechnungsdaten:
          type: array
          items:
            $ref: '#/components/schemas/Messstellenbetriebsabrechnungsdaten'
        energieherkunft:
          type: array
          items:
            $ref: '#/components/schemas/Energieherkunft'
        erforderlichesProduktpaket:
          type: array
          items:
            $ref: '#/components/schemas/Produktpaket'
        geokoordinaten:
          $ref: '#/components/schemas/Geokoordinaten'
        paketId:
          type: string
        marktlokationsTyp:
          type: array
          items:
            $ref: '#/components/schemas/MarktlokationsTypisierung'
          description: >-
            Angabe der Typisierung der Marktlokation mit möglicher Angabe
            zeitlicher Gültigkeit
      required:
        - boTyp
        - versionStruktur
      example:
        $ref: >-
          https://raw.githubusercontent.com/conuti-gmbh/bo4e-schema/master/docs/examples/bo/Marktlokation.json
    Marktteilnehmer:
      title: Marktteilnehmer
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: MARKTTEILNEHMER
        versionStruktur:
          type: string
          default: '1'
        geschaeftspartnerrolle:
          $ref: '#/components/schemas/Geschaeftspartnerrolle'
          description: Rolle, die der Geschäftspartner hat (z.B. Interessent, Kunde).
        anrede:
          type: string
          description: Die Anrede für den GePa, Z.B. Herr.
        name1:
          type: string
          description: >-
            Erster Teil des Namens. Hier kann der Firmenname oder bei
            Privatpersonen

            beispielsweise der Nachname dargestellt werden. Beispiele: Yellow
            Strom GmbH

            oder Hagen
        name2:
          type: string
          description: >-
            Zweiter Teil des Namens. Hier kann der eine Erweiterung zum
            Firmennamen oder

            bei Privatpersonen beispielsweise der Vorname dargestellt werden.
            Beispiele:

            Bereich Süd oder Nina
        name3:
          type: string
          description: >-
            Dritter Teil des Namens. Hier können weitere Ergänzungen zum
            Firmennamen oder

            bei Privatpersonen Zusätze zum Namen dargestellt werden. Beispiele:
            und Afrika

            oder Sängerin
        name4:
          type: string
        partneradresse:
          $ref: '#/components/schemas/Adresse'
          description: >-
            Adresse des Geschäftspartners, an der sich der Hauptsitz befindet.
            Details
        gewerbekennzeichnung:
          type: boolean
          description: >-
            Kennzeichnung ob es sich um einen Gewerbe/Unternehmen
            (gewerbeKennzeichnung = true)

            oder eine Privatperson handelt. (gewerbeKennzeichnung = false)
        externeKundenummerLieferant:
          type: string
        marktrolle:
          $ref: '#/components/schemas/Marktrolle'
          description: Gibt im Klartext die Bezeichnung der Marktrolle an.
        rollencodenummer:
          type: string
          description: Gibt die Codenummer der Marktrolle an.
        rollencodetyp:
          $ref: '#/components/schemas/Rollencodetyp'
          description: Gibt den Typ des Codes an.
        umsatzsteuerId:
          type: string
          description: 'Die Umsatzsteuer-ID des Geschäftspartners. Beispiel: DE 813281825'
        steuernummer:
          type: string
          description: 'Die Steuernummer-ID des Geschäftspartners. Beispiel: 30120345678'
        ansprechpartner:
          $ref: '#/components/schemas/Ansprechpartner'
          description: >-
            Ansprechpartner as in EDIFACT NAD+MS, that includes e.g. the email
            address of a natural person.
        makoadresse:
          type: string
          description: >-
            Die 1:1-Kommunikationsadresse des Marktteilnehmers. Diese wird in
            der

            Marktkommunikation verwendet.
        downloadlinkZertifikat:
          type: string
        amtsgericht:
          type: string
          description: >-
            Amtsgericht bzw Handelsregistergericht, das die
            Handelsregisternummer herausgegeben hat
        hrnummer:
          type: string
          description: Handelsregisternummer des Geschäftspartners
        website:
          type: string
          description: 'Internetseite des Marktpartners. Beispiel: www.mp-energie.de'
        faxnummer:
          type: string
        kommunikationsrolle:
          $ref: '#/components/schemas/Kommunikationsrolle'
        weiterverpflichtet:
          type: boolean
        kommunikationsparameter:
          $ref: '#/components/schemas/Kommunikationsparameter'
        messstellenbetreiberEigenschaft:
          $ref: '#/components/schemas/MSBEigenschaft'
        bankverbindung:
          type: array
          items:
            $ref: '#/components/schemas/Bankverbindung'
          description: Bankverbindung
        erreichbarkeit:
          type: array
          items:
            $ref: '#/components/schemas/Erreichbarkeit'
          description: Die Erreichbarkeit eines Unternehmens an Werktagen.
        ipAdresse:
          type: string
        ipRange:
          $ref: '#/components/schemas/IpRange'
        zuordnungVon:
          type: string
          format: date-time
          description: Startdatum der Zuordnung des Marktteilnehmers
        zuordnungBis:
          type: string
          format: date-time
          description: Enddatum der Zuordnung des Marktteilnehmers
      required:
        - boTyp
        - versionStruktur
      example:
        $ref: >-
          https://raw.githubusercontent.com/conuti-gmbh/bo4e-schema/master/docs/examples/bo/Marktteilnehmer.json
    Messlokation:
      title: Messlokation
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: MESSLOKATION
        versionStruktur:
          type: string
          default: '1'
        messlokationsId:
          type: string
          description: >-
            Die Messlokations-Identifikation. Das ist die frühere
            Zählpunktbezeichnung,

            z.B. DE 47108151234567
        sparte:
          $ref: '#/components/schemas/Sparte'
          description: Strom oder Gas.
        energierichtung:
          $ref: '#/components/schemas/Energierichtung'
        netzebenemessung:
          $ref: '#/components/schemas/Netzebene'
        messgebietNr:
          type: string
          description: Die Nummer des Messgebietes in der ene't-Datenbank.
        grundzustaendigerMSBCodeNr:
          type: string
          description: >-
            Codenummer des grundzuständigen Messstellenbetreibers, der für diese

            Messlokation zuständig ist.( Dieser ist immer dann
            Messstellenbetreiber, wenn

            kein anderer MSB die Einrichtungen an der Messlokation betreibt.)
        messadresse:
          $ref: '#/components/schemas/Adresse'
          description: >-
            Die Adresse, an der die Messeinrichtungen zu finden sind.( Nur
            angeben, wenn

            diese von der Adresse der Marktlokation abweicht.)

            Achtung: Es darf immer nur eine Art der Ortsangabe vorhanden sein
            (entweder

            eine Adresse oder eine GeoKoordinate oder eine Katasteradresse.
        bilanzierungsmethode:
          $ref: '#/components/schemas/Bilanzierungsmethode'
          description: Bilanzierungsmethode
        abrechnungmessstellenbetriebnna:
          type: boolean
          description: >-
            Dieser Wert ist true, falls die Abrechnungs des Messstellenbetriebs
            die Netznutzungsabrechnung enthält. false

            andernfalls
        gasqualitaet:
          $ref: '#/components/schemas/Gasqualitaet'
          description: gasqualitaet für EDIFACT mapping
        verlustfaktor:
          type: number
          format: float
          description: verlustfaktor für EDIFACT mapping
        betriebszustand:
          $ref: '#/components/schemas/Betriebszustand'
        ablesekartenempfaenger:
          $ref: '#/components/schemas/Geschaeftspartner'
        referenzMarktlokationsId:
          type: string
        verwendungsumfang:
          $ref: '#/components/schemas/Verwendungsumfang'
        zukuenftigerMeldepunkt:
          type: boolean
        lokationszuordnung:
          $ref: '#/components/schemas/Lokationszuordnung'
        beteiligterMarktpartner:
          $ref: '#/components/schemas/Marktteilnehmer'
        geraete:
          type: array
          items:
            $ref: '#/components/schemas/Geraet'
          description: Liste der Geräte, die zu diesem Zähler gehören.
        messdienstleistung:
          type: array
          items:
            $ref: '#/components/schemas/Dienstleistung'
          description: Liste der Messdienstleistungen, die zu dieser Messstelle gehört.
        messlokationszaehler:
          type: array
          items:
            type: string
          description: Zähler, die zu dieser Messlokation gehören. Details
        zaehlwerke:
          type: array
          items:
            $ref: '#/components/schemas/Zaehlwerk'
          description: Die Zählwerke des Zählers.
        marktrollen:
          type: array
          items:
            $ref: '#/components/schemas/Marktteilnehmer'
          description: marktrollen für EDIFACT mapping
        datenqualitaet:
          $ref: '#/components/schemas/Datenqualitaet'
        gueltigkeitszeitraum:
          $ref: '#/components/schemas/Zeitraum'
      required:
        - boTyp
        - versionStruktur
      example:
        $ref: >-
          https://raw.githubusercontent.com/conuti-gmbh/bo4e-schema/master/docs/examples/bo/Messlokation.json
    Netzlokation:
      title: Netzlokation
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: NETZLOKATION
        versionStruktur:
          type: string
          default: '1'
        netzlokationsId:
          type: string
          description: |-
            Identifikationsnummer einer Netzlokation, an der Energie entweder
            verbraucht, oder erzeugt wird (Like MarktlokationsId Marktlokation)
        sparte:
          $ref: '#/components/schemas/Sparte'
          description: Sparte der Netzlokation, z.B. Gas oder Strom.
        netzanschlussleistung:
          type: string
          description: Netzanschlussleistungsmenge der Netzlokation
        grundzustaendigerMSBCodeNr:
          type: string
          description: |-
            Codenummer des grundzuständigen Messstellenbetreibers, der für diese
            Netzlokation zuständig ist.
        steuerkanal:
          type: boolean
          description: >-
            Ob ein Steuerkanal der Netzlokation zugeordnet ist und somit die
            Netzlokation gesteuert

            werden kann.

            ZF2: Kein Steuerkanal vorhanden

            ZF3: Steuerkanal vorhanden
        lokationszuordnung:
          $ref: '#/components/schemas/Lokationszuordnung'
        produktdatenRelevanteRolle:
          $ref: '#/components/schemas/Marktrolle'
        auftraggebenderMarktpartner:
          $ref: '#/components/schemas/Marktteilnehmer'
        konfigurationsprodukt:
          type: string
        keinKonfigurationsprodukt:
          type: boolean
        leistungskurvendefinition:
          type: string
          description: Code der Zugeordnete Leistungskurvendefinition für das Objekt
        marktrollen:
          type: array
          items:
            $ref: '#/components/schemas/Marktteilnehmer'
        zaehlwerke:
          type: array
          items:
            $ref: '#/components/schemas/Zaehlwerk'
        abrechnungsdaten:
          type: array
          items:
            $ref: '#/components/schemas/Netznutzungsabrechnungsdaten'
        datenqualitaet:
          $ref: '#/components/schemas/Datenqualitaet'
        gueltigkeitszeitraum:
          $ref: '#/components/schemas/Zeitraum'
      required:
        - boTyp
        - versionStruktur
      example:
        $ref: >-
          https://raw.githubusercontent.com/conuti-gmbh/bo4e-schema/master/docs/examples/bo/Netzlokation.json
[...]
