openapi: 3.0.0
info:
  title: BO4E API
  version: '1.0'
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.bo4e.de
    description: Production Environment
paths: {}
components:
  schemas:
    AdHocSteuerkanal:
      title: AdHocSteuerkanal
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: AD_HOC_STEUERKANAL
        versionStruktur:
          type: string
          default: '1'
        konfigurationsprodukt:
          type: string
        zieladresse:
          $ref: '#/components/schemas/Zieladresse'
        aussteller:
          $ref: '#/components/schemas/Aussteller'
        zertifikatsNutzer:
          $ref: '#/components/schemas/ZertifikatsNutzer'
        IPAdresseCLSDevice:
          $ref: '#/components/schemas/IPAdresseCLSDevice'
      required:
        - boTyp
        - versionStruktur
    Anfrage:
      title: Anfrage
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: ANFRAGE
        versionStruktur:
          type: string
          default: '1'
        lokationsId:
          type: string
        anfragetyp:
          $ref: '#/components/schemas/Anfragetyp'
        abonnement:
          $ref: '#/components/schemas/Abonnement'
        anfragereferenz:
          type: string
        allgemeineInformationen:
          type: string
        anfragekategorie:
          $ref: '#/components/schemas/Anfragekategorie'
        energierichtung:
          $ref: '#/components/schemas/Energierichtung'
        gueltigkeitszeitspanne:
          type: string
        gueltigAb:
          type: string
          format: date-time
      required:
        - boTyp
        - versionStruktur
    Angebot:
      title: Angebot
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: ANGEBOT
        versionStruktur:
          type: string
          default: '1'
        angebotsnummer:
          type: string
        anfragereferenz:
          type: string
        angebotsdatum:
          type: string
          format: date-time
        sparte:
          $ref: '#/components/schemas/Sparte'
        bindefrist:
          type: string
          format: date-time
        angebotgeber:
          $ref: '#/components/schemas/Geschaeftspartner'
        angebotnehmer:
          $ref: '#/components/schemas/Geschaeftspartner'
        unterzeichnerAngebotsnehmer:
          $ref: '#/components/schemas/Ansprechpartner'
        unterzeichnerAngebotsgeber:
          $ref: '#/components/schemas/Ansprechpartner'
        zeitspanneEinrichtungUebermittlungWerte:
          $ref: '#/components/schemas/Zeitraum'
        bindefristAngebot:
          $ref: '#/components/schemas/Zeitraum'
        varianten:
          type: array
          items:
            $ref: '#/components/schemas/Angebotsvariante'
      required:
        - boTyp
        - versionStruktur
    Ansprechpartner:
      title: Ansprechpartner
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: ANSPRECHPARTNER
        versionStruktur:
          type: string
          default: '1'
        nachname:
          type: string
        eMailAdresse:
          type: string
        rufnummern:
          type: array
          items:
            $ref: '#/components/schemas/Rufnummer'
      required:
        - boTyp
        - versionStruktur
    Auftrag:
      title: Auftrag
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: AUFTRAG
        versionStruktur:
          type: string
          default: '1'
        ausfuehrungsdatum:
          type: string
          format: date-time
        fertigstellungsdatum:
          type: string
          format: date-time
        startdatum:
          type: string
          format: date-time
        sparte:
          $ref: '#/components/schemas/Sparte'
        lieferanschrift:
          $ref: '#/components/schemas/Adresse'
        marktlokationsId:
          type: string
        mindestpreis:
          $ref: '#/components/schemas/Preis'
        hoechstpreis:
          $ref: '#/components/schemas/Preis'
        energierichtung:
          $ref: '#/components/schemas/Energierichtung'
        berechnungspreis:
          type: number
          format: float
        summeGesamt:
          type: number
          format: float
        verschobenerAbmeldetermin:
          type: string
          format: date-time
        behebungsZeitpunkt:
          type: string
          format: date-time
        lieferadresseAltgeraete:
          $ref: '#/components/schemas/Geschaeftspartner'
        definitionsTyp:
          $ref: '#/components/schemas/DefinitionsTyp'
        positionsdaten:
          type: array
          items:
            $ref: '#/components/schemas/AuftragPosition'
        bemerkungen:
          type: array
          items:
            type: string
            faker:
              lorem.sentence: 5
      required:
        - boTyp
        - versionStruktur
    Avis:
      title: Avis
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: AVIS
        versionStruktur:
          type: string
          default: '1'
        avisNummer:
          type: string
        avisTyp:
          $ref: '#/components/schemas/AvisTyp'
        zuZahlen:
          $ref: '#/components/schemas/Betrag'
        positionen:
          type: array
          items:
            $ref: '#/components/schemas/Avisposition'
      required:
        - boTyp
        - versionStruktur
    Berechnungsformel:
      title: Berechnungsformel
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: BERECHNUNGSFORMEL
        versionStruktur:
          type: string
          default: '1'
        beginndatum:
          type: string
          format: date-time
        notwendigkeit:
          $ref: '#/components/schemas/BerechnungsformelNotwendigkeit'
        lieferrichtung:
          $ref: '#/components/schemas/Energierichtung'
        rechenschrittId:
          type: integer
        rechenschritt:
          $ref: '#/components/schemas/Rechenschritt'
        rechenschritte:
          type: array
          items:
            $ref: '#/components/schemas/Rechenschritt'
        verwendungszweck:
          type: array
          items:
            $ref: '#/components/schemas/Verwendungszweck'
        zeitraumId:
          type: integer
      required:
        - boTyp
        - versionStruktur
    Bilanzierung:
      title: Bilanzierung
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: BILANZIERUNG
        versionStruktur:
          type: string
          default: '1'
        marktlokationsId:
          type: string
        aggregationsverantwortung:
          $ref: '#/components/schemas/Aggregationsverantwortung'
        zeitreihentyp:
          type: string
        prognosegrundlage:
          $ref: '#/components/schemas/Prognosegrundlage'
        bilanzierungsbeginn:
          type: string
          format: date-time
        bilanzierungsende:
          type: string
          format: date-time
        bilanzkreis:
          type: string
        fallgruppenzuordnung:
          $ref: '#/components/schemas/Fallgruppenzuordnung'
        temperaturarbeit:
          $ref: '#/components/schemas/Menge'
        jahresverbrauchsprognose:
          $ref: '#/components/schemas/Menge'
        kundenwert:
          $ref: '#/components/schemas/Menge'
        verbrauchsaufteilung:
          $ref: '#/components/schemas/Menge'
        wahlrechtPrognosegrundlage:
          $ref: '#/components/schemas/WahlrechtPrognosegrundlage'
        grundWahlrechtPrognosegrundlage:
          $ref: '#/components/schemas/WahlrechtPrognosegrundlage'
        abwicklungsmodell:
          $ref: '#/components/schemas/Abwicklungsmodell'
        vorjahresverbrauch:
          $ref: '#/components/schemas/Menge'
        datenqualitaet:
          $ref: '#/components/schemas/Datenqualitaet'
        zeitraumId:
          type: integer
        lastprofile:
          type: array
          items:
            $ref: '#/components/schemas/Lastprofil'
        lastprofileBilanzierungsbeteiligter:
          type: array
          items:
            $ref: '#/components/schemas/Lastprofil'
        detailsPrognosegrundlage:
          type: array
          items:
            $ref: '#/components/schemas/Profiltyp'
      required:
        - boTyp
        - versionStruktur
    Bilanzkreis:
      title: Bilanzkreis
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: BILANZKREIS
        versionStruktur:
          type: string
          default: '1'
        bezeichnung:
          type: string
        prioritaet:
          type: integer
    Energiemenge:
      title: Energiemenge
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: ENERGIEMENGE
        versionStruktur:
          type: string
          default: '1'
        lokationsId:
          type: string
        lokationsTyp:
          $ref: '#/components/schemas/Lokationstyp'
        fertigstellungsdatum:
          type: string
          format: date-time
        startdatum:
          type: string
          format: date-time
        enddatum:
          type: string
          format: date-time
        bilanzierungsdatum:
          type: string
          format: date-time
        beginndatum:
          type: string
          format: date-time
        referenzStammdatenmeldungMsb:
          type: string
        konfiguration:
          type: string
        energieverbrauch:
          type: array
          items:
            $ref: '#/components/schemas/Verbrauch'
      required:
        - boTyp
        - versionStruktur
    Geschaeftspartner:
      title: Geschaeftspartner
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: GESCHAEFTSPARTNER
        versionStruktur:
          type: string
          default: '1'
        anrede:
          type: string
        name1:
          type: string
        name2:
          type: string
        name3:
          type: string
        name4:
          type: string
        umsatzsteuerId:
          type: string
        glaeubigerId:
          type: string
        emailAdresse:
          type: string
        website:
          type: string
        gewerbekennzeichnung:
          type: boolean
        hrnummer:
          type: string
        amtsgericht:
          type: string
        partneradresse:
          $ref: '#/components/schemas/Adresse'
        externeKundenummerLieferant:
          type: string
        externeReferenzen:
          type: array
          items:
            $ref: '#/components/schemas/ExterneReferenz'
        geschaeftspartnerrolle:
          type: array
          items:
            $ref: '#/components/schemas/Geschaeftspartnerrolle'
        kontaktweg:
          type: array
          items:
            $ref: '#/components/schemas/Kontaktart'
      required:
        - boTyp
        - versionStruktur
    Handelsunstimmigkeit:
      title: Handelsunstimmigkeit
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: HANDELSUNSTIMMIGKEIT
        versionStruktur:
          type: string
          default: '1'
        nummer:
          type: string
        typ:
          $ref: '#/components/schemas/Handelsunstimmigkeitstyp'
        begruendung:
          $ref: '#/components/schemas/Handelsunstimmigkeitsbegruendung'
        zuZahlen:
          $ref: '#/components/schemas/Betrag'
      required:
        - boTyp
        - versionStruktur
    Kommunikationsdaten:
      title: Kommunikationsdaten
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: KOMMUNIKATIONSDATEN
        versionStruktur:
          type: string
          default: '1'
        gueltigkeit:
          type: string
          format: date-time
        kommunikationsDatenBlattInaktiv:
          type: boolean
        marktteilnehmer:
          $ref: '#/components/schemas/Marktteilnehmer'
        kommunikationsangaben:
          type: array
          items:
            $ref: '#/components/schemas/Marktteilnehmer'
      required:
        - boTyp
        - versionStruktur
    Leistungskurvendefinition:
      title: Leistungskurvendefinition
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: LEISTUNGSKURVENDEFINITION
        versionStruktur:
          type: string
          default: '1'
        beginndatum:
          type: string
          format: date-time
        endedatum:
          type: string
          format: date-time
        version:
          type: string
          format: date-time
        code:
          type: string
        notwendigkeit:
          $ref: '#/components/schemas/DefinitionenNotwendigkeit'
        leistungskurven:
          type: array
          items:
            $ref: '#/components/schemas/Leistungskurve'
      required:
        - boTyp
        - versionStruktur
    Lokationsbuendel:
      title: Lokationsbuendel
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: LOKATIONSBUENDEL
        versionStruktur:
          type: string
          default: '1'
        lokationsbuendelstrukturId:
          type: string
        lokationsbuendelNummer:
          type: integer
        standardisierteLokationsbuendelstruktur:
          type: boolean
        datenqualitaet:
          $ref: '#/components/schemas/Datenqualitaet'
        zeitraumId:
          type: integer
        zuordnungObjectcode:
          type: array
          items:
            $ref: '#/components/schemas/ZuordnungObjectcode'
      required:
        - boTyp
        - versionStruktur
    Marktlokation:
      title: Marktlokation
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: MARKTLOKATION
        versionStruktur:
          type: string
          default: '1'
        marktlokationsId:
          type: string
        sparte:
          type: string
        energierichtung:
          $ref: '#/components/schemas/Energierichtung'
        bilanzierungsmethode:
          $ref: '#/components/schemas/Bilanzierungsmethode'
        verbrauchsart:
          $ref: '#/components/schemas/Verbrauchsart'
        unterbrechbar:
          type: boolean
        netzebene:
          $ref: '#/components/schemas/Netzebene'
        umspannung:
          $ref: '#/components/schemas/Netzebene'
        netzbetreiberCodeNr:
          type: string
        gebietTyp:
          $ref: '#/components/schemas/Gebiettyp'
        netzgebietNr:
          type: string
        bilanzierungsgebiet:
          type: string
        grundversorgerCodeNr:
          type: string
        gasqualitaet:
          $ref: '#/components/schemas/Gasqualitaet'
        endkunde:
          $ref: '#/components/schemas/Geschaeftspartner'
        lokationsadresse:
          $ref: '#/components/schemas/Adresse'
        katasterinformation:
          $ref: '#/components/schemas/Katasteradresse'
        regelzone:
          type: string
        marktgebiet:
          type: string
        zeitreihentyp:
          $ref: '#/components/schemas/Zeitreihentyp'
        messtechnischeEinordnung:
          $ref: '#/components/schemas/MesstechnischeEinordnung'
        sperrstatus:
          $ref: '#/components/schemas/Sperrstatus'
        referenzMarktlokationsId:
          type: string
        versorgungsart:
          $ref: '#/components/schemas/Versorgungsart'
        eigentuemer:
          $ref: '#/components/schemas/Geschaeftspartner'
        hausverwalter:
          $ref: '#/components/schemas/Geschaeftspartner'
        verguetungEmpfaenger:
          $ref: '#/components/schemas/VerguetungEmpfaenger'
        statusErzeugendeMalo:
          $ref: '#/components/schemas/StatusErzeugendeMarktlokation'
        fernsteuerbarkeit:
          $ref: '#/components/schemas/Fernsteuerbarkeit'
        foerderungsLand:
          type: string
        redispatch:
          type: boolean
        zukuenftigerMeldepunkt:
          type: boolean
        lokationszuordnung:
          $ref: '#/components/schemas/Lokationszuordnung'
        konfigurationsprodukt:
          type: string
        leistungskurvendefinition:
          type: string
        produktdatenRelevanteRolle:
          $ref: '#/components/schemas/Marktrolle'
        beteiligterMarktpartner:
          $ref: '#/components/schemas/Marktteilnehmer'
        modulNetzentgelte:
          $ref: '#/components/schemas/ModulNetzentgelte'
        datenqualitaet:
          $ref: '#/components/schemas/Datenqualitaet'
        zeitraumId:
          type: integer
        marktrollen:
          type: array
          items:
            $ref: '#/components/schemas/Marktteilnehmer'
        zaehlwerke:
          type: array
          items:
            $ref: '#/components/schemas/Zaehlwerk'
        zaehlwerkeBeteiligteMarktrolle:
          type: array
          items:
            $ref: '#/components/schemas/Marktrolle'
        verbrauchsmenge:
          type: array
          items:
            $ref: '#/components/schemas/Verbrauch'
        zugehoerigeMesslokationen:
          type: array
          items:
            $ref: '#/components/schemas/Messlokationszuordnung'
        netznutzungsabrechnungsdaten:
          type: array
          items:
            $ref: '#/components/schemas/Netznutzungsabrechnungsdaten'
        messstellenbetriebsabrechnungsdaten:
          type: array
          items:
            $ref: '#/components/schemas/Messstellenbetriebsabrechnungsdaten'
        energieherkunft:
          type: array
          items:
            $ref: '#/components/schemas/Energieherkunft'
        erforderlichesProduktpaket:
          type: array
          items:
            $ref: '#/components/schemas/Produktpaket'
      required:
        - boTyp
        - versionStruktur
    Marktteilnehmer:
      title: Marktteilnehmer
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: MARKTTEILNEHMER
        versionStruktur:
          type: string
          default: '1'
        geschaeftspartnerrolle:
          $ref: '#/components/schemas/Geschaeftspartnerrolle'
        anrede:
          type: string
        name1:
          type: string
        name2:
          type: string
        name3:
          type: string
        name4:
          type: string
        partneradresse:
          $ref: '#/components/schemas/Adresse'
        gewerbekennzeichnung:
          type: boolean
        externeKundenummerLieferant:
          type: string
        marktrolle:
          $ref: '#/components/schemas/Marktrolle'
        rollencodenummer:
          type: string
        rollencodetyp:
          type: string
        umsatzsteuerId:
          type: string
        steuernummer:
          type: string
        ansprechpartner:
          $ref: '#/components/schemas/Ansprechpartner'
        makoadresse:
          type: string
        downloadlinkZertifikat:
          type: string
        amtsgericht:
          type: string
        hrnummer:
          type: string
        website:
          type: string
        faxnummer:
          type: string
        kommunikationsrolle:
          $ref: '#/components/schemas/Kommunikationsrolle'
        weiterverpflichtet:
          type: boolean
        kommunikationsparameter:
          $ref: '#/components/schemas/Kommunikationsparameter'
        messstellenbetreiberEigenschaft:
          $ref: '#/components/schemas/MSBEigenschaft'
        bankverbindung:
          type: array
          items:
            $ref: '#/components/schemas/Bankverbindung'
        erreichbarkeit:
          type: array
          items:
            $ref: '#/components/schemas/Erreichbarkeit'
        ipAdresse:
          type: string
        ipRange:
          $ref: '#/components/schemas/IpRange'
      required:
        - boTyp
        - versionStruktur
    Messlokation:
      title: Messlokation
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: MESSLOKATION
        versionStruktur:
          type: string
          default: '1'
        messlokationsId:
          type: string
        sparte:
          $ref: '#/components/schemas/Sparte'
        energierichtung:
          $ref: '#/components/schemas/Energierichtung'
        netzebenemessung:
          $ref: '#/components/schemas/Netzebene'
        messgebietNr:
          type: string
        grundzustaendigerMSBCodeNr:
          type: string
        messadresse:
          $ref: '#/components/schemas/Adresse'
        bilanzierungsmethode:
          $ref: '#/components/schemas/Bilanzierungsmethode'
        abrechnungmessstellenbetriebnna:
          type: boolean
        gasqualitaet:
          $ref: '#/components/schemas/Gasqualitaet'
        verlustfaktor:
          type: number
          format: float
        betriebszustand:
          $ref: '#/components/schemas/Betriebszustand'
        ablesekartenempfaenger:
          $ref: '#/components/schemas/Geschaeftspartner'
        referenzMarktlokationsId:
          type: string
        verwendungsumfang:
          $ref: '#/components/schemas/Verwendungsumfang'
        zukuenftigerMeldepunkt:
          type: boolean
        lokationszuordnung:
          $ref: '#/components/schemas/Lokationszuordnung'
        beteiligterMarktpartner:
          $ref: '#/components/schemas/Marktteilnehmer'
        geraete:
          type: array
          items:
            $ref: '#/components/schemas/Geraet'
        messdienstleistung:
          type: array
          items:
            $ref: '#/components/schemas/Dienstleistung'
        messlokationszaehler:
          type: array
          items:
            type: string
            faker:
              string.binary:
                prefix: ZAEHLER_
                length: 3
        zaehlwerke:
          type: array
          items:
            $ref: '#/components/schemas/Zaehlwerk'
        marktrollen:
          type: array
          items:
            $ref: '#/components/schemas/Marktteilnehmer'
        datenqualitaet:
          $ref: '#/components/schemas/Datenqualitaet'
        zeitraumId:
          type: integer
      required:
        - boTyp
        - versionStruktur
    Netzlokation:
      title: Netzlokation
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: NETZLOKATION
        versionStruktur:
          type: string
          default: '1'
        netzlokationsId:
          type: string
        sparte:
          $ref: '#/components/schemas/Sparte'
        netzanschlussleistung:
          type: string
        grundzustaendigerMSBCodeNr:
          type: string
        steuerkanal:
          type: boolean
        lokationszuordnung:
          $ref: '#/components/schemas/Lokationszuordnung'
        produktdatenRelevanteRolle:
          $ref: '#/components/schemas/Marktrolle'
        auftraggebenderMarktpartner:
          $ref: '#/components/schemas/Marktteilnehmer'
        konfigurationsprodukt:
          type: string
        keinKonfigurationsprodukt:
          type: boolean
        leistungskurvendefinition:
          type: string
        marktrollen:
          type: array
          items:
            $ref: '#/components/schemas/Marktteilnehmer'
        zaehlwerke:
          type: array
          items:
            $ref: '#/components/schemas/Zaehlwerk'
        abrechnungsdaten:
          type: array
          items:
            $ref: '#/components/schemas/Netznutzungsabrechnungsdaten'
        datenqualitaet:
          $ref: '#/components/schemas/Datenqualitaet'
        zeitraumId:
          type: integer
      required:
        - boTyp
        - versionStruktur
    Preisblatt:
      title: Preisblatt
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: PREISBLATT
        versionStruktur:
          type: string
          default: '1'
        bezeichnung:
          type: string
        gueltigkeit:
          $ref: '#/components/schemas/Zeitraum'
        preisstatus:
          $ref: '#/components/schemas/Preisstatus'
        sparte:
          $ref: '#/components/schemas/Sparte'
        bilanzierungsdatum:
          type: string
          format: date-time
        regelzone:
          type: string
        leistungstyp:
          $ref: '#/components/schemas/Leistungstyp'
        nichtGenutzt:
          type: boolean
        preispositionen:
          type: array
          items:
            $ref: '#/components/schemas/Preisposition'
      required:
        - boTyp
        - versionStruktur
    Rechnung:
      title: Rechnung
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: RECHNUNG
        versionStruktur:
          type: string
          default: '1'
        istSelbstausgestellt:
          type: boolean
        bearbeitungsdatum:
          type: string
          format: date-time
        rechnungsdatum:
          type: string
          format: date-time
        faelligkeitsdatum:
          type: string
          format: date-time
        rechnungsstatus:
          $ref: '#/components/schemas/Rechnungsstatus'
        vorlaeufigerAbrechnungszeitraum:
          $ref: '#/components/schemas/Zeitraum'
        rechnungsperiode:
          $ref: '#/components/schemas/Zeitraum'
        rechnungstyp:
          $ref: '#/components/schemas/Rechnungstyp'
        istReverseCharge:
          type: boolean
        gesamtbrutto:
          $ref: '#/components/schemas/Betrag'
        zuZahlen:
          $ref: '#/components/schemas/Betrag'
        originalRechnungsnummer:
          type: string
        referenzNachrichtendatum:
          type: string
        referenzDokumentennummer:
          type: string
        referenzVorgaengerrechnung:
          type: string
        datumVorgaengerrechnung:
          type: string
          format: date-time
        netzkonto:
          type: string
        vorausgezahlt:
          $ref: '#/components/schemas/Betrag'
        gemeinderabatt:
          $ref: '#/components/schemas/Gemeinderabatt'
        ausfuehrungsdatum:
          type: string
          format: date-time
        sonderrechnungsart:
          $ref: '#/components/schemas/SonderrechnungsArt'
        energierichtung:
          $ref: '#/components/schemas/Energierichtung'
        beginnPeriodeBilanzierung:
          type: string
          format: date-time
        endePeriodeNetznutzung:
          type: string
          format: date-time
        steuerbetraege:
          type: array
          items:
            $ref: '#/components/schemas/Steuerbetrag'
        rechnungspositionen:
          type: array
          items:
            $ref: '#/components/schemas/Rechnungsposition'
      required:
        - boTyp
        - versionStruktur
    Reklamation:
      title: Reklamation
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: REKLAMATION
        versionStruktur:
          type: string
          default: '1'
        lokationsId:
          type: string
        lokationsTyp:
          $ref: '#/components/schemas/Lokationstyp'
        obiskennzahl:
          type: string
        zeitraumMesswertanfrage:
          $ref: '#/components/schemas/Zeitraum'
        reklamationsgrund:
          $ref: '#/components/schemas/Reklamationsgrund'
        reklamationsgrundBemerkung:
          $ref: '#/components/schemas/ReklamationsgrundBemerkung'
        konfiguration:
          type: string
      required:
        - boTyp
        - versionStruktur
    Schaltzeitdefinition:
      title: Schaltzeitdefinition
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: SCHALTZEITDEFINITION
        versionStruktur:
          type: string
          default: '1'
        beginndatum:
          type: string
          format: date-time
        endedatum:
          type: string
          format: date-time
        version:
          type: string
          format: date-time
        code:
          type: string
        notwendigkeit:
          $ref: '#/components/schemas/DefinitionenNotwendigkeit'
        schaltzeiten:
          type: array
          items:
            $ref: '#/components/schemas/Schaltzeit'
      required:
        - boTyp
        - versionStruktur
    Sperrauftrag:
      title: Sperrauftrag
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: SPERRAUFTRAG
        versionStruktur:
          type: string
          default: '1'
        treffpunkt:
          $ref: '#/components/schemas/Adresse'
        sperrauftragsart:
          $ref: '#/components/schemas/Sperrauftragsart'
        sperrauftragsstatus:
          $ref: '#/components/schemas/Auftragsstatus'
        sperrauftragsablehngrund:
          $ref: '#/components/schemas/Sperrauftragsablehngrund'
        sperrauftragsverhinderungsgrund:
          $ref: '#/components/schemas/Sperrauftragsverhinderungsgrund'
        zaehlernummer:
          type: string
        istVomGerichtsvollzieherAngeordnet:
          type: boolean
      required:
        - boTyp
        - versionStruktur
    Statusbericht:
      title: Statusbericht
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: STATUSBERICHT
        versionStruktur:
          type: string
          default: '1'
        status:
          $ref: '#/components/schemas/BerichtStatus'
        pruefgegenstand:
          type: string
        datumPruefung:
          type: string
          format: date-time
        fehler:
          $ref: '#/components/schemas/Fehler'
      required:
        - boTyp
        - versionStruktur
    Statusmitteilung:
      title: Statusmitteilung
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: STATUSMITTEILUNG
        versionStruktur:
          type: string
          default: '1'
        statusObjekt:
          $ref: '#/components/schemas/Statusobjekt'
        statusanlass:
          $ref: '#/components/schemas/Status'
        auftragsstatus:
          $ref: '#/components/schemas/Auftragsstatus'
        positionsdaten:
          type: array
          items:
            $ref: '#/components/schemas/StatusmitteilungPosition'
      required:
        - boTyp
        - versionStruktur
    SteuerbareRessource:
      title: SteuerbareRessource
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: STEUERBARE_RESSOURCE
        versionStruktur:
          type: string
          default: '1'
        ressourcenId:
          type: string
        sparte:
          $ref: '#/components/schemas/Sparte'
        lokationszuordnung:
          $ref: '#/components/schemas/Lokationszuordnung'
        konfigurationsprodukt:
          type: string
        steuerkanal:
          $ref: '#/components/schemas/Steuerkanal'
        produktdatenRelevanteRolle:
          $ref: '#/components/schemas/Marktrolle'
        auftraggebenderMarktpartner:
          $ref: '#/components/schemas/Marktteilnehmer'
        zugeordneteDefinition:
          $ref: '#/components/schemas/ZugeordneteDefinition'
        marktrollen:
          type: array
          items:
            $ref: '#/components/schemas/Marktteilnehmer'
        datenqualitaet:
          $ref: '#/components/schemas/Datenqualitaet'
        zeitraumId:
          type: integer
      required:
        - boTyp
        - versionStruktur
    Tarifinfo:
      title: Tarifinfo
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: TARIFINFO
        versionStruktur:
          type: string
          default: '1'
        anbieter:
          $ref: '#/components/schemas/Marktteilnehmer'
          description: Der Marktteilnehmer (Lieferant), der diesen Tarif anbietet
        anbietername:
          type: string
          description: Der Name des Marktpartners, der den Tarif anbietet
        anwendung_von:
          type: string
          format: date-time
          description: >-
            Angabe des inklusiven Zeitpunkts, ab dem der Tarif bzw. der Preis
            angewendet und abgerechnet wird
        bemerkung:
          type: string
          description: Freitext
        bezeichnung:
          type: string
          description: Name des Tarifs
        energiemix:
          $ref: '#/components/schemas/Energiemix'
          description: Der Energiemix, der für diesen Tarif gilt
        kundentypen:
          type: array
          items:
            $ref: '#/components/schemas/Kundentyp'
          description: Kundentypen für den der Tarif gilt, z.B. Privatkunden
        registeranzahl:
          $ref: '#/components/schemas/Registeranzahl'
          description: Die Art des Tarifes, z.B. Eintarif oder Mehrtarif
        sparte:
          $ref: '#/components/schemas/Sparte'
          description: Strom oder Gas, etc.
        tarifmerkmale:
          type: array
          items:
            $ref: '#/components/schemas/Tarifmerkmal'
          description: Weitere Merkmale des Tarifs, z.B. Festpreis oder Vorkasse
        tariftyp:
          $ref: '#/components/schemas/Tariftyp'
          description: Hinweis auf den Tariftyp, z.B. Grundversorgung oder Sondertarif
        vertragskonditionen:
          $ref: '#/components/schemas/Vertragskonditionen'
          description: Mindestlaufzeiten und Kündigungsfristen zusammengefasst
        website:
          type: string
          description: Internetseite auf dem der Tarif zu finden ist
        zeitliche_gueltigkeit:
          $ref: '#/components/schemas/Zeitraum'
          description: Angabe, in welchem Zeitraum der Tarif gültig ist
      required:
        - boTyp
        - versionStruktur
    TechnischeRessource:
      title: TechnischeRessource
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: TECHNISCHE_RESSOURCE
        versionStruktur:
          type: string
          default: '1'
        ressourcenId:
          type: string
        sparte:
          $ref: '#/components/schemas/Sparte'
        lokationszuordnung:
          $ref: '#/components/schemas/Lokationszuordnung'
        referenzMesslokation:
          type: string
        referenzMarktlokation:
          type: string
        referenzNetzlokation:
          type: string
        referenzSteuerbareRessource:
          type: string
        nennleistung:
          $ref: '#/components/schemas/Nennleistung'
        speicherkapazitaet:
          type: number
          format: float
        verbrauchsart:
          $ref: '#/components/schemas/Verbrauchsart'
        waermenutzung:
          $ref: '#/components/schemas/Waermenutzung'
        artEMobilitaet:
          $ref: '#/components/schemas/ArtEmobilitaet'
        erzeugungsart:
          $ref: '#/components/schemas/Erzeugungsart'
        speicherart:
          $ref: '#/components/schemas/Speicherart'
        enwg:
          type: boolean
        inbetriebsetzungsdatum:
          $ref: '#/components/schemas/Inbetriebsetzung'
        einordnung:
          $ref: '#/components/schemas/RessourceWechselmoeglichkeit'
        weitereEinrichtung:
          type: boolean
        art:
          $ref: '#/components/schemas/TechnischeRessourceArt'
        datenqualitaet:
          $ref: '#/components/schemas/Datenqualitaet'
        zeitraumId:
          type: integer
        erforderlicheProdukte:
          type: array
          items:
            $ref: '#/components/schemas/Produkt'
      required:
        - boTyp
        - versionStruktur
    Tranche:
      title: Tranche
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: TRANCHE
        versionStruktur:
          type: string
          default: '1'
        tranchenId:
          type: string
        sparte:
          $ref: '#/components/schemas/Sparte'
        energierichtung:
          $ref: '#/components/schemas/Energierichtung'
        bilanzierungsmethode:
          $ref: '#/components/schemas/Bilanzierungsmethode'
        verbrauchsart:
          $ref: '#/components/schemas/Verbrauchsart'
        unterbrechbar:
          type: boolean
        netzebene:
          $ref: '#/components/schemas/Netzebene'
        netzbetreiberCodeNr:
          type: string
        gebietTyp:
          $ref: '#/components/schemas/Gebiettyp'
        netzgebietNr:
          type: string
        bilanzierungsgebiet:
          type: string
        grundversorgerCodeNr:
          type: string
        gasqualitaet:
          $ref: '#/components/schemas/Gasqualitaet'
        endkunde:
          $ref: '#/components/schemas/Geschaeftspartner'
        lokationsadresse:
          $ref: '#/components/schemas/Adresse'
        katasterinformation:
          $ref: '#/components/schemas/Katasteradresse'
        regelzone:
          type: string
        marktgebiet:
          type: string
        zeitreihentyp:
          $ref: '#/components/schemas/Zeitreihentyp'
        messtechnischeEinordnung:
          $ref: '#/components/schemas/MesstechnischeEinordnung'
        sperrstatus:
          $ref: '#/components/schemas/Sperrstatus'
        referenzMarktlokationsId:
          type: string
        versorgungsart:
          $ref: '#/components/schemas/Versorgungsart'
        fernsteuerbarkeit:
          $ref: '#/components/schemas/Fernsteuerbarkeit'
        verguetungEmpfaenger:
          $ref: '#/components/schemas/VerguetungEmpfaenger'
        foerderungsLand:
          type: string
        statusErzeugendeMalo:
          $ref: '#/components/schemas/StatusErzeugendeMarktlokation'
        referenzTranche:
          type: string
        aufteilungsmenge:
          $ref: '#/components/schemas/Menge'
        bilanzkreis:
          type: string
        bildungTranchengroesse:
          $ref: '#/components/schemas/BildungTranchengroesse'
        zukuenftigerMeldepunkt:
          type: boolean
        lokationszuordnung:
          $ref: '#/components/schemas/Lokationszuordnung'
        beteiligterMarktpartner:
          $ref: '#/components/schemas/Marktteilnehmer'
        marktrollen:
          type: array
          items:
            $ref: '#/components/schemas/Marktteilnehmer'
        zaehlwerke:
          type: array
          items:
            $ref: '#/components/schemas/Zaehlwerk'
        zaehlwerkeBeteiligteMarktrolle:
          type: array
          items:
            $ref: '#/components/schemas/Marktrolle'
        verbrauchsmenge:
          type: array
          items:
            $ref: '#/components/schemas/Verbrauch'
        zugehoerigeMesslokationen:
          type: array
          items:
            $ref: '#/components/schemas/Messlokationszuordnung'
        netznutzungsabrechnungsdaten:
          type: array
          items:
            $ref: '#/components/schemas/Netznutzungsabrechnungsdaten'
        energieherkunft:
          type: array
          items:
            $ref: '#/components/schemas/Energieherkunft'
        datenqualitaet:
          $ref: '#/components/schemas/Datenqualitaet'
        zeitraumId:
          type: integer
      required:
        - boTyp
        - versionStruktur
    Vertrag:
      title: Vertrag
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: VERTRAG
        versionStruktur:
          type: string
          default: '1'
        sparte:
          $ref: '#/components/schemas/Sparte'
        vertragsart:
          type: string
        vertragsnummer:
          type: string
        beschreibung:
          type: string
        lokationsId:
          type: string
        lokationsTyp:
          $ref: '#/components/schemas/Lokationstyp'
        vertragsstatus:
          $ref: '#/components/schemas/Vertragstatus'
        vertragsbeginn:
          type: string
          format: date-time
        vertragsende:
          type: string
          format: date-time
        gemeinderabatt:
          type: integer
        vertragskonditionen:
          $ref: '#/components/schemas/Vertragskonditionen'
        korrespondenzpartner:
          $ref: '#/components/schemas/Geschaeftspartner'
        abrechnungUeberNna:
          type: boolean
        datenqualitaet:
          $ref: '#/components/schemas/Datenqualitaet'
        zeitraumId:
          type: integer
        vertragspartner1:
          type: array
          items:
            $ref: '#/components/schemas/Geschaeftspartner'
        vertragspartner2:
          type: array
          items:
            $ref: '#/components/schemas/Geschaeftspartner'
        enFG:
          type: array
          items:
            $ref: '#/components/schemas/EnFG'
      required:
        - boTyp
        - versionStruktur
    Verwendungszeitraum:
      title: Verwendungszeitraum
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: VERWENDUNGSZEITRAUM
        versionStruktur:
          type: string
          default: '1'
        verwendungAb:
          type: string
          format: date-time
        verwendungBis:
          type: string
          format: date-time
        zeitraumId:
          type: integer
        datenqualitaet:
          $ref: '#/components/schemas/Datenqualitaet'
      required:
        - boTyp
        - versionStruktur
    WerteNachTyp2:
      title: WerteNachTyp2
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: WERTE_NACH_TYP2
        versionStruktur:
          type: string
          default: '1'
        konfigurationsprodukt:
          type: string
        messprodukt:
          type: string
        zieladresse:
          $ref: '#/components/schemas/Zieladresse'
        aussteller:
          $ref: '#/components/schemas/Aussteller'
        zertifikatsNutzer:
          $ref: '#/components/schemas/ZertifikatsNutzer'
        aenderungsmoeglichkeitKonfiguration:
          $ref: '#/components/schemas/AenderungsmoeglichkeitKonfiguration'
        schwellwerte:
          type: array
          items:
            $ref: '#/components/schemas/Schwellwert'
      required:
        - boTyp
        - versionStruktur
    Zaehler:
      title: Zaehler
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: ZAEHLER
        versionStruktur:
          type: string
          default: '1'
        zaehlernummer:
          type: string
        sparte:
          $ref: '#/components/schemas/Sparte'
        zaehlerauspraegung:
          $ref: '#/components/schemas/Zaehlerauspraegung'
        zaehlertyp:
          $ref: '#/components/schemas/Zaehlertyp'
        tarifart:
          $ref: '#/components/schemas/Tarifart'
        zaehlerkonstante:
          type: number
          format: float
        eichungBis:
          type: string
          format: date-time
        zaehlerhersteller:
          $ref: '#/components/schemas/Geschaeftspartner'
        gateway:
          type: string
        fernschaltung:
          $ref: '#/components/schemas/Fernschaltung'
        messwerterfassung:
          $ref: '#/components/schemas/Messwerterfassung'
        zaehlertypspezifikation:
          $ref: '#/components/schemas/ZaehlertypSpezifikation'
        befestigungsart:
          $ref: '#/components/schemas/Befestigungsart'
        zaehlergroesse:
          $ref: '#/components/schemas/Geraetemerkmal'
        mengenumwertertyp:
          $ref: '#/components/schemas/Mengenumwertertyp'
        volumenerfassung:
          $ref: '#/components/schemas/Volumenerfassung'
        serialnummer:
          type: string
        geraetemerkmal:
          $ref: '#/components/schemas/Geraetemerkmal'
        herstellungsdatum:
          type: string
          format: date-time
        baujahr:
          type: string
          $comment: DTM+Z03
        messlokationsId:
          type: string
        marktlokationsId:
          type: string
        geraete:
          type: array
          items:
            $ref: '#/components/schemas/Geraet'
        zaehlwerke:
          type: array
          items:
            $ref: '#/components/schemas/Zaehlwerk'
        datenqualitaet:
          $ref: '#/components/schemas/Datenqualitaet'
        zeitraumId:
          type: integer
      required:
        - boTyp
        - versionStruktur
    Zaehlzeitdefinition:
      title: Zaehlzeitdefinition
      type: object
      properties:
        boTyp:
          $ref: '#/components/schemas/BOTyp'
          default: ZAEHLZEITDEFINITION
        versionStruktur:
          type: string
          default: '1'
        beginndatum:
          type: string
          format: date-time
        endedatum:
          type: string
          format: date-time
        version:
          type: string
          format: date-time
        notwendigkeit:
          $ref: '#/components/schemas/DefinitionenNotwendigkeit'
        versionsangabe:
          type: string
        code:
          type: string
        zaehlzeiten:
          type: array
          items:
            $ref: '#/components/schemas/Zaehlzeit'
        zaehlzeitregister:
          type: array
          items:
            $ref: '#/components/schemas/Zaehlzeitregister'
      required:
        - boTyp
        - versionStruktur
    Abschlag:
      title: Abschlag
      type: object
      properties:
        typ:
          $ref: '#/components/schemas/AbschlagTyp'
        prozent:
          type: number
          format: float
    Abtretungserklaerung:
      title: Abtretungserklaerung
      type: object
      properties:
        passwort:
          type: string
        link1:
          type: string
        link2:
          type: string
        link3:
          type: string
        link4:
          type: string
        link5:
          type: string
    Abweichung:
      title: Abweichung
      type: object
      properties:
        abweichungsgrund:
          $ref: '#/components/schemas/Abweichungsgrund'
        abweichungsgrundBemerkung:
          type: string
        zugehoerigeRechnung:
          type: string
        zugehoerigeBestellung:
          type: string
        abweichungsgrundCode:
          type: string
        abweichungsgrundCodeliste:
          type: string
        fehlendePositionen1:
          type: string
        fehlendePositionen2:
          type: string
        fehlendePositionen3:
          type: string
        fehlendePositionen4:
          type: string
        fehlendePositionen5:
          type: string
        abweichungsgrundBemerkung1:
          type: string
        abweichungsgrundBemerkung2:
          type: string
        abweichungsgrundBemerkung3:
          type: string
        abweichungsgrundBemerkung4:
          type: string
        abweichungsgrundBemerkung5:
          type: string
        referenz:
          type: string
        abschlagsrechnungen:
          type: array
          items:
            type: string
    Abweichungsposition:
      title: Abweichungsposition
      type: object
      properties:
        abweichungsgrundCode:
          type: string
        abweichungsgrundCodeliste:
          type: string
        abweichungsgrundBemerkung:
          type: string
        zugehoerigeRechnung:
          type: string
        zugehoerigeBestellung:
          type: string
    Adresse:
      title: Adresse
      type: object
      properties:
        postleitzahl:
          type: string
        ort:
          type: string
        strasse:
          type: string
        hausnummer:
          type: string
        postfach:
          type: string
        adresszusatz:
          type: string
        coErgaenzung:
          type: string
        landescode:
          $ref: '#/components/schemas/Landescode'
        ortsteil:
          type: string
        zusatzInformation:
          $ref: '#/components/schemas/AdresszusatzInformation'
    AdresszusatzInformation:
      title: AdresszusatzInformation
      type: object
      properties:
        zusatz1:
          type: string
        zusatz2:
          type: string
        zusatz3:
          type: string
        zusatz4:
          type: string
        zusatz5:
          type: string
    AllgemeineInformationen:
      title: AllgemeineInformationen
      type: object
      properties:
        info1:
          type: string
        info2:
          type: string
        info3:
          type: string
        info4:
          type: string
        info5:
          type: string
    Angebotsposition:
      title: Angebotsposition
      type: object
      properties:
        positionsbezeichung:
          type: string
        positionsmenge:
          $ref: '#/components/schemas/Menge'
        positionspreis:
          $ref: '#/components/schemas/Preis'
        positionsbetrag:
          $ref: '#/components/schemas/Betrag'
        preisschluesselstamm:
          type: string
        artikelnummer:
          $ref: '#/components/schemas/BDEWArtikelnummer'
        artikelId:
          type: array
          items:
            type: string
    Angebotsteil:
      title: Angebotsteil
      type: object
      properties:
        anfrageSubreferenz:
          type: string
        gesamtmengeangebotsteil:
          $ref: '#/components/schemas/Menge'
        gesamtkostenangebotsteil:
          $ref: '#/components/schemas/Betrag'
        lieferzeitraum:
          $ref: '#/components/schemas/Zeitraum'
        verweisKatalognummer:
          $ref: '#/components/schemas/Katalogverweis'
        lieferstellenangebotsteil:
          type: array
          items:
            $ref: '#/components/schemas/Marktlokation'
        positionen:
          type: array
          items:
            $ref: '#/components/schemas/Angebotsposition'
    Angebotsvariante:
      title: Angebotsvariante
      type: object
      properties:
        angebotsstatus:
          $ref: '#/components/schemas/Angebotsstatus'
        beschreibung:
          type: string
        erstelldatum:
          type: string
          format: date-time
        bindefrist:
          type: string
          format: date-time
        gesamtmenge:
          $ref: '#/components/schemas/Menge'
        gesamtkosten:
          $ref: '#/components/schemas/Betrag'
        teile:
          type: array
          items:
            $ref: '#/components/schemas/Angebotsteil'
    AntwortStatusZeitraum:
      title: AntwortStatusZeitraum
      type: object
      properties:
        code:
          type: string
        liste:
          type: string
        zeitraumId:
          type: integer
        freitext:
          $ref: '#/components/schemas/Freitext'
    AuftragPosition:
      title: AuftragPosition
      type: object
      properties:
        positionsnummer:
          type: integer
        positionsnummerAngebot:
          type: string
        energieerfassung:
          $ref: '#/components/schemas/Energieerfassung'
        artikelnummer:
          $ref: '#/components/schemas/BDEWArtikelnummer'
        positionsbetrag:
          type: string
        startdatum:
          type: string
          format: date-time
        enddatum:
          type: string
          format: date-time
        istBestand:
          type: string
        obiskennzahl:
          type: string
        anfragegrund:
          $ref: '#/components/schemas/Anfragegrund'
        allgemeineInformationen:
          $ref: '#/components/schemas/AllgemeineInformationen'
        infoAbweichung:
          $ref: '#/components/schemas/InfoAbweichung'
        definitionsTyp:
          $ref: '#/components/schemas/DefinitionsTyp'
        lokationsId:
          type: string
        zaehlwerk:
          type: integer
    Aussteller:
      title: Aussteller
      type: object
      properties:
        aussteller1:
          type: string
        aussteller2:
          type: string
        aussteller3:
          type: string
        aussteller4:
          type: string
        aussteller5:
          type: string
    Avisposition:
      title: Avisposition
      type: object
      properties:
        rechnungsNummer:
          type: string
        rechnungsDatum:
          type: string
          format: date-time
        istStorno:
          type: boolean
        istSelbstausgestellt:
          type: boolean
        gesamtBrutto:
          $ref: '#/components/schemas/Betrag'
        zuZahlen:
          $ref: '#/components/schemas/Betrag'
        referenz:
          type: string
        abweichung:
          type: array
          items:
            $ref: '#/components/schemas/Abweichung'
        positionen:
          type: array
          items:
            $ref: '#/components/schemas/Rueckmeldungsposition'
    Bankverbindung:
      title: Bankverbindung
      type: object
      properties:
        verwendungszweck:
          $ref: '#/components/schemas/BankverbindungVerwendungszweck'
        iban:
          type: string
        kontoinhaber:
          type: string
        bic:
          type: string
        kreditinstitut:
          type: string
    Begruendung:
      title: Begruendung
      type: object
      properties:
        begruendung1:
          type: string
        begruendung2:
          type: string
        begruendung3:
          type: string
        begruendung4:
          type: string
        begruendung5:
          type: string
    Beschreibung:
      title: Beschreibung
      type: object
      properties:
        beschreibung1:
          type: string
        beschreibung2:
          type: string
    Betrag:
      title: Betrag
      type: object
      properties:
        wert:
          type: number
          format: float
        waehrung:
          type: string
    Dienstleistung:
      title: Dienstleistung
      type: object
      properties:
        dienstleistungstyp:
          $ref: '#/components/schemas/Dienstleistungstyp'
        bezeichnung:
          type: string
    Energieherkunft:
      title: Energieherkunft
      type: object
      properties:
        erzeugungsart:
          $ref: '#/components/schemas/Erzeugungsart'
        anteilProzent:
          type: number
          format: float
    Energiemix:
      title: Energiemix
      type: object
      properties:
        anteil:
          type: array
          items:
            $ref: '#/components/schemas/Energieherkunft'
          description: Anteile der jeweiligen Erzeugungsart
        atommuell:
          type: number
          format: float
          description: Höhe des erzeugten Atommülls in g/kWh
        bemerkung:
          type: string
          description: Bemerkung zum Energiemix
        bezeichnung:
          type: string
          description: Bezeichnung des Energiemix
        co2_emission:
          type: number
          format: float
          description: Höhe des erzeugten CO2-Ausstosses in g/kWh
        energieart:
          $ref: '#/components/schemas/Sparte'
          description: Strom oder Gas etc.
        energiemixnummer:
          type: integer
          description: Eindeutige Nummer zur Identifizierung des Energiemixes
        gueltigkeitsjahr:
          type: integer
          description: Jahr, für das der Energiemix gilt
        ist_in_oeko_top_ten:
          type: boolean
          description: Kennzeichen, ob der Versorger zu den Öko Top Ten gehört
        oekolabel:
          type: array
          items:
            $ref: '#/components/schemas/Oekolabel'
          description: Ökolabel für den Energiemix
        oekozertifikate:
          type: array
          items:
            $ref: '#/components/schemas/Oekozertifikat'
          description: Zertifikate für den Energiemix
        website:
          type: string
          description: Internetseite, auf der die Strommixdaten veröffentlicht sind
    EnFG:
      title: EnFG
      type: object
      properties:
        grundlageVerringerungUmlagen:
          $ref: '#/components/schemas/GrundlageVerringerungUmlagen'
        grund:
          type: array
          items:
            $ref: '#/components/schemas/GrundlageVerringerungUmlagenGrund'
    Erreichbarkeit:
      title: Erreichbarkeit
      type: object
      properties:
        verfuegbarkeit:
          $ref: '#/components/schemas/Verfuegbarkeit'
        zeit:
          type: string
    ExterneReferenz:
      title: ExterneReferenz
      type: object
      properties:
        exRefName:
          type: string
          enum:
            - Kundennummer beim Lieferanten
            - Kundennummer beim Altlieferanten
        exRefWert:
          type: string
    Fehler:
      title: Fehler
      type: object
      properties:
        typ:
          $ref: '#/components/schemas/FehlerTyp'
        fehlerDetails:
          type: array
          items:
            $ref: '#/components/schemas/FehlerDetail'
    Fehlerbeschreibung:
      title: Fehlerbeschreibung
      type: object
      properties:
        beschreibung1:
          type: string
        beschreibung2:
          type: string
        beschreibung3:
          type: string
        beschreibung4:
          type: string
        beschreibung5:
          type: string
    FehlerDetail:
      title: FehlerDetail
      type: object
      properties:
        code:
          $ref: '#/components/schemas/FehlerCode'
        ursache:
          $ref: '#/components/schemas/FehlerUrsache'
        beschreibung:
          $ref: '#/components/schemas/Beschreibung'
    FehlerUrsache:
      title: FehlerUrsache
      type: object
      properties:
        dokument:
          type: string
        nachricht:
          type: string
        transaktion:
          type: string
        gruppe:
          $ref: '#/components/schemas/Gruppe'
        segment:
          type: string
        beschreibung:
          $ref: '#/components/schemas/Beschreibung'
    Freitext:
      title: Freitext
      type: object
      properties:
        freitext1:
          type: string
        freitext2:
          type: string
        freitext3:
          type: string
        freitext4:
          type: string
        freitext5:
          type: string
    Gemeinderabatt:
      title: Gemeinderabatt
      type: object
      properties:
        wert:
          type: number
          format: float
        einheit:
          type: string
        typ:
          type: string
        bemessungsgrundlage:
          type: number
          format: float
    Geraet:
      title: Geraet
      type: object
      properties:
        geraetetyp:
          $ref: '#/components/schemas/Geraetetyp'
        bezeichnung:
          type: string
        geraetenummer:
          type: string
        geraetereferenz:
          type: string
        geraeteeigenschaften:
          $ref: '#/components/schemas/Geraeteeigenschaften'
        volumenerfassung:
          $ref: '#/components/schemas/Volumenerfassung'
        weitereGeraetenummern:
          type: array
          items:
            type: string
            faker:
              string.numeric: 5
    Geraeteeigenschaften:
      title: Geraeteeigenschaften
      type: object
      properties:
        geraetetyp:
          $ref: '#/components/schemas/Geraetetyp'
        geraetemerkmal:
          $ref: '#/components/schemas/Geraetemerkmal'
        faktor:
          type: number
          format: float
    Gruppe:
      title: Gruppe
      type: object
      properties:
        gruppe1:
          type: string
        gruppe2:
          type: string
    Handelsunstimmigkeitsbegruendung:
      title: Handelsunstimmigkeitsbegruendung
      type: object
      properties:
        richtigkeit:
          $ref: '#/components/schemas/Handelsunstimmigkeitsrichtigkeit'
        referenzDar:
          type: string
        referenznummer:
          type: string
        bestaetigungDar:
          type: string
        grund:
          $ref: '#/components/schemas/Handelsunstimmigkeitsgrund'
        hinweis:
          type: string
        referenzen:
          type: array
          items:
            type: string
            faker:
              string.binary:
                prefix: REF
                length: 6
    InfoAbweichung:
      title: InfoAbweichung
      type: object
      properties:
        abweichung1:
          type: string
        abweichung2:
          type: string
        abweichung3:
          type: string
        abweichung4:
          type: string
        abweichung5:
          type: string
    IPAdresseCLSDevice:
      title: IPAdresseCLSDevice
      type: object
      properties:
        IPAdresseCLSDevice1:
          type: string
        IPAdresseCLSDevice2:
          type: string
        IPAdresseCLSDevice3:
          type: string
        IPAdresseCLSDevice4:
          type: string
        IPAdresseCLSDevice5:
          type: string
    IpRange:
      title: IpRange
      type: object
      properties:
        untereGrenze:
          type: string
        obereGrenze:
          type: string
    Katalogverweis:
      title: Katalogverweis
      type: object
      properties:
        katalognummer:
          type: string
        zeilennummer:
          type: string
        versionsnummer:
          type: string
    Katasteradresse:
      title: Katasteradresse
      type: object
      properties:
        gemarkung_flur:
          type: string
        flurstueck:
          type: string
    Kommunikationsparameter:
      title: Kommunikationsparameter
      type: object
      properties:
        zieladresse:
          $ref: '#/components/schemas/Zieladresse'
        zertifikatsAussteller:
          $ref: '#/components/schemas/ZertifikatsAussteller'
        zertifikatsNutzer:
          $ref: '#/components/schemas/ZertifikatsNutzer'
    Konzessionsabgabe:
      title: Konzessionsabgabe
      type: object
      properties:
        satz:
          $ref: '#/components/schemas/AbgabeArt'
        kosten:
          type: number
          format: float
        kategorie:
          type: string
    Lastprofil:
      title: Lastprofil
      type: object
      properties:
        bezeichnung:
          type: string
        verfahren:
          $ref: '#/components/schemas/Profilverfahren'
        profilart:
          $ref: '#/components/schemas/Profilart'
        profilschar:
          type: string
        einspeisung:
          type: boolean
        herausgeber:
          type: string
        tagesparameter:
          $ref: '#/components/schemas/Tagesparameter'
    Leistungskurve:
      title: Leistungskurve
      type: object
      properties:
        code:
          type: string
        aenderungszeitpunkt:
          type: string
          format: date-time
        haeufigkeit:
          $ref: '#/components/schemas/HaeufigkeitLeistungskurve'
        uebermittelbarkeit:
          $ref: '#/components/schemas/UebermittelbarkeitLeistungskurve'
        schwellwert:
          $ref: '#/components/schemas/Schwellwert'
        konfigurationsprodukt:
          type: string
    Menge:
      title: Menge
      type: object
      properties:
        wert:
          type: number
          format: float
        einheit:
          $ref: '#/components/schemas/Mengeneinheit'
    Messlokationszuordnung:
      title: Messlokationszuordnung
      type: object
      properties:
        messlokationsId:
          type: string
        arithmetik:
          $ref: '#/components/schemas/ArithmetischeOperation'
        gueltigSeit:
          type: string
          format: date-time
        gueltigBis:
          type: string
          format: date-time
    Messstellenbetriebsabrechnungsdaten:
      title: Messstellenbetriebsabrechnungsdaten
      type: object
      properties:
        messstellenbetriebsabrechnung:
          type: boolean
        artikelId:
          type: string
        artikelIdTyp:
          $ref: '#/components/schemas/ArtikelIdTyp'
        anzahl:
          type: integer
        zuschlag:
          type: number
          format: float
        abschlag:
          type: number
          format: float
    Nennleistung:
      title: Nennleistung
      type: object
      properties:
        aufnahme:
          type: number
          format: float
        abgabe:
          type: number
          format: float
    Netznutzungsabrechnungsdaten:
      title: Netznutzungsabrechnungsdaten
      type: object
      properties:
        artikelId:
          type: string
        artikelIdTyp:
          $ref: '#/components/schemas/ArtikelIdTyp'
        anzahl:
          type: integer
        gemeinderabatt:
          type: number
          format: float
        zuschlag:
          type: number
          format: float
        abschlag:
          type: number
          format: float
        singulaereBetriebsmittel:
          $ref: '#/components/schemas/Menge'
        preisSingulaereBetriebsmittel:
          $ref: '#/components/schemas/Preis'
        abrechnungBlindarbeit:
          type: boolean
        zahlerBlindarbeit:
          $ref: '#/components/schemas/ZahlerBlindarbeit'
        zahlerBlindarbeitLf:
          type: boolean
        differenzDaten:
          type: boolean
        zaehlzeiten:
          $ref: '#/components/schemas/Zaehlzeitregister'
    Objectcode:
      title: Objectcode
      type: object
      properties:
        objectcode:
          type: string
        lokationsbuendelNummer:
          type: integer
    PositionsAufAbschlag:
      title: PositionsAufAbschlag
      type: object
      properties:
        bezeichnung:
          type: string
        beschreibung:
          type: string
        aufAbschlagstyp:
          $ref: '#/components/schemas/AufAbschlagstyp'
        aufAbschlagswert:
          type: number
          format: float
        aufAbschlagswaehrung:
          $ref: '#/components/schemas/Waehrungseinheit'
    Preis:
      title: Preis
      type: object
      properties:
        wert:
          type: number
          format: float
        einheit:
          $ref: '#/components/schemas/Waehrungseinheit'
        bezugswert:
          $ref: '#/components/schemas/Mengeneinheit'
        status:
          $ref: '#/components/schemas/Preisstatus'
    Preisposition:
      title: Preisposition
      type: object
      properties:
        berechnungsmethode:
          $ref: '#/components/schemas/Kalkulationsmethode'
        leistungstyp:
          $ref: '#/components/schemas/Leistungstyp'
        leistungsbezeichnung:
          type: string
        preiseinheit:
          $ref: '#/components/schemas/Waehrungseinheit'
        bezugsgroesse:
          $ref: '#/components/schemas/Mengeneinheit'
        zeitbasis:
          $ref: '#/components/schemas/Zeiteinheit'
        tarifzeit:
          $ref: '#/components/schemas/Tarifzeit'
        bdewArtikelnummer:
          $ref: '#/components/schemas/BDEWArtikelnummer'
        zonungsgroesse:
          $ref: '#/components/schemas/Bemessungsgroesse'
        preisschluesselstamm:
          type: string
        positionsnummer:
          type: integer
        messebene:
          $ref: '#/components/schemas/Netzebene'
        beschreibung:
          type: string
        verarbeitungszeitraum:
          $ref: '#/components/schemas/Zeitraum'
        artikelId:
          type: string
        zu_abschlaege:
          type: array
          items:
            $ref: '#/components/schemas/PositionsAufAbschlag'
        preisstaffeln:
          type: array
          items:
            $ref: '#/components/schemas/Preisstaffel'
    Preisstaffel:
      title: Preisstaffel
      type: object
      properties:
        einheitspreis:
          type: number
          format: float
        staffelgrenzeVon:
          type: number
          format: float
        staffelgrenzeBis:
          type: number
          format: float
        sigmoidparameter:
          $ref: '#/components/schemas/Sigmoidparameter'
    Produkt:
      title: Produkt
      type: object
      properties:
        produktCode:
          type: string
        codeProdukteigenschaft:
          type: string
        wertedetails:
          type: string
    Produktpaket:
      title: Produktpaket
      type: object
      properties:
        produktpaketId:
          type: integer
        produkt:
          type: array
          items:
            $ref: '#/components/schemas/Produkt'
        umsetzungsgradvorgabe:
          $ref: '#/components/schemas/Umsetzungsgradvorgabe'
        priorisierung:
          $ref: '#/components/schemas/Priorisierung'
    Rechenschritt:
      title: Rechenschritt
      type: object
      properties:
        rechenschrittBestandteilId:
          type: integer
        referenzRechenschrittId:
          type: integer
        operation:
          $ref: '#/components/schemas/ArithmetischeOperation'
        verlustfaktorTrafo:
          type: number
          format: float
        verlustfaktorLeitung:
          type: number
          format: float
        aufteilungsfaktorEnergiemenge:
          type: number
          format: float
        messlokationsId:
          type: string
        energieflussrichtung:
          $ref: '#/components/schemas/Energierichtung'
    Rechnungsposition:
      title: Rechnungsposition
      type: object
      properties:
        einzelpreis:
          $ref: '#/components/schemas/Preis'
        lieferungBis:
          type: string
          format: date-time
        lieferungVon:
          type: string
          format: date-time
        positionsMenge:
          $ref: '#/components/schemas/Menge'
        positionsnummer:
          type: integer
        artikelnummer:
          type: string
        teilsummeNetto:
          $ref: '#/components/schemas/Betrag'
        teilsummeSteuer:
          $ref: '#/components/schemas/Steuerbetrag'
        zeitbezogeneMenge:
          $ref: '#/components/schemas/Menge'
        abschlag:
          $ref: '#/components/schemas/Abschlag'
        zuschlag:
          $ref: '#/components/schemas/Zuschlag'
        gemeinderabatt:
          $ref: '#/components/schemas/Gemeinderabatt'
        gesamtZuAbschlagsbetrag:
          type: number
          format: float
        korrekturfaktor:
          type: number
          format: float
        ausfuehrungsdatum:
          type: string
          format: date-time
    ReklamationsgrundBemerkung:
      title: ReklamationsgrundBemerkung
      type: object
      properties:
        bemerkung1:
          type: string
        bemerkung2:
          type: string
        bemerkung3:
          type: string
        bemerkung4:
          type: string
        bemerkung5:
          type: string
    Rueckmeldungsposition:
      title: Rueckmeldungsposition
      type: object
      properties:
        positionsnummer:
          type: integer
        abweichung:
          type: array
          items:
            $ref: '#/components/schemas/Abweichung'
    Rufnummer:
      title: Rufnummer
      type: object
      properties:
        nummerntyp:
          $ref: '#/components/schemas/Rufnummernart'
        rufnummer:
          type: string
    Schaltzeit:
      title: Schaltzeit
      type: object
      properties:
        code:
          type: string
        aenderungszeitpunkt:
          type: string
          format: date-time
        haeufigkeit:
          $ref: '#/components/schemas/HaeufigkeitSchaltzeit'
        uebermittelbarkeit:
          $ref: '#/components/schemas/UebermittelbarkeitSchaltzeit'
        schalthandlung:
          $ref: '#/components/schemas/Schalthandlung'
        konfigurationsprodukt:
          type: string
    Schwellwert:
      title: Schwellwert
      type: object
      properties:
        obererSchwellwert:
          type: number
          format: float
        untererSchwellwert:
          type: number
          format: float
        konfigurationsprodukt:
          type: string
    Sigmoidparameter:
      title: Sigmoidparameter
      type: object
      properties:
        A:
          type: number
          format: float
        B:
          type: number
          format: float
        C:
          type: number
          format: float
        D:
          type: number
          format: float
    StatusmitteilungPosition:
      title: StatusmitteilungPosition
      type: object
      properties:
        positionsnummer:
          type: integer
        bearbeitungsdatum:
          type: string
          format: date-time
        verwendungAb:
          type: string
          format: date-time
        verwendungBis:
          type: string
          format: date-time
        enddatum:
          type: string
          format: date-time
        auftragsstatus:
          $ref: '#/components/schemas/Auftragsstatus'
        statusanlass:
          $ref: '#/components/schemas/Statusanlass'
        antwortstatus:
          type: string
        fehlerbeschreibung:
          $ref: '#/components/schemas/Fehlerbeschreibung'
        begruendung:
          $ref: '#/components/schemas/Begruendung'
        lokationsId:
          type: string
        referenzMelo:
          type: string
        allgemeineInformationen:
          $ref: '#/components/schemas/AllgemeineInformationen'
        statusVeraenderungsZeitpunkt:
          type: string
          format: date-time
        auftragsStatusListe:
          type: array
          items:
            $ref: '#/components/schemas/Auftragsstatus'
    StatusZusatzInformation:
      title: StatusZusatzInformation
      type: object
      properties:
        art:
          $ref: '#/components/schemas/StatusArt'
        status:
          $ref: '#/components/schemas/Status'
    Steuerbetrag:
      title: Steuerbetrag
      type: object
      properties:
        steuerkennzeichen:
          type: string
        basiswert:
          type: number
          format: float
        steuerwert:
          type: number
          format: float
        waehrung:
          type: string
        basiswertVorausbezahlt:
          type: number
          format: float
        steuerwertVorausbezahhlt:
          type: number
          format: float
    Tagesparameter:
      title: Tagesparameter
      type: object
      properties:
        klimazone:
          type: string
        temperaturmessstelle:
          type: string
        dienstanbieter:
          type: string
        herausgeber:
          $ref: '#/components/schemas/Herausgeber'
    Verbrauch:
      title: Verbrauch
      type: object
      properties:
        startdatum:
          type: string
          format: date-time
        enddatum:
          type: string
          format: date-time
        wertermittlungsverfahren:
          $ref: '#/components/schemas/Wertermittlungsverfahren'
        messwertstatus:
          $ref: '#/components/schemas/Messwertstatus'
        obiskennzahl:
          type: string
        wert:
          type: number
          format: float
        einheit:
          $ref: '#/components/schemas/Mengeneinheit'
        type:
          $ref: '#/components/schemas/Verbrauchsmengetyp'
        tarifstufe:
          $ref: '#/components/schemas/Tarifstufe'
        nutzungszeitpunkt:
          type: string
          format: date-time
        ausfuehrungszeitpunkt:
          type: string
          format: date-time
        position:
          type: integer
        ablesedatum:
          type: string
          format: date-time
        leistungsperiode:
          type: string
        statuszusatzinformationen:
          type: array
          items:
            $ref: '#/components/schemas/StatusZusatzInformation'
    Vertragskonditionen:
      title: Vertragskonditionen
      type: object
      properties:
        netznutzungszahler:
          $ref: '#/components/schemas/Netznutzungszahler'
        netznutzungsvertrag:
          $ref: '#/components/schemas/Netznutzungsvertrag'
        netznutzungsabrechnung:
          $ref: '#/components/schemas/Zeitraum'
        beinhaltetSingulaerGenutzteBetriebsmittel:
          type: boolean
        netznutzungsabrechnungsgrundlage:
          $ref: '#/components/schemas/Netznutzungsabrechnungsgrundlage'
        netznutzungsabrechnungsvariante:
          $ref: '#/components/schemas/Netznutzungsabrechnungsvariante'
        haushaltskunde:
          type: boolean
        abrechnungUeberNna:
          type: boolean
        gemeinderabatt:
          $ref: '#/components/schemas/Gemeinderabatt'
        startAbrechnungsjahr:
          type: string
          format: date-time
        naechstenetznutzungsabrechnung:
          type: string
        abrechnungsintervall:
          type: integer
        netznutzungsabrechnungIntervall:
          type: integer
        geplanteTurnusablesung:
          $ref: '#/components/schemas/Zeitraum'
        beauftragungMsb:
          $ref: '#/components/schemas/BeauftragungMsb'
        kuendigungsfrist:
          $ref: '#/components/schemas/Zeitraum'
        vertragslaufzeit:
          $ref: '#/components/schemas/Zeitraum'
        kuendigungstermin:
          type: string
        abschlagszyklus:
          $ref: '#/components/schemas/Zeitraum'
          description: >-
            In diesen Zyklen werden Abschläge gestellt. Alternativ kann auch die
            Anzahl in den Konditionen angeben werden.
        anzahl_abschlaege:
          type: number
          format: float
          description: Anzahl der vereinbarten Abschläge pro Jahr, z.B. 12
        beschreibung:
          type: string
          description: Freitext zur Beschreibung der Konditionen
        vertragsverlaengerung:
          $ref: '#/components/schemas/Zeitraum'
          description: >-
            Falls der Vertrag nicht gekündigt wird, verlängert er sich
            automatisch um die hier angegebene Zeit
    Verwendungszweck:
      title: Verwendungszweck
      type: object
      properties:
        marktrolle:
          $ref: '#/components/schemas/Marktrolle'
        zweck:
          type: array
          items:
            $ref: '#/components/schemas/VerwendungszweckValue'
    Zaehlwerk:
      title: Zaehlwerk
      type: object
      properties:
        zaehlwerkId:
          type: string
        bezeichnung:
          type: string
        richtung:
          $ref: '#/components/schemas/Energierichtung'
        obisKennzahl:
          type: string
        wandlerfaktor:
          type: number
          format: float
        einheit:
          $ref: '#/components/schemas/Mengeneinheit'
        schwachlastfaehig:
          $ref: '#/components/schemas/Schwachlastfaehig'
        verbrauchsart:
          $ref: '#/components/schemas/Verbrauchsart'
        unterbrechbarkeit:
          $ref: '#/components/schemas/Unterbrechbarkeit'
        waermenutzung:
          $ref: '#/components/schemas/Waermenutzung'
        konzessionsabgabe:
          $ref: '#/components/schemas/Konzessionsabgabe'
        steuerbefreit:
          type: boolean
        vorkommastelle:
          type: integer
        nachkommastelle:
          type: integer
        abrechnungsrelevant:
          type: boolean
        anzahlAblesungen:
          type: integer
        zaehlzeiten:
          $ref: '#/components/schemas/Zaehlzeitregister'
        konfiguration:
          type: string
        messprodukt:
          type: string
        wertegranularitaet:
          $ref: '#/components/schemas/Wertegranularitaet'
        notwendigkeitZweiteMessung:
          $ref: '#/components/schemas/NotwendigkeitZweiteMessung'
        werteuebermittlungVerwendungszweck:
          $ref: '#/components/schemas/WerteuebermittlungVerwendungszweck'
        artEMobilitaet:
          $ref: '#/components/schemas/ArtEmobilitaet'
        konfigurationsprodukt:
          type: string
        keinKonfigurationsprodukt:
          type: boolean
        leistungskurvendefinition:
          type: string
        verwendungszwecke:
          type: array
          items:
            $ref: '#/components/schemas/Verwendungszweck'
    Zaehlzeit:
      title: Zaehlzeit
      type: object
      properties:
        code:
          type: string
        haeufigkeit:
          $ref: '#/components/schemas/HaeufigkeitZaehlzeit'
        uebermittelbarkeit:
          $ref: '#/components/schemas/UebermittelbarkeitZaehlzeit'
        ermittlungLeistungsmaximum:
          $ref: '#/components/schemas/ErmittlungLeistungsmaximum'
        istBestellbar:
          type: boolean
        typ:
          $ref: '#/components/schemas/ZaehlzeitdefinitionTyp'
        beschreibungTyp:
          type: string
        aenderungszeitpunkt:
          type: string
          format: date-time
        register:
          type: string
    Zaehlzeitregister:
      title: Zaehlzeitregister
      type: object
      properties:
        register:
          type: string
        zaehlzeitDefinition:
          type: string
        schwachlastfaehig:
          $ref: '#/components/schemas/Schwachlastfaehig'
    Zeitraum:
      title: Zeitraum
      type: object
      properties:
        zeiteinheit:
          $ref: '#/components/schemas/Zeiteinheit'
        dauer:
          type: integer
        startdatum:
          type: string
          format: date-time
        enddatum:
          type: string
          format: date-time
        einheit:
          $ref: '#/components/schemas/Zeiteinheit'
        ableseZeitraum:
          type: string
        abrechnungsZeitraum:
          type: string
        zeitraumText:
          type: string
    ZertifikatsAussteller:
      title: ZertifikatsAussteller
      type: object
      properties:
        zertifikatsAussteller1:
          type: string
        zertifikatsAussteller2:
          type: string
        zertifikatsAussteller3:
          type: string
        zertifikatsAussteller4:
          type: string
        zertifikatsAussteller5:
          type: string
    ZertifikatsNutzer:
      title: ZertifikatsNutzer
      type: object
      properties:
        zertifikatsNutzer1:
          type: string
        zertifikatsNutzer2:
          type: string
        zertifikatsNutzer3:
          type: string
        zertifikatsNutzer4:
          type: string
        zertifikatsNutzer5:
          type: string
    Zieladresse:
      title: Zieladresse
      type: object
      properties:
        zieladresse1:
          type: string
        zieladresse2:
          type: string
        zieladresse3:
          type: string
        zieladresse4:
          type: string
        zieladresse5:
          type: string
    ZugeordneteDefinition:
      title: ZugeordneteDefinition
      type: object
      properties:
        schaltzeitdefinition:
          type: string
        leistungskurvendefinition:
          type: string
    ZuordnungObjectcode:
      title: ZuordnungObjectcode
      type: object
      properties:
        referenzLokationsTyp:
          $ref: '#/components/schemas/Lokationstyp'
        referenzLokationsId:
          type: string
        vorgelagerteLokationTyp:
          $ref: '#/components/schemas/Lokationstyp'
        vorgelagerteLokationId:
          type: string
        objectcode:
          type: array
          items:
            $ref: '#/components/schemas/Objectcode'
        referenzMarktlokationTechnischeRessource:
          type: array
          items:
            type: string
            faker:
              string.numeric: 11
    Zuschlag:
      title: Zuschlag
      type: object
      properties:
        typ:
          $ref: '#/components/schemas/ZuschlagTyp'
        prozent:
          type: number
          format: float
    AbgabeArt:
      title: AbgabeArt
      type: string
      enum:
        - KAS
        - SA
        - SAS
        - TA
        - TAS
        - TK
        - TKS
        - TS
        - TSS
    Abonnement:
      title: Abonnement
      type: string
      enum:
        - START_ABO
        - ENDE_ABO
        - OHNE_ABO
    AbschlagTyp:
      title: AbschlagTyp
      type: string
      enum:
        - GEMEINDERABATT_KAV
        - ANPASSUNG_P19_STROM_NEV
    Abweichungsgrund:
      title: Abweichungsgrund
      type: string
      enum:
        - PREIS_RECHENREGEL_FALSCH
        - FALSCHER_ABRECHNUNGSZEITRAUM
        - UNBEKANNTE_MARKTLOKATION_MESSLOKATION
        - SONSTIGER_ABWEICHUNGSGRUND
        - DOPPELTE_RECHNUNG
        - ABRECHNUNGSBEGINN_UNGLEICH_VERTRAGSBEGINN
        - ABRECHNUNGSENDE_UNGLEICH_VERTRAGSENDE
        - BETRAG_DER_ABSCHLAGSRECHNUNG_FALSCH
        - VORAUSBEZAHLTER_BETRAG_FALSCH
        - ARTIKEL_NICHT_VEREINBART
        - NETZNUTZUNGSMESSWERTE_ENERGIEMENGEN_FEHLEN
        - RECHNUNGSNUMMER_BEREITS_ERHALTEN
        - NETZNUTZUNGSMESSWERTE_ENERGIEMENGEN_FALSCH
        - ZEITLICHE_MENGENANGABE_FEHLERHAFT
        - FALSCHER_BILANZIERUNGSBEGINN
        - FALSCHES_NETZNUTZUNGSENDE
        - BILANZIERTE_MENGE_FEHLT
        - BILANZIERTE_MENGE_FALSCH
        - NETZNUTZUNGSABRECHNUNG_FEHLT
        - REVERSE_CHARGE_ANWENDUNG_FEHLT_ODER_FEHLERHAFT
        - ALLOKATIONSLISTE_FEHLT
        - MEHR_MINDERMENGE_FALSCH
        - UNGUELTIGES_RECHNUNGSDATUM
        - ZEITINTERVALL_DER_BILANZIERTEN_MENGE_INKONSISTENT
        - >-
          RECHNUNGSEMPFAENGER_WIDERSPRICHT_DER_STEUERRECHTLICHEN_EINSCHAETZUNG_DES_RECHNUNGSSTELLERS
        - ANGEGEBENE_QUOTES_AN_MARKTLOKATION_NICHT_VORHANDEN
        - RECHNUNGSABWICKLUNG_NICHT_VEREINBART
        - COMDIS_WIRD_ABGELEHNT
    Abwicklungsmodell:
      title: Abwicklungsmodell
      type: string
      enum:
        - MODELL_1_BILANZIERUNG_AN_MARKTLOKATION
        - MODELL_2_BILANZIERUNG_IM_BILANZIERUNGSGEBIET
    AenderungsmoeglichkeitKonfiguration:
      title: AenderungsmoeglichkeitKonfiguration
      type: string
      enum:
        - ERFORDERLICH
        - NICHT_ERFORDERLICH
    Aggregationsverantwortung:
      title: Aggregationsverantwortung
      type: string
      enum:
        - UENB
        - VNB
    Anfragegrund:
      title: Anfragegrund
      type: string
      enum:
        - ABGRENZUNG_VON_ENERGIEMENGEN
        - ABGRENZUNG
        - WECHSELEREIGNIS
        - ZWISCHENABLESUNG
        - DIREKTER_VERTRAG_MSB_AN
        - DIREKTER_VERTRAG_MSB_ANN
        - AENDERUNG_IM_LOKATIONSBUENDEL
        - NEUKONFIGURATION
        - KONFIGURATION_UNVERAENDERT
    Anfragekategorie:
      title: Anfragekategorie
      type: string
      enum:
        - PROZESSDATENBERICHT
        - GERAETEUEBERNAHME
        - WEITERVERPFLICHTUNG_BETRIEB_MELO
        - AENDERUNG_MELO
        - STAMMDATEN_MALO_ODER_MELO
        - BILANZIERTE_MENGE_MEHR_MINDER_MENGEN
        - ALLOKATIONSLISTE_MEHR_MINDER_MENGEN
        - ENERGIEMENGE_UND_LEISTUNGSMAXIMUM
        - ABRECHNUNG_MESSSTELLENBETRIEB_MSB_AN_LF
        - AENDERUNG_PROGNOSEGRUNDLAGE_GERAETEKONFIGURATION
        - AENDERUNG_GERAETEKONFIGURATION
        - REKLAMATION_VON_WERTEN
        - LASTGANG_MALO_TRANCHE
        - SPERRUNG
        - ENTSPERRUNG
        - REKLAMATION_ZAEHLZEITDEFINITION
        - ZEITREIHEN_IM_RAHMEN_BILANZKREISABRECHNUNG
        - GERAETEWECHSELABSICHT
        - AENDERUNG_KONZESSIONSABGABE
        - AENDERUNG_ZAEHLZEITDEFINITION
        - UEBERMITTLUNG_WERTE_AN_ESA
        - AENDERUNG
        - BILANZKREISZUORDNUNGSLISTE
        - CLEARINGLISTE
        - NORMIERTES_PROFIL_PROFILSCHAR
        - REDISPATCH_EINZELZEITREIHE_AUSFALLARBEIT
        - REKLAMATION_PROFIL_PROFILSCHAR
        - STAMMDATEN_MALO
        - STAMMDATEN_MELO
        - STAMMDATEN_TRANCHE
        - BEENDIGUNG_EINER_KONFIGURATION
        - BESTELLUNG_EINER_KONFIGURATION
        - BESTELLUNG_EINES_ANGEBOTS_EINER_KONFIGURATION
        - REKLAMATION_EINER_KONFIGURATION
        - >-
          BESTELLUNG_AENDERUNG_NETZENTGELTE_NETZORIENTIERTER_STEUERUNGSMOEGLICHKEIT
        - AENDERUNG_DER_TECHNIK_DER_LOKATION
        - AENDERUNG_INDIVIDUELLER_KONFIGURATION
        - BESTELLUNG_AENDERUNG_ABRECHNUNGSDATEN
        - EINRICHTUNG_KONFIGURATION_AUFGRUND_ZUORDNUNG_LF
    Anfragetyp:
      title: Anfragetyp
      type: string
      enum:
        - KAUF
        - NUTZUNGSUEBERLASSUNG
        - ABRECHNUNGSBRENNWERT_UND_ZUSTANDSZAHL
        - LASTGANGDATEN
        - ZAEHLERSTAENDE
        - WERTEERMITTLUNG
        - ENERGIEMENGE_EINZELWERT
        - INNERHALB_DER_ARBEITSZEIT
        - AUCH_AUSSERHALB_DER_ARBEITSZEIT
        - WECHSEL_SAEMTLICHER_EINRICHTUNGEN
        - TEILWEISER_WECHSEL
        - AENDERUNG_ZAEHLZEITDEFINITION
        - ABBESTELLUNG_ZAEHLZEITEN
        - ABBESTELLUNG_MESSPRODUKT
        - ANGEBOT_AUF_BASIS_PREISBLATT
        - INDIVIDUELLES_ANGEBOT
        - AENDERUNG_KONFIGURATION
        - KANN_NICHT_ANGEBOTEN_WERDEN
        - NEUKONFIGURATION
        - BEENDIGUNG_KONFIGURATION
        - AKTIVIERUNG_KONFIGURATION
    Angebotsstatus:
      title: Angebotsstatus
      type: string
      enum:
        - KONZEPTION
        - UNVERBINDLICH
        - VERBINDLICH
        - BEAUFTRAGT
        - UNGUELTIG
        - ABGELEHNT
        - NACHGEFASST
        - AUSSTEHEND
        - ERLEDIGT
    ArithmetischeOperation:
      title: ArithmetischeOperation
      type: string
      enum:
        - ADDITION
        - SUBTRAKTION
        - DIVISION
        - DIVIDEND
        - MULTIPLIKATION
        - POSITIVWERT
    ArtEmobilitaet:
      title: ArtEmobilitaet
      type: string
      enum:
        - WB
        - LS
        - LP
    ArtikelIdTyp:
      title: ArtikelIdTyp
      type: string
      enum:
        - ARTIKELID
        - GRUPPENARTIKELID
    AufAbschlagstyp:
      title: AufAbschlagstyp
      type: string
      enum:
        - RELATIV
        - ABSOLUT
    Auftragsstatus:
      title: Auftragsstatus
      type: string
      enum:
        - GESCHEITERT
        - ERFOLGREICH
        - LIEFERUNG_GEPLANT
        - GEPLANT
        - ZUGESTIMMT
        - WIDERSPROCHEN
        - STOERUNGSFREI
        - GESTOERT
        - FESTGESTELLTE_STOERUNG
        - VERMUTETE_STOERUNG
        - ABGELEHNT
        - BEENDET
        - ANTWORT_DRITTER
        - BESTAETIGT
        - UMGESETZT
        - ENFG_STROMSPEICHER_UND_VERLUSTENERGIE
        - ENFG_ELEKTRISCH_ANGETRIEBENE_WAERMEPUMPEN
        - ENFG_UMLAGEERHEBUNG_BEI_ANLAGEN_ZUR_VERSTROMUNG_VON_KUPPELGASEN
        - ENFG_HERSTELLUNG_VON_GRUENEN_WASSERSTOFF
        - ENFG_STROMKOSTENINTENSIVE_UNTERNEHMEN
        - ENFG_HERSTELLUNG_VON_WASSERSTOFF_IN_STROMKOSTENINTENSIVEN_UNTERNEHMEN
        - ENFG_SCHIENENBAHNEN
        - ENFG_ELEKTRISCHE_BETRIEBENE_BUSSEN_IM_LINIENVERKEHR
        - ENFG_LANDSTROMANLAGEN
        - AENDERUNG_DER_DATEN
        - KEINE_AENDERUNG_DER_DATEN
    AvisTyp:
      title: AvisTyp
      type: string
      enum:
        - ABGELEHNTE_FORDERUNG
        - ZAHLUNGSAVIS
    BankverbindungVerwendungszweck:
      title: BankverbindungVerwendungszweck
      type: string
      enum:
        - BV_ZAHLUNG_NNA
        - BV_ZAHLUNG_MMMA
        - BV_ZAHLUNG_MSB_ABRECHNNUNG
        - BV_ZAHLUNG_ENT_SPERREN_ABRECHNUNG
        - BV_SONSTIGE
    BDEWArtikelnummer:
      title: BDEWArtikelnummer
      type: string
      enum:
        - LEISTUNG
        - LEISTUNG_PAUSCHAL
        - GRUNDPREIS
        - REGELENERGIE_ARBEIT
        - REGELENERGIE_LEISTUNG
        - NOTSTROMLIEFERUNG_ARBEIT
        - NOTSTROMLIEFERUNG_LEISTUNG
        - RESERVENETZKAPAZITAET
        - RESERVELEISTUNG
        - ZUSAETZLICHE_ABLESUNG
        - PRUEFGEBUEHREN_AUSSERPLANMAESSIG
        - WIRKARBEIT
        - SINGULAER_GENUTZTE_BETRIEBSMITTEL
        - ABGABE_KWKG
        - ABSCHLAG
        - KONZESSIONSABGABE
        - ENTGELT_FERNAUSLESUNG
        - UNTERMESSUNG
        - BLINDMEHRARBEIT
        - ENTGELT_ABRECHNUNG
        - SPERRKOSTEN
        - ENTSPERRKOSTEN
        - MAHNKOSTEN
        - MEHR_MINDERMENGEN
        - INKASSOKOSTEN
        - BLINDMEHRLEISTUNG
        - ENTGELT_MESSUNG_ABLESUNG
        - ENTGELT_EINBAU_BETRIEB_WARTUNG_MESSTECHNIK
        - AUSGLEICHSENERGIE
        - AUSGLEICHSENERGIE_UNTERDECKUNG
        - ZAEHLEINRICHTUNG
        - WANDLER_MENGENUMWERTER
        - KOMMUNIKATIONSEINRICHTUNG
        - TECHNISCHE_STEUEREINRICHTUNG
        - PARAGRAF_19_STROM_NEV_UMLAGE
        - BEFESTIGUNGSEINRICHTUNG
        - OFFSHORE_HAFTUNGSUMLAGE
        - FIXE_ARBEITSENTGELTKOMPONENTE
        - FIXE_LEISTUNGSENTGELTKOMPONENTE
        - UMLAGE_ABSCHALTBARE_LASTEN
        - MEHRMENGE
        - MINDERMENGE
        - ENERGIESTEUER
        - SMARTMETER_GATEWAY
        - STEUERBOX
        - MSB_INKL_MESSUNG
        - ZUSATZDIENSTLEISTUNG_PARAGRAPH_35_2_1_MSBG
        - ZUSATZDIENSTLEISTUNG_PARAGRAPH_35_2_2_MSBG
        - ZUSATZDIENSTLEISTUNG_PARAGRAPH_35_2_3_MSBG
        - ZUSATZDIENSTLEISTUNG_PARAGRAPH_35_2_4_MSBG
        - ZUSATZDIENSTLEISTUNG_PARAGRAPH_35_2_5_MSBG
        - ZUSATZDIENSTLEISTUNG_PARAGRAPH_35_3_MSBG
        - ENTGELT_KAPAZITAETEN
    BeauftragungMsb:
      title: BeauftragungMsb
      type: string
      enum:
        - VERTRAG_AN_MSB
        - VERTRAGSBEENDIGUNG_MSB
    Befestigungsart:
      title: Befestigungsart
      type: string
      enum:
        - STECKTECHNIK
        - DREIPUNKT
        - HUTSCHIENE
        - EINSTUTZEN
        - ZWEISTUTZEN
    Bemessungsgroesse:
      title: Bemessungsgroesse
      type: string
      enum:
        - WIRKARBEIT_EL
        - LEISTUNG_EL
        - BLINDARBEIT_KAP
        - BLINDARBEIT_IND
        - BLINDLEISTUNG_KAP
        - BLINDLEISTUNG_IND
        - WIRKARBEIT_TH
        - LEISTUNG_TH
        - VOLUMEN
        - VOLUMENSTROM
        - BENUTZUNGSDAUER
        - ANZAHL
    BerechnungsformelNotwendigkeit:
      title: BerechnungsformelNotwendigkeit
      type: string
      enum:
        - BERECHNUNGSFORMEL_NOTWENDIG
        - BERECHNUNGSFORMEL_MUSS_ANGEFRAGT_WERDEN
        - BERECHNUNGSFORMEL_TRIVIAL
        - BERECHNUNGSFORMEL_NICHT_NOTWENDIG
    BerichtStatus:
      title: BerichtStatus
      type: string
      enum:
        - ERFOLGREICH
        - FEHLER
    Betriebszustand:
      title: Betriebszustand
      type: string
      enum:
        - GESPERRT_NICHT_ENTSPERREN
        - GESPERRT
        - REGELBETRIEB
    Bilanzierungsmethode:
      title: Bilanzierungsmethode
      type: string
      enum:
        - RLM
        - SLP
        - TLP_GEMEINSAM
        - TLP_GETRENNT
        - PAUSCHAL
        - IMS
    Bilanzkreiszuordnung:
      title: Bilanzkreiszuordnung
      type: string
      enum:
        - ERFOLGREICH
        - GESCHEITERT
    BildungTranchengroesse:
      title: BildungTranchengroesse
      type: string
      enum:
        - PROZENTUAL
        - AUFTEILUNGSFAKTOR
    BOTyp:
      title: BOTyp
      type: string
      description: Typ des BO
      enum:
        - ANSPRECHPARTNER
        - AVIS
        - ENERGIEMENGE
        - GESCHAEFTSOBJEKT
        - GESCHAEFTSPARTNER
        - MARKTLOKATION
        - MARKTTEILNEHMER
        - MESSLOKATION
        - ZAEHLER
        - KOSTEN
        - TARIF
        - PREISBLATT
        - PREISBLATTNETZNUTZUNG
        - PREISBLATTMESSUNG
        - PREISBLATTUMLAGEN
        - PREISBLATTDIENSTLEISTUNG
        - PREISBLATTKONZESSIONSABGABE
        - ZEITREIHE
        - LASTGANG
        - HANDELSUNSTIMMIGKEIT
        - ANFRAGE
        - AUFTRAG
        - STATUSMITTEILUNG
        - BERECHNUNGSFORMEL
        - RECHNUNG
        - BILANZIERUNG
        - NETZNUTZUNGSVERTRAG
        - MESSSTELLENBETRIEBSVERTRAG
        - ENERGIELIEFERVERTRAG
        - SPERRAUFTRAG
        - ANGEBOT
        - TRANCHE
        - KOMMUNIKATIONSDATEN
        - ZAEHLZEITDEFINITION
        - SCHALTZEITDEFINITION
        - LEISTUNGSKURVENDEFINITION
        - NETZLOKATION
        - STEUERBARE_RESSOURCE
        - TECHNISCHE_RESSOURCE
        - AD_HOC_STEUERKANAL
        - LOKATIONSBUENDEL
        - WERTE_NACH_TYP2
        - REKLAMATION
        - STATUSBERICHT
        - VERTRAG
        - BILANZKREIS
        - VERWENDUNGSZEITRAUM
        - TARIFINFO
    Datenqualitaet:
      title: Datenqualitaet
      type: string
      enum:
        - DATEN
        - ERWARTETE_DATEN
        - IM_SYSTEM_VORHANDENE_DATEN
        - INFORMATIVE_DATEN
        - GUELTIGE_DATEN
        - KEINE_DATEN
        - IM_SYSTEM_KEINE_DATEN_VORHANDEN
        - KEINE_DATEN_ERWARTET
        - DIFFERENZ_DATEN
        - DIFFERENZ_ERWARTETE_DATEN
        - DIFFERENZ_IM_SYSTEM_VORHANDENE_DATEN
    DefinitionenNotwendigkeit:
      title: DefinitionenNotwendigkeit
      type: string
      enum:
        - ZAEHLZEITDEFINITIONEN_WERDEN_VERWENDET
        - ZAEHLZEITDEFINITIONEN_WERDEN_NICHT_VERWENDET
        - DEFINITIONEN_WERDEN_VERWENDET
        - DEFINITIONEN_WERDEN_NICHT_VERWENDET
    DefinitionsTyp:
      title: DefinitionsTyp
      type: string
      enum:
        - ZAEHLZEIT
        - SCHALTZEIT
        - LEISTUNGSKURVEN
    Dienstleistungstyp:
      title: Dienstleistungstyp
      type: string
      enum:
        - DATENBEREITSTELLUNG_TAEGLICH
        - DATENBEREITSTELLUNG_WOECHENTLICH
        - DATENBEREITSTELLUNG_MONATLICH
        - DATENBEREITSTELLUNG_JAEHRLICH
        - DATENBEREITSTELLUNG_HISTORISCHE_LG
        - DATENBEREITSTELLUNG_STUENDLICH
        - DATENBEREITSTELLUNG_VIERTELJAEHRLICH
        - DATENBEREITSTELLUNG_HALBJAEHRLICH
        - DATENBEREITSTELLUNG_MONATLICH_ZUSAETZLICH
        - DATENBEREITSTELLUNG_EINMALIG
        - AUSLESUNG_2X_TAEGLICH_FERNAUSLESUNG
        - AUSLESUNG_TAEGLICH_FERNAUSLESUNG
        - AUSLESUNG_LGK_MANUELL_MSB
        - AUSLESUNG_MONATLICH_SLP_FERNAUSLESUNG
        - AUSLESUNG_JAEHRLICH_SLP_FERNAUSLESUNG
        - AUSLESUNG_MDE_SLP
        - ABLESUNG_MONATLICH_SLP
        - ABLESUNG_VIERTELJAEHRLICH_SLP
        - ABLESUNG_HALBJAEHRLICH_SLP
        - ABLESUNG_JAEHRLICH_SLP
        - AUSLESUNG_SLP_FERNAUSLESUNG
        - ABLESUNG_SLP_ZUSAETZLICH_MSB
        - ABLESUNG_SLP_ZUSAETZLICH_KUNDE
        - AUSLESUNG_LGK_FERNAUSLESUNG_ZUSAETZLICH_MSB
        - AUSLESUNG_MOATLICH_FERNAUSLESUNG
        - AUSLESUNG_STUENDLICH_FERNAUSLESUNG
        - ABLESUNG_MONATLICH_LGK
        - AUSLESUNG_TEMERATURMENGENUMWERTER
        - AUSLESUNG_ZUSTANDSMENGENUMWERTER
        - AUSLESUNG_SYSTEMMENGENUMWERTER
        - AUSLESUNG_VORGANG_SLP
        - AUSLESUUNG_KOMPAKTMENGENUMWERTER
        - AUSLESUNG_MDE_LGK
        - SPERRUNG_SLP
        - ENTSPERRUNG_SLP
        - SPERRUNG_RLM
        - ENTSPERRUNG_RLM
        - MAHNKOSTEN
        - INKASSOKOSTEN
    Energieerfassung:
      title: Energieerfassung
      type: string
      enum:
        - SEPARAT_ERFASSEN
        - NICHT_SEPARAT_ERFASSEN
    Energierichtung:
      title: Energierichtung
      type: string
      enum:
        - AUSSP
        - EINSP
    ErmittlungLeistungsmaximum:
      title: ErmittlungLeistungsmaximum
      type: string
      enum:
        - VERWENDUNG_HOCHLASTFENSTER
        - KEINE_VERWENDUNG_HOCHLASTFENSTER
    Erzeugungsart:
      title: Erzeugungsart
      type: string
      enum:
        - EEG
        - KWK
        - EEG_DV
        - KWK_DV
        - WIND
        - SOLAR
        - KERNKRAFT
        - WASSER
        - GEOTHERMIE
        - BIOMASSE
        - KOHLE
        - GAS
        - SONSTIGE
        - SONSTIGE_EEG
        - SONSTIGE_ERZEUGUNGSART
    Fallgruppenzuordnung:
      title: Fallgruppenzuordnung
      type: string
      enum:
        - GABI_RLMmT
        - GABI_RLMoT
        - GABI_RLMNEV
    FehlerCode:
      title: FehlerCode
      type: string
      enum:
        - ID_UNBEKANNT
        - ABSENDER_NICHT_ZUGEORDNET
        - EMPFAENGER_NICHT_ZUGEORDNET
        - GERAET_UNBEKANNT
        - OBIS_UNBEKANNT
        - REFERENZIERUNG_FEHLERHAFT
        - TUPEL_UNBEKANNT
        - ABSENDER_TUPEL_NICHT_ZUGEORDNET
        - EMPFAENGER_TUPEL_NICHT_ZUGEORDNET
[...]
